<div>
  <ul class="breadcrumb">
     <li><%= link_to 'Home',dashboard_home_index_path %></li>

     <li><%= link_to 'Student Details',students_path %></li>
      <li><%= link_to 'Student Profile',profile_student_path(@student.id)%></li>
	<li><%= link_to 'Guardians Details',dispguardian_students_path(@student.id)%></li>

     <li>Edit Parent/guardian details</li>
  </ul>
</div>
<font color="red">Fields Marked with * must be filled</font>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="box col-md-10">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Edit Parent details</h2>
       
      </div>

 <div class="box-content">


<%= form_for [@student,@guard] do |f|%>

<% if @guard.errors.any? %>
  			 <div class="alert alert-danger" style="width:500px" >
    			<h2>Error prohibited to being saved:</h2>
    			<ul>
					 <% @guard.errors.full_messages.each do |msg| %>
      				<li style="width:500px" align="left"><%= msg %></li>
    				<% end %>
    			</ul>
    			<% end %>
  		</div>
 <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
      <div class="form-group">
				<%= f.label :first_name %><span class="necessary-field">*</span>
		    	<%= f.text_field :first_name,class: "form-control" %></div>

		    	<div class="form-group">
			<%= f.label :last_name %><span class="necessary-field">*</span><%= f.text_field :last_name,class: "form-control" %></div>

			<div class="form-group">
			<%= f.label :relation%><span class="necessary-field">*</span><%= f.text_field :relation,class: "form-control" %>
			</div>

			<div class="form-group">
			<%= f.label :email %><%= f.text_field :email,class: "form-control" %>
			</div>

			<div class="form-group">
			<%= f.label :office_phone1 %><%= f.text_field :office_phone1,class: "form-control"%>
			</div>

			<div class="form-group">
			<%= f.label :office_phone2 %>
			<%= f.text_field :office_phone2,class: "form-control"%>
			</div>

			<div class="form-group">
			<%= f.label :office_address_line1 %><%= f.text_field :office_address_line1,class: "form-control"%>
			</div>
			</div>
			<div class="col-md-4">
			<div class="form-group">
		   <%= f.label :office_address_line2 %><%= f.text_field :office_address_line2,class: "form-control"%>
		   </div>

		   <div class="form-group">
		   <%= f.label :city%><%= f.text_field :city,class: "form-control"%>
		   </div>

			<div class="form-group">
			<%= f.label :country%><span class="necessary-field">*</span><%=f.select :country_id, Country.all.collect{|c| [c.name, c.id]},{prompt:true},{class: "form-control"}%></div>
		    
		    <div class="form-group">
	 		<%= f.label :dob%><%= f.date_field :dob,class: "form-control"%>
	 		</div>

	 		<div class="form-group">
	 		<%= f.label :occupation%><%= f.text_field :occupation,class: "form-control"%></div>

			<div class="form-group">
			<%= f.label :income%><%= f.text_field :income,class: "form-control"%>
			</div>

			<div class="form-group">
			<%= f.label :education%><%= f.text_field :education,class: "form-control"%></div>
			

			<div class="form-group">
			<%= f.submit 'Update', class: "btn btn-primary"%></div>
			</div>

<% end %>
	 
</div>
</div>
</div>
</div>
</div>


