
<div id="content-header">
  <h1>School News</h1>
  <h3>Latest announcements</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0),newscasts_path(@newscast)  %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'Add', new_newscast_path %></li>
  </ul>
</div>



<div id="page-yield">

<div id="box">
<div id="content_wrapper">
   <div class="bread_crumb">
   <%= link_to 'Home', home_dashboard_path %> &raquo;
        <%= link_to 'News', newscasts_path %> &raquo;
        <%= 'View all' %>
        </div></div></div>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

<% if @newscasts.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
  <div id="all_news">
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td>
          Sl no.
        </td>
        <td>
          Title
        </td>
        <td>
          Author
        </td>
        <td>
          Comments
        </td>
        <td>
          Posted
        </td>
      </tr>
      <tr class="tr-blank"></tr>
      <% sr_no=1 %>
      <% @newscasts.each do |n| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1">
            <%= sr_no %>
          </td>
          <td class="col-3">
            <%=  link_to n.title, newscast_path(n) %>
          </td>
          <td class="col-3">
            <%#= n.author.username %>
          </td>
          <td class="col-1">
            <%= n.comments.size %>
          </td>
          <td class="col-3">
            <%= time_ago_in_words(n.created_at) %> ago
          </td>
        </tr>
        <% sr_no+=1 %>
      <% end %>

    </table>
<%end%>
  </div>
