<div id="content-header">
  <h1>Add News</h1>
  <h3>Publish school news</h3>
  <div id="app-back-button">
	 <%= link_to image_tag("buttons/back.png",:border => 0),:back %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
<div id="box">
<div class="bread_crumb">
 <%= link_to 'Home', home_dashboard_path %> &raquo;
        <%= link_to 'News', newscasts_path %> &raquo;
        <%= 'Add' %></div>

  <%= form_for :newscast, url: newscasts_path do |f| %>


  <% if @newscast.errors.any?%>
      <div class ="errorExplanation" id="error_explanation">
        <ul>
          <% @newscast.errors.full_messages.each do |msg| %>
          <li style="width:300px"><%= msg%></li>
          <% end %>
        </ul> 
      </div>
  <% end %>


    <div class="news_label_field">
      <%=f.label :Title %></div>
      <div><%= f.text_field :title,style: 'width:100%'%></div><br/>

    <div class="news_label_field">
     <%=f.label :Content %></div>
      <div><%= f.text_area :content, style: 'width:100%'%>
        </div><br/>
    <div align="center"><%= f.submit :'Publish News', class: "btn btn-success", data: { disable_with: "Please wait" }%> </div>
  <% end %>
</div>
</div>
