<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
   <li><%= link_to 'News', newscasts_path %></li>
    
    <li><%= @newscast.title %></li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%>
</div>
<br/>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Edit News', edit_newscast_path(@newscast), class: "btn btn-primary-link btn-xs"%>
      <%= link_to 'Delete News',newscast_path(@newscast),method: :delete, class: "btn btn-primary-link btn-xs", data: { confirm: "Are you sure delete New: #{@newscast.title}?" } %>
    </div>
  </div>
</div>

<hr>

 <div class="col-md-6">
 <div class="box-inner">
    <div class="box-header well" data-original-title="">
          <h2><%= @newscast.title %></h2>
    </div>


    <div class="box-content">
       <b> Posted on</b>&nbsp<%= @newscast.created_at.strftime("%A, %d %B, %Y") %>
   
       <br>
      <h4> <%= sanitize @newscast.content , :tags => %w[b i a h1 h2 h3 u strike p], :attributes => %w[href]%></h4>
        
     <hr>
   
 <%= form_for([@newscast, @newscast.comments.build]) do |f| %>
      <% if @comment.errors.any?%>
          <div class ="errorExplanation" id="error_explanation">
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
              <li style="width:300px"><%= msg%></li>
              <% end %>
            </ul> 
          </div>
      <% end %><br/>
         
       
        <%= f.text_field :statement,class: "form-control",placeholder: "Leave a comment"%><br><%= f.submit 'Comment', class: "btn btn-success" %>
       

    <% end %>
    
  </div>
  </div>
  </div>

  <div class="col-md-6">
       
         <div class="box-inner">
        <div class="box-header well" data-original-title="">
        
         <h2>Comments</h2>
         </div>

             
        </ul>
       

      <div class="box-content">
      <ul id="comments-list">
           <%= render @newscast.comments.order(created_at: :desc) %>
          
           <h3 id="comments-heading"></h3>
          </ul>
  


          
      </div>
         


</div>
</div>
		  

