<div id="content-header">
   <h1>Timetable</h1>
  <h3>Home</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

 
 <div class="container">
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Create weekdays",'/weekdays',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
        Create weekdays
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
         <%= link_to "Set class timings",'/class_timings',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
          Select a class and edit the timetable for that class
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to " Work Allotment",'/time_tables/work_allotment',style: 'color:black' %>     
         </div>
          <div class="panel-body" style="height:70px">
          Assign subjects to teachers.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
        <%= link_to "Create Timetable",'/time_tables/new_timetable',style: 'color:black'%>
          </div>
          <div class="panel-body" style="height:70px">
         Create timetable for all the classes.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-bottom:30px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Edit Timetable",time_tables_edit_timetable_path,style: 'color:black' %>     
         </div>
          <div class="panel-body" style="height:70px">
          Select a class and edit the timetable for that class.
         </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "View Timetables", '/time_tables/new',style: 'color:black'%></div>
          <div class="panel-body" style="height:70px">
         View the timetable for a class.
          </div>
        </div>
      </div>
     
   <div class="col-md-2"></div>
    </div>  
    <div class="row" style="margin-bottom:30px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
           <%= link_to " Teacher Timetable", '/time_tables/teachers_timetable',style: 'color:black' %>    
         </div>
          <div class="panel-body" style="height:70px">
           View timetable for teachers.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Institutional Timetable",'/time_tables/timetable',style: 'color:black' %> 
          </div>
          <div class="panel-body" style="height:70px">
         View the entire timetable for a day
          </div>
        </div>

      </div>