<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Timetable',time_tables_path %></li>
    
    <li>New Timetable</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>


<div class="row">
  <div class="box col-md-9">
  <div class="box-inner">
    <div class="box-header well" data-original-title="">
      <h2>New Timetable</h2>
    </div>
    <hr/>
    <div class="box-content">
<%=form_for @time_table do |f| %>
  <fieldset>

     <% if  @time_table.errors.any? %>
          <div class="alert alert-danger alert-dismissable">
             
            <ul><%@time_table.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            </div>
        <% end %>
        <div class="col-md-2"></div>
     <div class="col-md-8">
                  <div class="form-group">
                  <b>Start Date:</b>
                &nbsp;
          <%= f.date_select :start_date,:use_month_numbers=>true,:start_year => Date.current.year-1, :end_year => Date.current.year+1,:order=>[:day,:month,:year]%></div>
       <div class="form-group">
         <b>End Date:</b>
            &nbsp;&nbsp;&nbsp;
        
          <%= f.date_select :end_date,:use_month_numbers=>true,:start_year => Date.current.year-1,:end_year => Date.current.year+1,:order=>[:day,:month,:year]%>
       </div>
          <br>
              <div class="col-sm-8 col-sm-offset-4"> 
                <div class="form-actions">
        <%= f.submit 'Create', class: "btn btn-primary"%>
            </div>
            </div>
                
              </div>
            </fieldset>
  <% end %>
</div>
</div>
</div>
</div>


