<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Timetable',time_tables_path %></li>
     <li><%= link_to 'Edit Timetable',edit_timetable_time_tables_path %></li>
  
    
    <li>Update Timetable</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Edit entries',time_table_entries_path(@time_table), class: "btn btn-primary-link btn-xs" %>
     <%=link_to 'Delete',time_table_delete_time_tables_path(@time_table), method: :delete, data:{ confirm: "Are you sure to delete"}, class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="box col-md-9 col-md-offset-1">
  <div class="box-inner">
    <div class="box-header well" data-original-title="">
      <h2>Edit Timetable</h2>
    </div>
   <hr/>
    <div class="box-content">
     <%=form_for @time_table,url:{action:'update_timetable_values',format:@time_table} do |f| %>
       <fieldset>
   <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="form-group">
        <div class="col-md-3"> <b>Start Date:</b></div>
              
          <div class="col-md-7">  <%= f.date_select :start_date,:use_month_numbers=>true,:start_year=>1.years.ago.year,:end_year=>1.years.since.year,:order=>[:day,:month,:year],:include_blank => false %>
          </div>
      </div>
     <br>
      <div class="form-group">
        <div class="col-md-3"><b>End Date:</b></div>
           
          <div class="col-md-7"> <%= f.date_select :end_date,:use_month_numbers=>true,:start_year=>1.years.ago.year,:end_year=>1.years.since.year,:order=>[:day,:month,:year],:include_blank => false %>
          </div>
       </div>
       <br><br>
          <div class="col-md-offset-4"> 
            <div class="form-actions">
        <%=f.submit :"Update",class:"btn btn-primary" %>
            </div>
            </div>
        </div>
      </fieldset>
  <% end %>
</div>
</div>
</div>
</div>


