<% @students.each do |student| %>
<table>
<tbody>
<tr><td colspan="4" style="background-color:white"></td></tr>
<tr>
    <td class="col-2">student NAme</td><td class="col-2"><%= student.first_name %></td>
    <td colspan="2"></td>
</tr>
<tr>
    <td class="col-2">Admission Date </td><td class="col-2"><%= student.admission_date %></td>
    <td colspan="2"></td>
</tr>
<tr>
    <td class="col-2">Date of birth</td><td class="col-2"><%= student.date_of_birth%></td>
    <td colspan="2"></td>
</tr>
<tr>
    <td class="col-2">Blood group</td><td class="col-2"><%= student.blood_group %></td>
    <td colspan="2"></td>
</tr>
<tr>
    <td class="col-2">Gender</td><td class="col-2"><%= student.gender %></td>
    <td class="col-2">Nationality</td><td class="col-2"><%= student.nationality.name %></td>
</tr>
<tr>
    <td class="col-2">Language</td><td class="col-2"> <%= student.language %> </td>
    <td class="col-2">Category</td><td class="col-2"> <%= student.category.name %> </td>
</tr>
<tr>
    <td class="col-2">Religion</td><td class="col-2"> <%= student.religion %> </td>
    <td class="col-2">Address</td><td class="col-2"> <%= student.address_line1+" "+student.address_line2 %> </td>
</tr>
<tr>
    <td class="col-2">City</td><td class="col-2"><%= student.city %> </td>
    <td class="col-2">State</td><td class="col-2"> <%= student.state %> </td>
</tr>
<tr>
    <td class="col-2">Country</td><td class="col-2"> <%= student.country.name %> </td>
    <td class="col-2">Phone</td><td class="col-2">  <%= student.phone1 %>  </td>
</tr>
<tr>
    <td class="col-2">Mobile</td><td class="col-2"><%= student.phone2 %> </td>
    <td class="col-2">Email</td><td class="col-2"> <%= student.email %> </td>
</tr>
<tr style="background-color:white">
<td colspan="4"><%= link_to 'Edit',edit_student_path(student),class: "btn btn-primary" %>
<%= link_to 'PDF Report',students_profile_pdf_path(student),class: "btn btn-success" %></td>
</tr>
</tbody></table>
<% end %>
