<div id="content-header">
  <h1>General Setting</h1>
  <h3>Home<br/>
 <small><font color="red">Fields Marked with * must be filled</font></small></h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), '/setting' %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
  <% unless flash[:msg].nil? %>
    <div align="center" class="alert alert-success" style="width:50%"> <%= flash[:msg] %> </div>
  <% end %>

<table align="center" class="table table-hover" style="width:1000px">
<%= form_for @general_setting,method: :patch do |f| %>

<div align="center">
<% if @general_setting.errors.any?%>
      <div class="alert alert-danger" style="width:500px" >
      <h4>Errors prohibited to being update:</h4>
        <ul>
          <% @general_setting.errors.full_messages.each do |msg| %>
          <li style="width:500px" align="left"><%= msg%></li>
          <% end %>
        </ul> 
      </div>
    <% end %>
</div>

  <tbody>
    <tr>
      <td class="col-2"><%=f.label :'school/college_Name' %><span class="necessary-field">*</span></td> 
      <td><%= f.text_field :InstitutionName,:style =>"width: 310px", :placeholder=>"name" , class: "form-control" %></td></tr>
      

  <tr>

    <td class="col-2"><%= f.label :'school/college_Address' %><span class="necessary-field">*</span></td> 
    <td><%= f.text_field :InstitutionAddress,:style =>"width: 310px",:placeholder=>"Address" , class: "form-control"%></td>
    
  </tr>

  <tr>
   
    <td class="col-2"><%= f.label :'School/College_Phone' %><span class="necessary-field">*</span></td> 
    <td><%= f.text_field :InstitutionPhoneNo,:style =>"width: 310px",:placeholder=>"Phone " , class: "form-control"%></td>
    
  </tr>

  <tr>
    <td class="col-2"><%= f.label :Student_Attendance_Type %></td> 
    <td class="col-2"><%= f.select :StudentAttendanceType, ['SubjectWise','Daily'], :selected => 'SubjectWise', :style =>"width: 310px" ,:placeholder=>"Attendence" %></td>
  </tr>

  <tr>
    <td class="col-2"><%= f.label :Finance_start_year_date %></td> 
    <td class="col-2"><%= f.date_select :Finance_start_year_date, :start_year=>1999 %></td>
  </tr>
      
  <tr>
    <td class="col-2"><%= f.label :Finance_end_year_date %></td> 
    <td class="col-2"><%= f.date_select :Finance_end_year_date, :end_year=>2019%></td>
  </tr>

  <tr>
    <td class="col-2"><%= f.label :Language %></td> 
    <td class="col-2"><%= f.select :Language, ['English','Spanish','मराठी','हिंदी','العربية'], :selected => 'English',  :style => "width:310px" %></td>
  </tr>

  <tr>

    <td class="col-2"><%= f.label :Time_Zone %></td> 
    <td class="col-2"><%= f.select :TimeZone, ['Greeneich Mean Time(GMT-GMT+00:00)','Eastern European Time(EET) - GMT+02:00','Pakistan Lahore Time(PLT) - GMT+05:00','Indian Standard Time(IST) - GMT+05:30','Australia Eastern Time(AET) - GMT+10:00'], :selected => 'Indian Standard Time(IST) - GMT+05:30',  :style => "width:310px", class: "dropdown-toggle" %></td>
  </tr>

  <tr>
    <td class="col-2"><%= f.label :Country %></td> 
    <td class="col-2"><%= f.select :Country, ['Afghanistan','Bangladesh','Canada','India','Nepal'], :selected => 'India',  :style => "width:310px" %></td>
  </tr> 
  <tr>
    <td class="col-2"><%= f.label :Upload_Logo %></td> 
    <td class="col-2"><%= f.file_field :image %></td>
  </tr>
  <tr>
    <td class="col-2"><%= f.label :Network_State %></td> 
    <td class="col-2"><%= f.select :NetworkState, ['Online','Offline'], :selected => 'Online', :style =>"width: 310px" %></td>
  </tr>
  <tr>
    <td class="col-2"><%= f.label :Include_Grading_Systems %></td> 
    <td class="col-2">
    Select: <%= link_to "All",general_settings_all_path,remote:true%>
        <%= link_to "None",general_settings_none_path,remote:true%>
        <p id="grading_system"><%= render 'grading_type'%></p>
      </td>
  </tr>
    <tr><td></td>
      <td class="col-2"> <%= f.check_box :AddmissionNumberAutoIncreament, {:checked=>true} %>  <%= label_tag(:Enable_Auto_increment_Student_admission_no, "Enable Auto increment Student admission no. ") %>
      </td>
    </tr>
    <tr><td></td>
    <td class="col-2"> <%= f.check_box :EmployeeNumberAutoIncreament, {:checked=>true} %> 
        <%= label_tag(:Enable_Auto_increment_Employee_no, "Enable Auto increment Employee no. ") %>
    </td>
    </tr>
    <tr><td></td>
        <td class="col-2"> <%= f.check_box :EnableNewsCommentModeration, {:checked=>false} %> 
        <%= label_tag(:Enable_News_Comment_Moderation, "Enable News Comment Moderation") %>
        </td> 
    </tr>
    <tr><td colspan="2">
    <%= f.submit :'Update',  class: "btn btn-success"%> 
    
    </td>
    </tr>
    
</table>

 <% end %>
</div>