<h2>Data stored in database</h2>

<table border="2">	
	<tr>
	<td>InstitutionName:</td><td> <%= @general_setting.institution_name%></td></tr>
	<tr><td>InstitutionAddress: </td><td><%= @general_setting.institution_address%></td></tr>
	<tr><td>InstitutionPhoneNo: </td><td><%= @general_setting.institution_phone_no%></td></tr>
	<tr><td>StudentAttendanceType:</td><td> <%= @general_setting.student_attendance_type%></td>
	</tr>

	<tr><td>Language:</td><td> <%= @general_setting.language%></td>
	</tr>

	<tr><td>TimeZone:</td><td> <%= @general_setting.time_zone%></td>
	</tr>

	<tr><td>Country:</td><td> <%= @general_setting.country%></td>
	</tr>
	<tr><td>NetworkState:</td><td> <%= @general_setting.network_state%></td>
	</tr>

</table>
<%= link_to 'previous page', new_general_setting_path%>