<% unless flash[:notice1].nil? %> <p class="flash-msg"> <%= flash[:notice1] %> </p><% end %>
<div align="center">
<ul class="errors1"></ul>
	<%= form_for @employee_category_new, url:{action:'add_category'},remote:true do |c|%>
		<div><%= c.label :Name%>
		<%= c.text_field :name%></div>
		<div><%= c.label :prefix%>
		<%= c.text_field :prefix%></div>
		<div><%= c.label :Status%> <%= c.radio_button "status", "true", checked: "checked" %> <%=c.label :Active%> 
		<%= c.radio_button "status", "false"%> <%=c.label :Inactive%>
		</div>

		<div>
			<%= c.submit 'Create'%>
		</div>
	<%end%>


</div>
<% if @categories1.empty? and @categories2.empty?%>
<h3 align="center">No records</h3>
<%else%>
<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Active category</th>
    </tr>
	<tbody class="product-index">

	<%@categories1.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%> (<%=c.prefix%>)</td>
			<td><%= link_to 'edit', employees_edit_category_path(c),remote:true%></td>
			<td><%= link_to 'delete' ,employees_destroy_category_path(c),remote:true,method: :delete, data: { confirm: "Are you sure to delete"}%></td>	 
			</tr>
		<%end%>

		
	 </tbody>
</table>

<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Inactive category</th>
    </tr>
	<tbody class="product-index">

	<%@categories2.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%> (<%=c.prefix%>)</td>
			<td><%= link_to 'edit', employees_edit_category_path(c),remote:true%></td>
			<td><%= link_to 'delete' ,employees_destroy_category_path(c),remote:true,method: :delete, data: { confirm: "Are you sure to delete"}%></td>	 
			</tr>
		<%end%>

		
	 </tbody>
</table>
<%end%>

 
