
<div id="payslip">
   
        <table id="listing" width="100%">
          <tr class="tr-head">
            <td><%= t('sl_no') %></td>
            <td><%= t('employee_text') %></td>
            <td><%= t('employee_no') %></td>
            <td><%= t('net_salary') %></td>
            <td><%= t('payslip_status') %></td>
            <td></td>
          </tr>
         
          <tr class="tr-head">
            <td class="col-1" ><%= t('total_employees') %>: </td>
         
            <td class="col-1"><%= t('total_salary') %> : </td>
         
            <td class="col-1"><%= t('approved_salary') %>: </td>
      
          </tr>

        </table>
      
    
  </div>
</div>
