<h1>Bank Info</h1>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

<table class="table table-hover" align="center" style="width:900px">
<thead style="background-color:white">
<tr>
    <th colspan="4">
   <div id ="student_main_info">
      
   </th>
  </tr>
</thead>
<tbody>

<% unless @bank_details.empty? %>
  <% @bank_details.each do |b| %>
    <%  code = cycle('even', 'odd') %>
  <tr class="<%= code %> left"><td><%= b.bank_field.name %></td><td class="right"><%= b.bank_info%></td></tr>
  <% end %>
  <%end%>

<tr style="background-color:white">
<td colspan="4"><%= link_to 'Edit',employees_edit_profile_path(@employee),class: "btn btn-primary" %>
<%= link_to 'PDF Report','',class: "btn btn-success" %></td>
</tr>
</tbody></table>
</div>