
<div id="payslip">
        <table border="1" style="width:80%">
          <tr class="tr-head">
            <td><%= 'Sr.no' %></td>
            <td><%= 'Employee' %></td>
            <td><%= 'Employee no'%></td>
            <td><%= 'Net salary'%></td>
            <td><%= 'Payslip_status'%></td>
            <td></td>
          </tr>
          <%count=0%>
          <%tot_amount=0%>
         
          <%approved_tot=0%>
          <%approved=MonthlyPayslip.where(is_approved:'true').pluck(:amount)
                %>
                <%counter=0.to_i%>
                <%approved.each do |i|%>  
                 <%approved_tot+=approved[counter].to_f%>
                 <%counter+=1%>
               <%end%>
          
           <%@salary_dates.each do |emp|%>
          <tr>
              
               <%amount=MonthlyPayslip.where(employee_id:emp.employee_id).pluck(:amount)%>
               <%tot_amount+=amount[0].to_f%>
               <%status=MonthlyPayslip.where(employee_id:emp.employee_id).pluck(:is_approved)%>
               <%if status[0]==true%>
                    <%salary_ststus="Approved"%>
                <%else%>
                    <%salary_ststus="Pending"%>
                <%end%>
               <%@employee=Employee.find(emp.employee_id)%>
               <td><%=count+1%></td>
              
               <td><%= @employee.first_name%></td>
               <td><%= @employee.employee_number%></td>
               <td><%= '%.02f'%amount[0].to_f%></td>
               <td><%= salary_ststus%></td>
               <td><%= link_to'View',employees_view_employee_payslip_path(employee_id:emp.employee_id,salary_date:emp.salary_date)%></td> 
          </tr>
           <%count+=1%>
          <%end%>
         
          <tr class="tr-head">
            <td class="col-1" ><%= "Total employees"%>: </td>

            <td><%=count%></td>
            <td class="col-1"><%= "Total salary"%> : </td>
            <td><%=tot_amount%></td>
            <td class="col-1"><%= 'Approved salary'%>: </td>
            <td><%='%.02f'%approved_tot%></td>
          </tr>

        </table>
      
  </div>
</div>
