<h1>Contact</h1>

<div id="page-yield">  

<table class="table table-hover" align="center" style="width:900px">
<thead style="background-color:white">
<tr>
    <th colspan="4">
   <div id ="student_main_info">
      
   </th>
  </tr>
</thead>
<tbody>
<tr><td colspan="4" style="background-color:white"></td></tr>

<tr>
    <td class="col-2">Office Phone 1</td><td class="col-2"><%= @employee.office_phone1%></td>
    <td colspan="2"></td>
</tr>
<tr>
    <td class="col-2">Office Phone 2</td><td class="col-2"><%=@employee.office_phone2%></td>
    <td colspan="2"></td>
</tr>
<tr>
    <td class="col-2">Mobile</td><td class="col-2"><%=@employee.mobile_phone%></td>
    <td class="col-2"></td>
</tr>
<tr>
    <td class="col-2">Home-Phone</td><td class="col-2"> <%=@employee.home_phone%> </td>
    <td class="col-2"></td>
</tr>
<tr>
    <td class="col-2">Fax</td><td class="col-2"> <%= @employee.fax%> </td>
    <td class="col-2"></td>
</tr>


<tr style="background-color:white">
<td colspan="4"><%= link_to 'Edit',employees_edit_contact_profile_path(@employee),class: "btn btn-primary" %>
<%= link_to 'PDF Report',employees_contact_profile_pdf_path(employee_id:@employee.id,format:"pdf"),class: "btn btn-success" %></td>
</tr>
</tbody></table>
</div>