<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3><%= "Editing" %></h3>
</div>


<div class="modal-body">
<ul class="errors"></ul>
<%= form_for @employee_department,url:{:action=>'update_department',department_id: @employee_department.id},method: :patch,remote: true do |f|%>
 <table class="table" style="width:85%">
        <tr>
            <td class="col-2"><%= f.label :Name , class: "control-label"%></td>
            <td><%=f.text_field :name ,:style =>"width: 250px", class: "form-control"%></td>
        </tr>
        
        <tr>
            <td class="col-2"><%= f.label :code , class: "control-label"%></td>
             <td><%=f.text_field :code ,:style =>"width: 250px", class: "form-control"%></td>
        <tr>

       <tr><td class="col-2"><%= f.label :status , class: "control-label"%></td>
             <td><%= f.radio_button "status", "true", checked: "checked" %><%=f.label :Active%>
            <%= f.radio_button "status", "false"%><%=f.label :Inactive%></td>
        <tr>


        <td colspan="2"><%= f.submit 'Update', class: "btn btn-primary"%>
        	<%= link_to 'cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%></td>
        </tr>
    </table>
<% end %>

</div></div></div>