<% unless flash[:notice6].nil? %> <p class="flash-msg"> <%= flash[:notice6] %> </p><% end %>
<div align="center">
<ul class="errors6"></ul>	
</div>

<%= form_for @employee_grade_new ,url:{action:'add_grade'},remote:true do |f| %>
	<table class="table" 	style="width:500px" align="center">
	<tbody>

        <tr><td><%=f.label :Name %></td>
        <td><%= f.text_field :name %></td></tr>


    
        <tr><td> <%= f.label :'Priority' %></td>
        <td><%= f.text_field :priority%></td></tr>
    
    
        <tr><td><%= f.label :'Max periods per day' %></td>
        <td><%= f.text_field :max_hours_day%></td></tr>
    
        <tr><td><%=f.label :'Max periods per week'%></td>
        <td><%=f.text_field :max_hours_week%></td></tr>
    
         
		<tr>
			<td><%= f.label :Status%> </td>
			<td><%= f.radio_button "status", "true", checked: "checked" %> <%=f.label :Active%> 
			<%= f.radio_button "status", "false"%> <%=f.label :Inactive%></td>
		</tr>
    
    <tr><td colspan="5"><%= f.submit 'Create'%></td></tr>


</tbody>
</table>
<% end %>

<%if @grade1.empty? and @grade2.empty?%>
<h3><div align="center">No records</div></h3>
<%else%>
<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Active Grade</th>
    </tr>
	<tbody>
		<%@grade1.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%> (<%=c.priority%>)</td>
			 <td><%= link_to 'Edit',employees_edit_grade_path(c),remote:true%></td>
			 <td><%= link_to 'Delete',employees_destroy_grade_path(c),remote:true,method: :delete ,data: {confirm:"Are you sure to delete #{c.name}"}%></td>
			</tr>
		<%end%>
	 </tbody>
</table>
 
<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Inactive Grade</th>
    </tr>
	<tbody>
		<%@grade2.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%> (<%=c.priority%>)</td>
			<td><%= link_to 'Edit', employees_edit_grade_path(c),remote:true%></td>
			<td><%= link_to 'Delete' ,employees_destroy_grade_path(c),remote:true,method: :delete,data:{confirm:"Are you sure to delete #{c.name}"}%></td>	
			</tr>
		<%end%>
	 </tbody>
</table>
<%end%>