
<ul class="errors6"></ul>	

<%= form_for @employee_grade_new ,url:{action:'add_grade'},remote:true do |f| %>
	<table class="table" style="width:500px" align="center">
	<tbody>

        <tr><td><%=f.label :Name %></td>
        <td><%= f.text_field :name %></td></tr>


    
        <tr><td> <%= f.label :'Priority' %></td>
        <td><%= f.text_field :priority%></td></tr>
    
    
        <tr><td><%= f.label :'Max periods per day' %></td>
        <td><%= f.text_field :max_hours_day%></td></tr>
    
        <tr><td><%=f.label :'Max periods per week'%></td>
        <td><%=f.text_field :max_hours_week%></td></tr>
    
         
		<tr>
			<td><%= f.label :Status%> </td>
			<td><%= f.radio_button "status", "true", checked: "checked" %> <%=f.label :Active%> 
			<%= f.radio_button "status", "false"%> <%=f.label :Inactive%></td>
		</tr>
    
    <tr><td colspan="5" align="center"><%= f.submit 'Create', class: "btn btn-primary"%></td></tr>


</tbody>
</table>
<% end %>