<%= form_for :salery_slip,url:{action:'create_monthly_payslip',format:@employee} do |f| %>
<div class="box-inner">
  <div class="box-header well">
	
      <h2> <%= "#{@employee.first_name} #{@employee.last_name}" "(#{@employee.employee_number})" %>  </h2>
      
    </div>
<div class="box-content">
<fieldset>
<table  class="table table-bordered" >
   
    <tbody>
    
   	<tr>     
          <td ><h4><%=f.label :"Salery Date" %>:<span class="necessary-field">*</span></h4></td>
          <td ><%=f.date_field :salery_date,:value => Time.now.strftime('%Y-%m-%d'),class: "form-control",style: "width:250px"%></td>
     </tr>
   <tr></tr>
      <%@independent_categories.each do |c| %>
      <% val = EmployeeSaleryStructure.find_by_employee_id_and_payroll_category_id(@employee, c) -%>
        
          <% if c.payroll_category_id.nil? %>
          <tr style="background-color:green">
            <td ><h4><%= f.label :""%><%=c.name%>:</h4></td>
            <td ><%= text_field_tag "amounts[#{val.nil? ? 0.00 : val.amount.to_f}]",val.nil? ? 0.00 : val.amount,onblur:"var a={amount:$(this).val(),employee_id:#{@employee.id},id:#{c.id}}; $.get('employee_structure',a,function(response){});",class: "form-control",style: "width:250px"%></td>
            </tr>
          <%else%>
          <tr>
            <td ><h4><%= f.label :""%><%=c.name%>:</h4></td>
            <td ><%= text_field_tag "amounts[#{val.nil? ? 0.00 : val.amount.to_f}]", val.nil? ? 0.00 : val.amount,readonly:true,class: "form-control",style: "width:250px"%></td>
            </tr>
          <%end%>
      <% end %>
   
     <tr><td colspan="2" align="center"><%=f.submit "Create",class: "btn btn-primary" %></td></tr>
</tbody>
</table>
</fieldset>
</div>
</div>
<%end%>