<div align="center">
<ul class="errors"></ul></div>
<div class="row">
<div class="col-md-3"></div>
<div class="box col-md-6">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Employee Payroll</h2>
    </div>
  <div class="box-content">
 <%= form_for @payroll_category_new, url:{action:'add_payroll_category'},remote:true do |c|%>
   <fieldset>
	 <div class="form-group">
        <%= t('Category_name')%>
         <%=c.text_field :name, placeholder: "Category_name", class: "form-control"%>
      </div>

      <div class="form-group">
        <%= t('Percentage')%>
         <%=c.text_field :percentage, placeholder: "Percentage", class: "form-control"%>
      </div>
        <div class="form-group">
       <%= c.select :payroll_category_id,PayrollCategory.all.collect {|e| [e.name,e.id]},{prompt:true},class: "form-control",style:"width:350px"%>
       </div>

      <div class="form-group">
         <%= t('Status')%>
        <%= c.radio_button "status", "true", checked: "checked" %> <%=c.label :Active%>
        <%= c.radio_button "status", "false"%> <%=c.label :Inactive%> 
       </div>
        

        <div class="form-group">
        <%= c.check_box :is_deduction%>
         <%= t('is_deduction?')%>
         </div>
   <div class="col-sm-4 col-sm-offset-4"> 
       <div class="form-actions">               
        <%= c.submit 'Create', class: "btn btn-primary"%>
      </div>
      </div>
   </fieldset>
    </div>
  </div>
 </div>
</div>
   <% if @payroll_categories1.empty? and @payroll_categories2.empty?%>
<h3 align="center">No records</h3>
<%else%>
<div class="row">
  <div class="col-sm-6">
     <div class="form-group">
       <div class="row">
        <div class="box col-md-12">
         <div class="box-inner">
          <div class="box-header well">
            <h2>Earnings</h2>
          </div>
         <div class="box-content">

      
       <table id="datatable" class="table table-striped table-bordered responsive">
         <thead>
               <tr>
                 <th>Name</th>
                 <th>Operation</th>
                 <th>Status</th>
               </tr>

             </thead>
          <tbody>
           <%@payroll_categories1.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%></td>
			<td class="center">
              <div class="label-success label label-default">
              <i class="glyphicon glyphicon-edit icon-white"></i> 
              <%= link_to 'Edit',edit_payroll_category_employee_path(c),remote: true,class: "a-action"%></div>

              <div class="label-danger label label-default">
              <i class="glyphicon glyphicon-trash icon-white"></i> 
              <%= link_to 'Delete' ,destroy_payroll_category_employee_path(c),remote: true,
                    method: :delete, data: { confirm: "Are you sure to delete #{c.name}?" },class: "a-action"%></div>
            </td>

            <% if c.status? %>
			<td>
              <div class="label-success label label-default">
             
			<%= link_to 'Active',active_payroll_category_employee_path(c),remote:true, data:{confirm: "Are you sure you want to inactivate?"},class: "a-action" %></div></td>	
			<% else %>
			<td>
			 <div class="label-danger label label-default"><%=link_to 'Inactive',inactive_payroll_category_employee_path(c),remote:true, data:{confirm: "Are you sure you want to inactivate?"},class: "a-action"%>
             </div>
			 </td>
			<%end%>


			</tr>
	    	<%end%>
          </tbody>
       </table>
      </div>
    </div>
  </div>
 </div>
</div>
</div>
   <div class="col-sm-6">
     <div class="form-group">
       <div class="row">
         <div class="box col-md-12">
           <div class="box-inner">
            <div class="box-header well">
              <h2>Deductions</h2>
             </div>
          <div class="box-content">
             <table id="datatable" class="table table-striped table-bordered responsive">
         <thead>
               <tr>
                 <th>Name</th>
                 <th>Operation</th>
                 <th>Status</th>
               </tr>

             </thead>
          <tbody>
           <% @payroll_categories2.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%></td>
			<td class="center">
              <div class="label-success label label-default">
              <i class="glyphicon glyphicon-edit icon-white"></i> 
              <%= link_to 'Edit',edit_payroll_category_employee_path(c),remote: true,class: "a-action"%></div>

              <div class="label-danger label label-default">
              <i class="glyphicon glyphicon-trash icon-white"></i> 
              <%= link_to 'Delete' ,destroy_payroll_category_employee_path(c),remote: true,
                    method: :delete, data: { confirm: "Are you sure to delete #{c.name}?" },class: "a-action"%></div>
            </td>
               <% if c.status? %>
			<td>
			  <div class="label-success label label-default">
			<%= link_to 'Active',active_payroll_category_employee_path(c),remote:true, data:{confirm: "Are you sure you want to inactivate?"},class: "a-action" %></div></td>	
			<% else %>
			<td>   <div class="label-danger label label-default">
			<%=link_to 'Inactive',inactive_payroll_category_employee_path(c),remote:true, data:{confirm: "Are you sure you want to inactivate?"},class: "a-action"%></div></td>
			<%end%>

			</tr>
	    	<%end%>
          </tbody>
       </table>
    <%end%>
 <%end%>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>