
<% if @positions1.empty? or @positions2.empty? %>
<h4 align="center">No Record Found </h4>
   <% else %>
<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Active Position</th>
    </tr>
	<tbody>
		
		<%@positions1.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%> </td>
			<td><%= link_to 'edit',''%></td>
			<td><%= link_to 'delete' ,''%></td>	 
			</tr>
		<%end%>
		  
		
	 </tbody>
</table>
 
<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Inactive Position</th>
    </tr>
	<tbody>
	
		<%@positions2.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%> </td>
			<td><%= link_to 'edit', ''%></td>
			<td><%= link_to 'delete' ,''%></td>	
			</tr>
		<%end%>
		
		   
		  	
	 </tbody>
</table>
<%end%>

