<% unless flash[:notice3].nil? %> <p class="flash-msg"> <%= flash[:notice3] %> </p><% end %>
<div align="center">
<ul class="errors3"></ul>
<%= form_for @employee_position_new, url:{action:'add_position'}, remote:true do |c|%>
	
		<div><%= c.label :Name%>
		<%= c.text_field :name%></div>

		<div><%= c.label :Employee_Category%>
			<%= c.select :employee_category_id, EmployeeCategory.all.collect {|e| [e.name,e.id]},{prompt:true}%>
		</div>
		
		<div><%= c.label :Status%> <%= c.radio_button "status", "true", checked: "checked" %> <%=c.label :Active%> 
		<%= c.radio_button "status", "false"%> <%=c.label :Inactive%>
		</div>

		<div>
			<%= c.submit 'Create'%>
		</div>
	<%end%>


</div>

<% if @positions1.empty? and @positions2.empty?%>
<h3 align="center">No records</h3>
<%else%>
<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Active Position</th>
    </tr>
	<tbody>
		
		<%@positions1.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%> (<%= c.employee_category.name%>)	</td>
			<td><%= link_to 'edit',employees_edit_position_path(c),remote:true%></td>
			<td><%= link_to 'delete' ,employees_destroy_position_path(c),remote:true,method: :delete, data: { confirm: "Are you sure to delete?"}%></td>	 
			</tr>
		<%end%>
		  
		
	 </tbody>
</table>
 
<table align="center" class="table table-hover table-bordered" style="width:800px">

	<tr class="tr-head"><th colspan="3">Inactive Position</th>
    </tr>
	<tbody>
	
		<%@positions2.each do |c| %>
			<tr>
			<td class="col-3"><%=c.name%>(<%= c.employee_category.name%>)</td>
			<td><%= link_to 'edit', employees_edit_position_path(c),remote:true%></td>
			<td><%= link_to 'delete' ,employees_destroy_position_path(c),remote:true,method: :delete, data: { confirm: "Are you sure to delete?"}%></td>	
			</tr>
		<%end%>
		
		   
		  	
	 </tbody>
</table>
<%end%>

