



<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #heading {
        width:100%;
        margin: 0 auto;
      }

      
      #head {
        height: 100px;
        width: 700px;
        text-align: center;
        font-size: 40px;
        border-color: black;

      }
      #head_info {
        text-align: center;
        font-size: 15px;
      }

    </style>
  </head>
  <body>
    <div id="heading">
      <div id="head">
        <%= @general_setting.school_or_college_name%><br/>
        <div id="head_info">
          <%= @general_setting.school_or_college_address%><br/><br/>
          <%= @general_setting.school_or_college_phone_no%>
        </div>
      </div>
      <hr>
      <br/><h3><center>Employee Profile</center></h3><br/>
     <table cellpadding="5" cellspacing="5" width="700">
        <tr><th colspan="2" bgcolor="99CCFF" align="left">Employee Details</th></tr>

        <tr>
          <td>Name : </td>
          <td><%= @employee.first_name.capitalize %> <%= @employee.middle_name.capitalize %> <%= @employee.last_name.capitalize %>
          </td>
        </tr>
        <tr>
          <td>Position : </td>
          <td><%= @employee.employee_position.name %></td>
        </tr>
        <tr>  
          <td>Department : </td>
          <td><%=  @employee.employee_department.name %> </td>
        </tr>
        <tr>
          <td>Employee no : </td>
          <td><%= @employee.employee_number %></td>
        </tr>
      </table>
      <br/><br/>
      <table cellpadding="5" cellspacing="5" width="700">
        <tr><th colspan="2" bgcolor="99CCFF" align="left">Employee Home Address Details</th></tr>
        <tr>
          <td>Home Address : </td>
          <td><%= @employee.home_address_line1%></td>
        </tr>
        <tr>
          <td>City : </td>
          <td><%= @employee.home_city%></td>
        </tr>
        <tr>  
          <td>State : </td>
          <td><%=@employee.home_state%></td>
        </tr>
        <tr>
          <td>Country : </td>
          <td><%=@home_country %></td>
        </tr>
        <tr>
          <td>Pin Code : </td>
          <td><%=@employee.home_pin_code %></td>
        </tr>
       
      </table>
      <br/><br/>
      <table cellpadding="5" cellspacing="5" width="700">
        <tr><th colspan="2" bgcolor="99CCFF" align="left">Employee Office Address Details</th></tr>
        <tr>
          <td>Office Address : </td>
          <td><%= @employee.office_address_line1%>
          </td>
        </tr>
        <tr>
          <td>City : </td>
          <td><%= @employee.office_city%></td>
        </tr>
        <tr>  
          <td>State : </td>
          <td><%=@employee.office_state%></td>
        </tr>
        <tr>
          <td>Country : </td>
          <td><%=@office_country %></td>
        </tr>
        <tr>
          <td>Pin Code : </td>
          <td><%=@employee.office_pin_code %></td>
        </tr>
        
      </table>
    </div>
  </body>
</html>

 