<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Addmission</h1>
  <h3>Step 2 - Employee details<br />
  <small><font color="red">Fields Marked with * must be filled</font></small></h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "" %>
  </div>
 <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<div id="page-yield">
  <% unless flash[:notice8].nil? %>
    <p class="flash-msg"> <%= flash[:notice8] %> </p>
  <% end %>

<table align="center" class="table table-hover" style="width:1000px">
<%= form_for (@employee),url:{action: 'admission2_create',format: @employee.id},method: :patch do |f| %>
<div align="center">
    <% if @employee.errors.any? %>
        <div class="alert alert-danger" style="width:500px" >
          <h3>Error prohibited to from being saved:</h3>
          <ul>
           <% @employee.errors.full_messages.each do |msg| %>
              <li style="width:500px" align="left"><%= msg %></li>
            <% end %>
          </ul>
          <% end %>
      </div>
 </div>

    <tbody>

    <tr><td colspan="2" class="col-2" style="background-color:white">Home Address</span>
        <hr class="sub-heading"></hr>
      </td>
      </tr>

    <tr>  
         <td class="col-2"><%=f.label :line1%><span class="necessary-field">*</span></td>
          <td class="col-2"><%=f.text_field :home_address_line1%></td>
     </tr>
    
     <tr>
     	 <td class="col-2"><%=f.label :line2%><span class="necessary-field">*</span></td>
          <td class="col-2"> <%=f.text_field :home_address_line2%></td>
     </tr>

     <tr>
     	 <td class="col-2"><%=f.label :city%><span class="necessary-field">*</span></td>
        <td class="col-2"><%=f.text_field :home_city, :required=>false%></td>
     </tr>

     <tr>
     	 <td class="col-2"><%=f.label :state%><span class="necessary-field">*</span></td>
         <td class="col-2">  <%=f.text_field :home_state%></td>
     </tr>

      <tr>

       <tr>
       <td class="col-2"><%=f.label :Country%></td>
          <td class="col-2"><%=f.select :home_country_id,Country.all.collect{|c| [c.name,c.id]}%></td>
     </tr>

      <tr>
     	 <td class="col-2"><%=f.label :"pin code"%></td>
           <td class="col-2"><%=f.text_field :home_pin_code%></td>
     </tr>

      <tr><td colspan="2" class="col-2" style="background-color:white">Office Address</span>
        <hr class="sub-heading"></hr>
      </td>
      </tr>

     <tr>
         <td class="col-2"><%=f.label :line1%></td>
          <td class="col-2"><%=f.text_field :office_address_line1%></td>
     </tr>
    
     <tr>
       <td class="col-2"><%=f.label :line2%></td>
          <td class="col-2"> <%=f.text_field :office_address_line2%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :city%></td>
        <td class="col-2"><%=f.text_field :office_city, :required=>false%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :state%></td>
         <td class="col-2">  <%=f.text_field :office_state%></td>
     </tr>


       <tr>
       <td class="col-2"><%=f.label :Country%></td>
          <td class="col-2"><%=f.select :office_country_id,Country.all.collect{|c| [c.name,c.id]}%></td>
     </tr>
      

      <tr>
       <td class="col-2"><%=f.label :"pin code"%></td>
           <td class="col-2"><%=f.text_field :office_pin_code%></td>
     </tr>
<tr><td colspan="2" class="col-2" style="background-color:white">Contact Details</span>
        <hr class="sub-heading"></hr>
      </td>
      </tr>


      <tr>
       <td class="col-2"><%=f.label :"office phone1"%></td>
          <td class="col-2"> <%=f.text_field :office_phone1%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"office_phone2"%></td>
        <td class="col-2"><%=f.text_field :office_phone2, :required=>false%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :mobile%></td>
         <td class="col-2">  <%=f.text_field :mobile_phone%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :"Home phone"%></td>
          <td class="col-2"> <%=f.text_field :home_phone%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :Fax%></td>
          <td class="col-2"> <%=f.text_field :fax%></td>
     </tr>
   
     <tr><td colspan="4"><%=f.submit "Save",class: "btn btn-primary" %></td></tr>

<%end%>
</tbody>
</table>
  </div>
