<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Employee admission</h1>
  <h3>Step 3 - Add Bank Detail<br />
  <small><font color="red">Fields Marked with * must be filled</font></small></h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "" %>
  </div>
 <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<div id="page-yield">
  <% unless flash[:notice9].nil? %>
    <p class="flash-msg"> <%= flash[:notice9] %> </p>
  <% end %>

<table align="center" class="table table-hover" style="width:1000px">
<%= form_for :bank_details,url:{action: 'admission3_create',format: @employee.id},method: :post do |f| %>

    <tbody>

 	 <% @bank_fields.each do |bd| %>
 	 <tr>
     
        <td class="col-2"><%= bd.name %></td>
        <td class="col-2"><%= f.text_field :bank_info,:index => bd.id %></td>
   
    </tr>
    <% end %>
  </div>
   
    
   
     <tr><td colspan="4"><%=f.submit "Save",class: "btn btn-primary" %></td></tr>

<%end%>
</tbody>
</table>
  </div>
