<div id="content-header">
  <h1>Employee Info</h1>
  <h3>Archived Employee profile</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div class="dropdown pull-right">
   <button type="button" class="btn dropdown-toggle btn-primary" id="dropdownMenu1" 
      data-toggle="dropdown">
      Profile
      <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
         
         <%=link_to "Genral",genral_profile_archived_employees_path(@employee),remote:true%>
      </li>
      <li role="presentation">
         
         <%=link_to "Personal",personal_profile_archived_employees_path(@employee),remote:true%>
      </li>
      <li role="presentation">
        <%=link_to "Address",address_profile_archived_employees_path(@employee),remote:true%>
      </li>
       <li role="presentation">
        <%=link_to "Contact",contact_profile_archived_employees_path(@employee),remote:true%>
      </li>
       <li role="presentation">
        <%=link_to "Bank_Info",bank_info_archived_employees_path(@employee),remote:true%>
      </li>
      
   </ul>
</div>


<div id="profile_picture_display">
          <%= image_tag "default_employee.png" %>
              </div>

              <div id ="student_main_info">
      <h3 align="left"> <%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %>  </h3>
      <h4 align="left"> Employee Number : <%=@employee.id%> </h4></div>

<div id="page-yield">

  


<div id="profile"><%=render'disp_genral_profile_archived'%></div>