<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Human Resources',employees_path %></li>
    <li><%= link_to 'HR Management',employee_management_employees_path %></li>

    <li>Archived Employee profile</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">

  <div class="dropdown pull-right">
    <%= link_to 'Profile','#',class: "btn dropdown-toggle btn-primary-link btn-xs", id: "dropdownMenu1", :"data-toggle"=>"dropdown"%>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">

       <%=link_to "General",genral_profile_archived_employees_path(@employee),remote:true%>
     </li>
     <li role="presentation">

       <%=link_to "Personal",personal_profile_archived_employees_path(@employee),remote:true%>
     </li>
     <li role="presentation">
      <%=link_to "Address",address_profile_archived_employees_path(@employee),remote:true%>
    </li>
    <li role="presentation">
      <%=link_to "Contact",contact_profile_archived_employees_path(@employee),remote:true%>
    </li>
    <li role="presentation">
      <%=link_to "Bank Information",bank_info_archived_employees_path(@employee),remote:true%>
    </li>

  </ul>
</div>
</div>


<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-content">

        <div class="row">
          <div class="col-md-8">
           <div id ="student_main_info">
            <h3 align="left"> <%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %>   </h3>
            <h4 align="left"> Employee Id : <%=@employee.id%> </h4>
          </div>
        </div>
        <br>
        <div class="col-md-3">
          <div id="profile_picture_display">
            <%= image_tag "employee.png" %>
          </div>
        </div>
      </div>
      <hr>
      <div id="profile"><%=render'disp_genral_profile_archived'%></div>
    </div>
  </div>
</div>
</div>
