<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
   <li><%= link_to'View Details',users_view_all_path%></li>
  
   <li>Archived Employee profile</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">

<div class="dropdown pull-right">
   <button type="button" class="btn dropdown-toggle btn-primary" id="dropdownMenu1" 
      data-toggle="dropdown">
      Profile
      <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
         
         <%=link_to "Genral",employees_genral_profile_archived_path(@employee),remote:true%>
      </li>
      <li role="presentation">
         
         <%=link_to "Personal",employees_personal_profile_archived_path(@employee),remote:true%>
      </li>
      <li role="presentation">
        <%=link_to "Address",employees_address_profile_archived_path(@employee),remote:true%>
      </li>
       <li role="presentation">
        <%=link_to "Contact",employees_contact_profile_archived_path(@employee),remote:true%>
      </li>
       <li role="presentation">
        <%=link_to "Bank_Info",employees_bank_info_archived_path(@employee),remote:true%>
      </li>
      
   </ul>
</div>


 <div class="row">
        <div class="box col-md-12">
        <div class="box-inner">
      <div class="box-content">

    <div class="row">
    <div class="col-md-8">
   <div id ="student_main_info">
      <h3 align="left"> <%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %>   </h3>
      <h4 align="left"> Employee Id : <%=@employee.id%> </h4>
    </div>
    </div>
<br>
    <div class="col-md-3">
    
   
<div id="profile_picture_display">
          <%= image_tag "default_student.png" %>
              </div>
    
    </div>
    </div>
   <hr>
<div id="profile"><%=render'disp_genral_profile_archived'%></div>
</div>
</div>
</div>
</div>

