<div id="content-header">
  <h1>Students</h1>
  <h3>Leaving school</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back  %>
  </div>
   <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">

  <div class="box">
    <div class="bread_crumb">
    <h4> <%= @employee.first_name %> |  <%= t('employee_number') %>  : <%= @employee.employee_number %> | Department : <%= @employee.employee_department.name %>
     </h4>
  </div></div>

  <div class="extender"> </div>

  <div id="remove-student">

    <p>For Employees leaving the school, use this option to remove them from the list of active employees and place them in the former employees list.</p>
    </div><br><br><br><br><br>

<%= form_for :remove, url:{action:'create_archived_employee',format:@employee.id}, method: :post do |f|%>
<table style="width:52%">
		<tr>
			<td><%=f.label :"Reason for Leave" %></td>
			<td><%=f.text_field :status_description%></td>
		</tr>

		<tr>
			<td><%=f.submit "Remove",class: "btn btn-danger" %></td>
		</tr>
	
</table>
   
<%end%>
</div>