
<div align="center">
<font color="purple"><b><i><h3>Axenic School</h3>
<h4>Employee Contact Profile</h4></i></b></font>
</div>

<table class="table" align="center" style="width:900px">
<thead>
<tr>
    <th colspan="4">
    <div id ="student_main_info">
      <h3 align="left"> <%= @employee.first_name.capitalize %> <%= @employee.middle_name.capitalize %> <%= @employee.last_name.capitalize %>  </h3>
       <h4 align="left"> Position : <%=   @employee.employee_position.name %> </h4>
      <h4 align="left"> Department : <%=  @employee.employee_department.name %> </h4>
      <h4 align="left"> Employee no. : <%= @employee.employee_number %> </h4></div>
   </th>
  </tr>
</thead>
<tbody>
<tr><td colspan="4"></td></tr>
<tr>
    <td class="col-2" colspan="4"><font color="brown">Employee Contact Details</font></td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Office Phone 1</font> </td><td class="col-2" colspan="3"><%=@employee.office_phone1%></td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Offie Phone 2</font></td><td class="col-2" colspan="3"><%=@employee.office_phone2%></td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Mobile</font></td><td class="col-2" colspan="3"><%=@employee.mobile_phone%></td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Home Phone</font></td><td class="col-2"><%=@employee.home_phone %></td>
    
</tr>

<tr>
    <td class="col-2"><font color="grey">Fax</font></td><td class="col-2"> <%=@employee.fax%> </td>
</tr>



<tr>
  <td class="col-2" colspan="4"></td>
</tr>
</tbody>
</table>
</div>
