<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Employee Payslip</h1>
  <h3>View Payslip</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
 <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
  <%= form_for :view_payslip, url:{action:'view_payslip'},remote:true,html:{id: "user_form2"} do |f|%>

	<div class="label-field-pair">
		<%=f. label :'Select Department'%>
		<div  class="text-input-bg">
   		 <%= f.select :id, EmployeeDepartment.all.collect {|b| [b.name,b.id]},{prompt:true}%></div></div>



	<div class="label-field-pair">
		<%=f. label :'Select Month'%>
		<div  class="text-input-bg">
   		 <%= f.select :id,  @salary_dates.all.collect {|b| [b.salary_date,b.id]},{prompt:true},{onchange:"$('#user_form2').submit();"}%></div></div>

   		<%end%>

   		<div id="payslip"></div>
   	</div>
   		