<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
     <li><%= link_to 'Human Resources',employees_path %></li>
    <li>Department Payslip</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
 
 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <%= form_for :view_payslip, url:{action:'select_month'},method: :get,remote:true,html:{id: "user_form2"} do |f|%>

	
	    <b>Select Deparyment:</b>
		    <%= f.select :id, EmployeeDepartment.all.collect {|b| [b.name,b.id]},{prompt:true},{onchange:"$('#user_form2').submit();",class:"form-control",style: "width:250px"}%>

	 <%end%>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
   		<div id="payslip"></div>
  </div>
  </div>
   	

   		