<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Addmission</h1>
  <h3>Employee Details Update<br />
  <small><font color="red">Fields Marked with * must be filled</font></small></h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "" %>
  </div>
 <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

<table align="center" class="table table-hover" style="width:1000px">
<%= form_for @employee ,url:{action:'update_profile',format:@employee.id} do |f| %>

  <div align="center">
    <% if @employee.errors.any? %>
        <div class="alert alert-danger" style="width:500px" >
          <h3>Error prohibited to from being saved:</h3>
          <ul>
           <% @employee.errors.full_messages.each do |msg| %>
              <li style="width:500px" align="left"><%= msg %></li>
            <% end %>
          </ul>
          <% end %>
      </div>
 </div>
    <tbody>
    
     <tr>     
          <td class="col-2"><%=f.label :Joining_date %><span class="necessary-field">*</span></td>
          <td class="col-2"><%=f.date_field :joining_date,:value => Time.now.strftime('%Y-%m-%d')%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :Department%><span class="necessary-field">*</span></td>
         <td class="col-2"><%= f.select :employee_department_id, EmployeeDepartment.all.collect {|b| [b.name,b.id]},prompt:true%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Category%><span class="necessary-field">*</span></td>
         <td class="col-2"><%= f.select :employee_category_id, EmployeeCategory.all.collect {|b| [b.name,b.id]},prompt:true%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Position%><span class="necessary-field">*</span></td>
         <td class="col-2"><%= f.select :employee_position_id,EmployeePosition.all.collect {|b| [b.name,b.id]},prompt:true%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Grade%><span class="necessary-field">*</span></td>
         <td class="col-2"><%= f.select :employee_grade_id, EmployeeGrade.all.collect {|b| [b.name,b.id]},prompt:true%></td>
     </tr>

    <tr>
       <td class="col-2"><%=f.label :'Job Title'%></td>
           <td class="col-2"><%=f.text_field :job_title%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :Gender%>
         <td class="col-2"> Male<%= f.radio_button  "gender","Male", :checked => "checked" %>
          &nbsp;&nbsp;&nbsp;Female <%= f.radio_button  "gender","Female"%></td>
       </td>
     </tr>

      <tr>
     	 <td class="col-2"><%=f.label :Email%></td>
          <td class="col-2"> <%=f.text_field :email%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Status%>
         <td class="col-2"> Active<%= f.radio_button  "status","Active", :checked => "checked" %>
          &nbsp;&nbsp;&nbsp;Inactive <%= f.radio_button  "status","Inactive"%></td>
       </td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Qualification%></td>
           <td class="col-2"><%=f.text_field :qualification%></td>
     </tr>

     <tr>
        <td class="col-2"><%=f.label :Total_Experience%></td>
         <td class="col-2"><%= select :employee, :experience_year, (0..20),{:prompt=>"year"} %>
          <%= select :employee, :experience_month, (0..11),{:prompt=>"month"} %></td>
      </tr>

     <tr>
     	 <td class="col-2"><%=f.label :'Experience Information'%></td>
           <td class="col-2"><%=f.text_field :experience_detail%></td>
     </tr>     
   
     <tr><td colspan="4"><%=f.submit "Update",class: "btn btn-success" %></td></tr>

<%end%>
</tbody>
</table>
  </div>
