<!DOCTYPE html>
<html>
<head>
</head>
<style type="text/css">

table#pdf-table{
   border: 1px solid #ADACAB;
   border-left: 0px solid #ADACAB;
}

</style>
<body>
<div align="center">
<font color="purple"><b><i><h3>Axenic School</h3>
<h4></h4></i></b></font>
</div>

<table align="center" width="100%",border="1px">

    <%@emp=Employee.find(@payslip.employee_id)%>
    <%approved=MonthlyPayslip.where(employee_id:@emp.id,is_approved:'true').pluck(:is_approved)%>
    <%if approved[0]==true%>
        <%status="(Approved)"%>
    <%else%>
        <%status="(Pending)"%>
    <%end%>   
      <%=@emp.first_name%><br>
      <%="Payslip generated on "+ @payslip.salary_date.to_s+" status "+status%>
      
      <h2>Salary</h2>
      
      <tr>
         <th>Category</th>
         <th>Amount</th>
      </tr>
      <%total=0%>
      
            <%is_deduction=PayrollCategory.where(is_deduction:'false')%>
          <%is_deduction.each do |c| %>
      <% val = EmployeeSaleryStructure.where(employee_id:@emp.id,payroll_category_id: c.id).pluck(:amount) %>

      <tr>
         <td><%=c.name%></td>
         <td><%='%.02f'%val[0]%></td>
         <%total+=val[0].to_f%>
      </tr>
      <%end%>
      <tr>
        <td><%="Total"%></td>
        <td><%='%.02f'%total%></td>
      </tr>
        </table>
        <h2>Deduction</h2>
        
       <table align="center" width="100%",border="1px">
          <%tot=0%>
          <%is_deduction=PayrollCategory.where(is_deduction:'true')%>
           <%is_deduction.each do |d|%>
            <% val = EmployeeSaleryStructure.where(employee_id:@emp.id,payroll_category_id:d.id).pluck(:amount)%>
            
          <tr>
            <td><%=d.name%></td>
            <td><%=val[0]%></td>
              <%tot+=val[0].to_f%>
          </tr>
      
        <%end%>

        <tr>
            <td><%="Total"%></td>
            <td><%='%.02f'%tot%></td>
       </tr>   
        </table>

      <h2>Total</h2>
        
        <table align="center" width="100%",border="1px">
          
            <%last_total=total.to_f-tot.to_f%>
            <tr>
            <td><%="Total"%></td>
            <td><%='%.02f'% last_total %></td>
       </tr>   
        </table>
  

</div>
</body>
</html>