
<div id="content-header">
  <h1>HR Managament</h1>
  <h3>Human Resources</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

 
 <div class="container">
    <div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Setting", 'employees/settings',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         HR Setting.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Employee Management",'employees/employee_management',style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           Manage All Employee.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Employee Leave Management",'employee_attendances',style: 'color:black' %>     
         </div>
          <div class="panel-body" style="height:70px">
            Manage subjects corresponding to different courses.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Employee Leave Management",'employee_attendances',style: 'color:black'%>
          </div>
          <div class="panel-body" style="height:70px">
            Manage all employee atteendance and leave.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
    <div class="row" style="margin-bottom:30px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Search Employee", 'employees/search_employee',style: 'color:black' %>     
         </div>
          <div class="panel-body" style="height:70px">
           Saerch for Employee.
         </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Employee payslip",'employees/department_payslip',style: 'color:black'%></div>
          <div class="panel-body" style="height:70px">
            View Department wise slip.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

 </div>  
      <!-- <div class="link-box">
        <div class="link-heading"><%#= link_to "Create payslip",'employees/payslip' %></div>
        <div class="link-descr">Create employee monthly paysleep.</div>
      </div>
 -->

     