<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li>Human Resources</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Setting",employees_settings_path%></h2>
      </div>
      <div class="box-content">
       HR Setting.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Employee Management",employees_employee_management_path %>
        </h2>
      </div>
      <div class="box-content">
                 Manage All Employee.
      </div>
    </div>
  </div>
</div>
<br/><br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Employee Leave Management",'employee_attendances' %></h2> 
      </div>
      <div class="box-content">
     Manage subjects corresponding to different courses.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Create Payslip",employees_payslip_path%></h2>
      </div>
      <div class="box-content">
   Create emlpoyee monthly payslip.
      </div>
    </div>
  </div>
</div>


<br/><br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Search Employee",employees_search_employee_path %></h2> 
      </div>
      <div class="box-content">
          Saerch for Employee.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Employee payslip",employees_department_payslip_path%></h2>
      </div>
      <div class="box-content">
        View Department wise slip.
      </div>
    </div>
  </div>
</div>





















































     