
<div id="content-header">
  <h1>Employee Settings</h1>
  <h3>Employee category</h3>
</div>

<div id="page-yield">
<div align="center">

	<%= form_for @employee_category, url:{action:'add_category'},remote:true do |c|%>
	
		<div><%= c.label :Name%>
		<%= c.text_field :name%></div>
		<div><%= c.label :prefix%>
		<%= c.text_field :prefix%></div>
		<div><%= c.label :Status%> <%= c.radio_button "status", "active", checked: true %> <%=c.label :Active%> 
		<%= c.radio_button "status", "inactive"%> <%=c.label :Inactive%>
		</div>

		<div>
			<%= c.submit 'Create'%>
		</div>
	<%end%>


</div>


<div id="add_category">
<%=render 'category'%>

</div>
<div id="myModal" class="modal fade">
 </div>
 
</div>
