<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
      <li><%= link_to 'Human Resources',employees_path %></li>
      <li><%= link_to 'Setting', settings_employees_path %></li>
     <li>Employee Payroll</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
	
	<div id="add_payroll_category">
		<%=render 'payroll_category'%>
	</div>
	<div id="myModal" class="modal fade"></div>
