<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
      <li><%= link_to 'Human Resources',employees_path %></li>
<<<<<<< HEAD
     <li><%= link_to 'Setting',settings_employees_path %></li>
=======
     <li><%= link_to 'Setting', setting_index_path %></li>
>>>>>>> b1fcd2be45c6c5983ead2697be4e81060eb798aa

     <li>Employee Grade</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div id ="add_grade">
<%=render 'grade'%>
</div>
<div id ="myModal" class="modal fade">
</div>

