
<div id="content-header">
  <h1>Payslip</h1>
  <h3>create</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>


<div id="page-yield">

 

  <div id="box">

      <div class="link-box">
        <div class="link-heading"><%= link_to "Select Employee", employees_select_employee_department_path%></div>
        <div class="link-descr">Select Payslip of Employee.</div>
      </div>

    
      <!-- <div class="link-box">
        <div class="link-heading"><%#= link_to "Rejected Employee",employees_employee_management_path  %></div>
        <div class="link-descr">Manage Employee Rejected payslip.</div>
      </div>
   
       -->
      <div class="link-box">
        <div class="link-heading"><%= link_to "One click payslip Generator", employees_payslip_path ,remote:true%></div>
        <div class="link-descr">One click payslip Generation.</div>
        <div id="payslip"></div>
      </div>

      <div class="link-box">
        <div class="link-heading"><%= link_to "One click payslip revert",employees_search_employee_path%></div>
        <div class="link-descr">One click payslip revertion.</div>
      </div>

      
    </div>


  </div>

