<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div align="center">
<font color="purple"><b><i><h3>Axenic School</h3>
<h4>Employee Personal Profile</h4></i></b></font>
</div>

<table class="table" align="center" style="width:900px">
<thead>
<tr>
    <th colspan="4">
    <div id ="student_main_info">
      <h3 align="left"> <%= @employee.first_name.capitalize %> <%= @employee.middle_name.capitalize %> <%= @employee.last_name.capitalize %>  </h3>
       <h4 align="left"> Position : <%=   @employee.employee_position.name %> </h4>
      <h4 align="left"> Department : <%=  @employee.employee_department.name %> </h4>
      <h4 align="left"> Employee no. : <%= @employee.employee_number %> </h4></div>
   </th>
  </tr>
</thead>
<tbody>
<tr><td colspan="4"></td></tr>
<tr>
    <td class="col-2" colspan="4"><font color="brown">Employee Personal Details</font></td>
</tr>
<tr>
    <td class="col-2"><font color="grey"> Date of birth</font> </td><td class="col-2" colspan="3"><%= @employee.date_of_birth%></td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Marital Status</font></td><td class="col-2" colspan="3"><%=@employee.marital_status%></td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Father name</font></td><td class="col-2" colspan="3"><%=@employee.father_name%></td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Mother Name</font></td><td class="col-2"><%=@employee.mother_name %></td>
    
</tr>
<tr>
    <td class="col-2"><font color="grey">Blood group</font></td><td class="col-2"> <%= @employee.blood_group%> </td>
</tr>
<tr>
    <td class="col-2"><font color="grey">Nationality</font></td><td class="col-2"> <%==@country %> </td>
</tr>



<tr>
  <td class="col-2" colspan="4"></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>