<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Payslip</h1>
  <h3>Select Employee</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "" %>
  </div>
 <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<div id="page-yield">
  <%= form_for :select_department,url:{action:'department_employee_list'},remote:true,html:{id: "user_form2"} do |f|%>

	<div class="label-field-pair">
		<%=f. label :'Select Department'%>
		<div  class="text-input-bg">
   		 <%= f.select :id,@department.all.collect {|b| [b.name,b.id]},{prompt:true},{onchange:"$('#user_form2').submit();"}%></div></div>

   		<%end%>

   		<div id="emp_list"></div>
   		</div>