<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Human Resources','/employees'%></li>
    <li><%= link_to 'Create Payslip',employees_payslip_path%></li>
    <li>Select Employee </li>
  </ul>

</div><div id="flash"><%= render 'layouts/messages'%></div>
<br>
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-3">
  <%= form_for :select_department,url:{action:'department_employee_list'},remote:true,html:{id: "user_form2"} do |f|%>


		<b>Select Department:</b>
	
   		 <%= f.select :id,@department.all.collect {|b| [b.name,b.id]},{prompt:true},{onchange:"$('#user_form2').submit();",class: "form-control",style:"width:250px"}%>

   		<%end%>
</div>

<br>
  
    <div class="col-md-7">
   		<div id="emp_list">
        
      </div>
   		</div>
      </div>
