<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
     <li><%= link_to 'Human Resources',employees_path %></li>
    <li>HR Settings</li>
  </ul>
</div>

<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Add Employee Category",'new_category'%></h2>
      </div>
      <div class="box-content">
      Add and Edit Employee Category
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Add Employee Department",'new_department'%>
        </h2>
      </div>
      <div class="box-content">
        Add and Edit Employee Department
      </div>
    </div>
  </div>
</div>
<br/><br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Add Employee Position",'new_position' %></h2> 
      </div>
      <div class="box-content">
       Add and Edit Employee Position
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Add Employee Grade",
        'new_grade'%></h2>
      </div>
      <div class="box-content">
       Add and Edit Employee Grade
      </div>
    </div>
  </div>
</div>


<br/><br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Add Payroll Category",
        'new_payroll_category' %></h2> 
      </div>
      <div class="box-content">
         Add and Edit Payroll Category
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Add Bank Detail",'new_bank_field'%></h2>
      </div>
      <div class="box-content">
    Add and Edit Bank Detail
      </div>
    </div>
  </div>
</div>




















































