<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
     <li><%= link_to 'Human Resources',employees_path %></li>
    <li><%= link_to 'HR Management',employees_employee_management_path %></li>
  
     <li>Subject Assignment</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-md-12">
   <%= form_for :subject_assignment, url:{action:'assign_subject'}, method: :get,remote:true,html:{id: "user_form"} do |f|%>
      <%= f.select :id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:"Select Course"},{onchange:"$('#user_form').submit();",class: "form-control",style:"width:350px"} %>  
    <%end%>
  </div>
</div>
<div id="subject_div"></div>