
<div>
  <ul class="breadcrumb">
   <li><%= link_to 'Home',dashboard_home_index_path %></li>
   <li><%= link_to 'Human Resources',employees_path %></li>
   <li><%= link_to 'Employee Search',search_employee_employees_path %></li>
   <li>View All</li>
 </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <%= form_for :viewall, url:{action:'allemp'}, method: :get,remote:true,html:{id: "user_form"} do |f|%>
    <b>Select a Department:</b>
    <%= f.select :id, EmployeeDepartment.all.collect {|b| [b.name,b.id]},{prompt:true},{onchange:"$('#user_form').submit();",class: "form-control",style:"width:300px"}%>

    <%end%>
  </div>
</div>
<br/>
<div id="user_search"></div>

