<div class="modal-body">
        <ul class="errors"></ul>
<%= form_for [@batch,@class_timing1],remote: true do |f|%>
 <table class="table" style="width:85%">
        <tr>
            <td class="col-2"><%= f.label :name , class: "control-label"%></td>
            <td><%=f.text_field :name ,:style =>"width: 250px", class: "form-control"%></td>
        </tr>
        
        <tr>
            <td class="col-2"><%= f.label :Start_time , class: "control-label"%></td>

        
            <td><%=f.time_select :start_time,:style =>"width: 250px", class: "form-control" %></td>
        </tr>
        
        <tr>
            <td class="col-2"><%= f.label :End_time, class: "control-label"%></td>
            <td><%=f.time_select :end_time ,:style =>"width: 250px", class: "form-control"%></td>
        </tr>
        
          
        <tr>
            
            <td><%= f.check_box :is_break, :checked => false %> Is a break</td>
        </tr>


        <tr>
        <td colspan="2"><%= f.submit 'Submit', class: "btn btn-primary"%>
        <%= link_to 'cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%></td>
        </tr>
    </table>
<% end %>
</div>

