<%= form_for @gradinglevle  do |f| %>

	<% if @gradinglevle.errors.any? %>
  			<div id="error_explanation">
    			<h2>
    				<%= pluralize(@gradinglevle.errors.count, "error") %> prohibited
     			 	this Gradinglevle from being saved:
     			</h2>
    			<ul>
					 <% @gradinglevle.errors.full_messages.each do |msg| %>
      				<li><%= msg %></li>
    				<% end %>
    			</ul>
  			</div>
  	<% end %>


	<table >
		<tr>
				<td><%=f.label :name%></td>
				<td><%=f.text_field :name%></td>
		</tr>

		<tr>
				<td><%=f.label :min_score%></td>
				<td><%=f.text_field :min_score%></td>
		</tr>

		<tr>
				<td><%=f.label :description%></td>
				<td><%=f.text_field :description%></td>
		</tr>

		<tr>
				<td><%=f.submit%></td>
		</tr>
	</table>
	<table border="1" style="width:500px">	

		<% @gradinglevles.each do |gradinglevle| %>
   		 <tr>
      			<td><%= gradinglevle.name %></td>
      			<td><%= gradinglevle.min_score %></td>
      			<td><%= gradinglevle.description %></td>
      		    <td><%= link_to 'edit',edit_gradinglevle_path(gradinglevle)%></td>
     			<td><%= link_to 'Destroy',gradinglevle_path(gradinglevle),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
      			
    	</tr>
  <% end %>

	</table>

<%end%>