  <% if @students.empty? %>
  <h4 align="center">No Record Found </h4>
   <% else %>

<%=form_for(:student_subject, :url => {:action=> 'assign_elective'}) do |f| %>
	<%= f.hidden_field :subject_id ,value:@subject.id %>
	<table align="center" class="table table-hover" style="width:500px">
  <tr class="tr-head"><td colspan="2" class="col-2">Student Name</td></tr>
  <% @students.each do |student| %> 
     <tr>
      <td class="col-2"><%= student.first_name+" "+student.last_name  %></td>
      <% studentsubject=StudentSubject.where(student_id:student.id,subject_id:@subject.id)%>
       <% if studentsubject.empty? %>
      <td class="col-3"><%= check_box_tag "students[]", student.id,false,class: 'check_box'%>Assign</td>
      <%else%>
       <td class="col-3"><%= check_box_tag "students[]", student.id,true,class: 'check_box'%>Assign</td>
     <%end%>
    <% end %>
    </table>
<div align="center"><%= f.submit "Save", class: 'btn btn-success'%></div>
  <% end %>
  <% end %>