<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
     <li><%= link_to 'Student Details',students_path %></li>
      <li><%= link_to 'Profile',profile_student_path(@student.id)%></li>
       <li><%= link_to 'Guardians Details',dispguardian_students_path(@student.id)%></li>
       <li>Add Parent/guardian details</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
<div class="col-md-12">
	<div class="box-inner">
		<div class="box-header well">
			<h2>Add Parent/guardian details</h2>
		</div>
	<div class="box-content">
	<fieldset>

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
	
	<%= form_for ([@student,@guard]),url:{controller: 'guardians', action: 'addguardian_create',format:@student.id} do |f|%>
 <div align="center">

	<% if @guard.errors.any? %>
  			 <div class="alert alert-danger" style="width:500px" >
    			<h2>Error prohibited to being saved:</h2>
    			<ul>
					 <% @guard.errors.full_messages.each do |msg| %>
      				<li style="width:500px" align="left"><%= msg %></li>
    				<% end %>
    			</ul>
    			<% end %>
  		</div>
  		</div>

<div class="row">
      <div class="col-sm-1"></div>
        <div class="col-sm-4">
          
            <div class="form-group">
       <%= t('First Name')%><span class="necessary-field">*</span>
         <%=f.text_field :first_name,placeholder: "First Name", class: "form-control"%>
           </div>
             <div class="form-group">
       <%= t('Last Name')%><span class="necessary-field">*</span>
         <%=f.text_field :last_name,placeholder: "Last Name", class: "form-control"%>
       </div>

         <div class="form-group">
       <%= t('Relation')%><span class="necessary-field">*</span>
         <%=f.text_field :relation,placeholder: "Relation", class: "form-control"%>
       </div>

         <div class="form-group">
       <%= t('Email')%>
         <%=f.text_field :email,placeholder: "Email", class: "form-control"%>
       </div>

         <div class="form-group">
       <%= t('Office Phone1')%>
         <%=f.text_field :office_phone1,placeholder: "Office Phone1", class: "form-control"%>
       </div>

         <div class="form-group">
       <%= t('Office Phone2')%>
         <%=f.text_field :office_phone2,placeholder: "Office Phone2", class: "form-control"%>
       </div>
         <div class="form-group">
       <%= t('Office Address Line1')%>
         <%=f.text_field :office_address_line1,placeholder: "Office Address Line1", class: "form-control"%>
       </div>
</div>
   <div class="col-sm-1"></div>
    <div class="col-sm-4">
          <div class="form-group">
       <%= t('Office Address Line2')%>
         <%=f.text_field :office_address_line2,placeholder: "Office Address Line2", class: "form-control"%>
       </div>
           <div class="form-group">
       <%= t('City')%>
         <%=f.text_field :city,placeholder: "City", class: "form-control"%>
       </div>
           <div class="form-group">
       <%= t('Country')%>
         <%=f.select :country_id, Country.all.collect{|c| [c.name, c.id]},{prompt:true},{class: "form-control"}%>
       </div>

            <div class="form-group">
       <%= t('dob')%>
         <%=f.date_field :dob,class: "form-control"%>
       </div>
            <div class="form-group">
       <%= t('Occupation')%>
         <%=f.text_field :occupation,placeholder: "Occupation", class: "form-control"%>
       </div>

           <div class="form-group">
       <%= t('Income')%>
         <%=f.text_field :income,placeholder: "Income", class: "form-control"%>
       </div>
          <div class="form-group">
       <%= t('Education')%>
         <%=f.text_field :education,placeholder: "Education", class: "form-control"%>
       </div>
     </div>
     
   <div class="col-sm-5 col-sm-offset-5"> 
      <div class="form-actions">               
        <%= f.submit 'Submit', class: "btn btn-success"%>
      </div>
    </div>
    <br>
    </div>
    <br>
<% end %>
	
	</fieldset>
	</div>
	</div>
	</div>
	</div>
