<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
     <li><%=link_to 'Step 1',students_admission1_path%></li>
      <li><%=link_to 'Step 2',students_admission2_path(@student.id)%></li>
     <li>Admission(Step 2.1-Parent/guardian details)</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Step 2 - Parent/guardian details</h2>
       
      </div>
        <div class="box-content">
         <h4>Following guardians has been saved for <%= @student.first_name + ' ' + @student.last_name %> </h4>
        <ol>
        <% @student.guardians.each do |p| %>
          <li><h5><%= p.first_name+' '+p.last_name %> - <%= p.relation %></h5></li>
        <%  end %>
        </ol>
  
  <div class="row">
      <div class="col-sm-1"></div>
        <div class="col-sm-2">
      <div class="form-actions">               
       <%= link_to "Add Another Guardian", students_admission2_path(@student),class: "btn btn-primary"%>
          </div>
          </div>
      <div class="col-sm-4">
         <div class="form-actions">
         <%= link_to "Finish",students_admission3_path(@student),class: "btn btn-default"%>
      </div>
    </div>
</div>
</div>
</div>
</div>
</div>






   