<div id="content-header">
   <hr class="fancy-line"></hr>
  <h1>Addmission</h1>
  <h3>Step 1 - Student details<br />
  <small><font color="red">Fields Marked with * must be filled</font></small></h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
 <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<table align="center" class="table table-hover" style="width:1000px">
<%= form_for @student do |f| %>
<div align="center">
    <% if @student.errors.any? %>
        <div class="alert alert-danger" style="width:500px" >
          <h3>Error prohibited to from being saved:</h3>
          <ul>
           <% @student.errors.full_messages.each do |msg| %>
              <li style="width:500px" align="left"><%= msg %></li>
            <% end %>
          </ul>
          <% end %>
      </div>
 </div>
    <tbody>
    
    
     <tr>
         <td class="col-2"><%=f.label :"Admission Number"%><span class="necessary-field">*</span></td>
          <td class="col-2"><%=f.text_field :admission_no, :value=> @student.admission_no%></td>
          <td class="col-2"><%=f.label :"Admission Date" %><span class="necessary-field">*</span></td>
          <td class="col-2"><%=f.date_field :admission_date ,:value => Time.now.strftime('%Y-%m-%d')%></td>
     </tr>

    
     <tr>
       <td class="col-2"><%=f.label :"First Name"%><span class="necessary-field">*</span></td>
          <td class="col-2"> <%=f.text_field :first_name%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Middle Name"%></td>
        <td class="col-2"><%=f.text_field :middle_name, :required=>false%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Last Name"%><span class="necessary-field">*</span></td>
         <td class="col-2">  <%=f.text_field :last_name%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Course and Batch"%><span class="necessary-field">*</span></td>
         <td class="col-2"><%= f.select :batch_id, Batch.all.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},prompt:true%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Date Of Birth"%><span class="necessary-field">*</span></td>
          <td class="col-2"><%=f.date_field :date_of_birth%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :Gender%>
         <td class="col-2"> Male<%= f.radio_button  "gender","Male", :checked => "checked" %>
          &nbsp;&nbsp;&nbsp;Female <%= f.radio_button  "gender","Female"%></td>
       </td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Blood Group"%></td>
          <td class="col-2"><%=f.select :blood_group, ["A+", "A-", "B+", "B-", "O+", "O-", "AB+", "AB-"],prompt:true %></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Birth Place"%></td>
           <td class="col-2"><%=f.text_field :birth_place%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :Nationality%><span class="necessary-field">*</span></td>
          <td class="col-2"><%=f.select :nationality_id,Country.all.collect{|c| [c.name,c.id]},prompt:true%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Mother Tongue"%></td>
        <td class="col-2"><%=f.text_field :language%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :Category%><span class="necessary-field">*</span></td>
          <td class="col-2"> <%=f.select :category_id, Category.all.collect{|c| [c.name,c.id]},prompt:true%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :Religion%></td>
        <td class="col-2"><%=f.text_field :religion%></td>
     </tr>

     <tr>
       <td class="col-2"><%=f.label :"Address Line1"%></td>
          <td class="col-2"> <%=f.text_field :address_line1%></td>
     </tr>


     <tr>
       <td class="col-2"><%=f.label :"Address Line2"%></td>
        <td class="col-2"><%=f.text_field :address_line2%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :City%></td>
         <td class="col-2">  <%=f.text_field :city%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :State%></td>
        <td class="col-2"><%=f.text_field :state%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :"Pin Code"%></td>
        <td class="col-2"><%=f.text_field :pin_code%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Country%><span class="necessary-field">*</span></td>
          <td class="col-2"><%=f.select :country_id,Country.all.collect{|c| [c.name,c.id]},prompt:true%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Phone%></td>
         <td class="col-2"><%=f.text_field :phone1%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Mobile%></td>
          <td class="col-2"><%=f.text_field :phone2%></td>
     </tr>

      <tr>
       <td class="col-2"><%=f.label :Email%></td>
          <td class="col-2"> <%=f.text_field :email%></td>
     </tr>



    <div class="field">
    <tr>

     <td class="col-2"><%= f.label :"Upload Photo" %></td> 
      <td class="col-2"><%= f.file_field :photo_data %></td>
     </tr>
   </div>
   
     <tr><td colspan="4"><%=f.submit "Save",class: "btn btn-primary" %></td></tr>

<%end%>
</tbody>
</table>
  </div>