<div id="content-header">
  <h1>Admission</h1>
  <h3>Step 2 - Parent/guardian details</h3>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

<div class="container" >
<div class="col-md-1" ></div>
<div class="col-md-12" >

	<table class="table">

		<tbody>
<%= form_for ([@student,@student.guardians.build]) do |f|%>

			<tr>
					<td><%= f.label :first_name %></td>
		    		<td><%= f.text_field :first_name %></td>
		    </tr>

			<tr>
					<td><%= f.label :last_name %></td>
		   			<td><%= f.text_field :last_name %></td>
			</tr>

			<tr>
					<td><%= f.label :relation%></td>
		    		<td><%= f.text_field :relation %></td>
			</tr>

			<tr>
					<td><%= f.label :email %></td>
		   			 <td><%= f.text_field :email %></td>
			</tr>

			<tr>
					<td><%= f.label :office_phone1 %></td>
		    		<td><%= f.text_field :office_phone1%></td>
			</tr>

			<tr>
					<td><%= f.label :office_phone2 %></td>
		    		<td><%= f.text_field :office_phone2%></td>
			</tr>

	
			<tr>
					<td><%= f.label :office_address_line1 %></td>
		   			 <td><%= f.text_field :office_address_line1%></td>
			</tr>

			<tr>
					<td><%= f.label :office_address_line2 %></td>
		   			<td><%= f.text_field :office_address_line2%></td>
		   	</tr>

			<tr>
					 <td><%= f.label :city%></td>
		   			 <td><%= f.text_field :city%></td>
			</tr>

			<tr>
				 <td><%= f.label :country%></td>
				 <td> <%=f.select :id, Country.all.collect{|c| [c.name, c.id]}%></td>
		   </tr>
		    
	 		<tr>
					<td><%= f.label :dob%></td>
		    		<td><%= f.date_field :dob%></td>
			</tr>
	
			<tr>
					<td><%= f.label :occupation%></td>
		 		    <td><%= f.text_field :occupation%></td>
			</tr>

			<tr>
					<td><%= f.label :income%></td>
		    		<td><%= f.text_field :income%></td>
			</tr>

			<tr>
					<td><%= f.label :education%></td>
		    		<td><%= f.text_field :education%></td>
			</tr>

			<tr>	
					<td><%= f.submit 'Submit', class: "btn btn-primary"%></td>
					<td><%= link_to 'Cancel','#',class: "btn btn-primary"%></td>
			</tr>

<% end %>
	 </tbody>
	</table>
</div>	

</div>
<div class="col-md-1"></div>
</div>

