<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #heading {
        width:100%;
        margin: 0 auto;
      }

      #head {
        height: 100px;
        width: 700px;
        text-align: center;
        font-size: 40px;
        border-color: black;


      }
      #head_info {
        text-align: center;
        font-size: 15px;
      }

 
    </style>
  </head>
  <body>

<% index = 0 %>
<% @students.in_groups_of(25,false).each do |students| %>
  <div id="heading">
      <div id="head">
        <%= @general_setting.school_or_college_name%><br/>
        <div id="head_info">
          <%= @general_setting.school_or_college_address%><br/><br/>
          <%= @general_setting.school_or_college_phone_no%>
        </div>
      </div>
<hr/>
<center>
    <h3 >StudentAdvanced Search</h3>
    
</center>
<br>
      <h4> <%= "Students listed by "+@search.downcase %></h4>

   <table cellpadding="5" cellspacing="5" width="700">
   
        <% c= 'odd' %>
        <tr>
        <th>Sr.No.</th>
        <th>Name</th>
        <th>Batch</th>
        <th>Admission No</th>
        <th>Date of birth</th>

        </tr>
        <% students.each.each_with_index do |s,i| %>
          <% student=ArchivedStudent.find_by_student_id(s)%>
          <% student=Student.find(s) if student.nil? %>
          <tr class="<%= cycle((["odd","even"]-[c]).first,c) %>">
            <td align="center"><%= index+=1 %></td>
            <td align="center"><%= student.first_name+" "+student.last_name %></td>
            <td align="center"><%= student.batch.course.course_name+" "+student.batch.name %></td>
            <td align="center"><%= student.admission_no %></td>
            <td align="center"><%= student.date_of_birth.strftime("%d %b, %Y") %></td>
          </tr>
        <% end %>
      </table>
    </div>

<% end %>
</body>
</html>


