<div id="content-header">
  <h1>Student</h1>
  <h3>Advanced search</h3>
  <div id="app-back-button">
   <%= link_to image_tag("buttons/back.png",:border => 0), :back  %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
<div id="box">
<% unless flash[:s].nil? %>
    <div align="center" class="alert alert-success" style="width:50%"> <%= flash[:s] %> </div>
  <% end %></div>
		<%=form_for :search ,url:{action:'advanced_student_search'},method: :get do |f| %>
<table align="center" class="table table-hover " style="width:500px">

			<tr><td class="col-2"><%= f.label :student_name %></td>
				<td class="col-2"><%=f.text_field :name%></td></tr>

			<tr><td class="col-2"><%= f.label :course_name %></td>
				<td class="col-2"><%=f.select :course_id, @courses.collect {|c| [c.course_name,c.id]},{prompt:true}, 
				{onchange:"var a={
					id: $('#search_course_id').val()
					};
					$.get('batch_details',a,function(response){
						});"}%></td></tr>
			
			<tr><td class="col-2"><%= f.label :batch_name %></td>
			<td class="col-2" id="batch_view"><%= render 'all_batch'%></td></tr>
				
			<tr><td class="col-2"><%= f.label :category %></td>
				<td class="col-2"><%=f.select :category_id, Category.all.collect {|c| [c.name,c.id]},prompt:true %></td></tr>

			<tr><td class="col-2"><%= f.label :gender%></td>
				<td class="col-2"><%=f.radio_button :gender,"All", :checked => "checked" %>All&nbsp;&nbsp;
					<%=f.radio_button :gender,"Male"%>Male&nbsp;&nbsp;
					<%=f.radio_button :gender,"Female"%>Female</td></tr>
			
			<tr><td class="col-2"><%=f.label :Blood_Group%></td>
          		<td class="col-2"><%=f.select :blood_group, ["A+", "A-", "B+", "B-", "O+", "O-", "AB+", "AB-"],prompt:true%></td></tr>

			<tr><td class="col-2"><%= f.label :country %></td>
				<td class="col-2"><%=f.select :country_id, Country.all.collect {|c| [c.name,c.id]},prompt:true%></td></tr>

			<tr><td class="col-2"><%= f.label :admission_date %></td>
				<td class="col-2"><%=f.date_field :admission_date%></td></tr>

			<tr><td class="col-2"><%= f.label :date_of_birth %></td>
				<td class="col-2"><%=f.date_field :date_of_birth%></td></tr>

			<tr><td class="col-2"><%= f.label :status%></td>
				<td class="col-2">
				<%= f.radio_button :status,"present",:checked => "checked"%>Present&nbsp;&nbsp;
			    <%= f.radio_button  :status,"former"%>Former&nbsp;&nbsp;
			    <%= f.radio_button  :status,"all"%>All
			    </td></tr>

			<tr><td colspan="2"><%= f.submit 'Search', class: "btn btn-primary"%></td></tr>
	</table>
	<%end%>	
</div>
