<div class="page-header" style="height:10%">
<div class="row">
<div class="col-md-6">

<div><h3>Advanced Search</h3></div></div>
<div class="col-md-6"><a href="/setting/course_batch"><button class="btn btn-success pull-right" style="margin-top:20px">Back</button></a></div>  
</div>
  
</div>

<div class="container" style="margin-top:20px">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
	
		<%=form_for :student ,url:{action:'advanced_student_search'},method: :get do |f| %>

			<div class="row">
				<div class="col-md-2"><%= f.label :first_name %></div><div class="col-md-1"></div>
				<div class="col-md-5"><%=f.text_field :first_name,:style =>"width: 310px", :placeholder=>"course" , class: "form-control form-inline form-group"%></div>
			</div>
			
			<div class="row">
				<div class="col-md-2"><%= f.label :admission_no %></div><div class="col-md-1"></div>
				<div class="col-md-5"><%=f.text_field :admission_no,:style =>"width: 310px", :placeholder=>"course" , class: "form-control form-inline form-group"%></div>
			</div>
				
			<div class="row">
			<div class="col-md-2"><%= f.label :course_name %></div>
			<div class="col-md-1"></div>
			<div><%=f.select :id, @course.collect {|c| [c.course_name,c.id]},prompt:true%></div>
			</div>
			
			<div class="row">
				<div class="col-md-2"><%= f.label :batch_name %></div>
				<div class="col-md-1"></div>
				
			</div>
			<div class="row">
			<div class="col-md-2"><%= f.label :course_name %></div>
			<div class="col-md-1"></div>
			<div><%=f.select :id, @course.collect {|c| [c.course_name,c.id]},prompt:true%></div>
			</div>
			
			<div class="row">
				<div class="col-md-2"><%= f.label :gender %></div><div class="col-md-1"></div>
				<div class="col-md-1"><%=f.radio_button :is_active_equals, {:checked => false}%></div>
				<div class="col-md-1"><%=f.radio_button :is_active_equals, {:checked => false}%></div>

			</div>
			<div class="row">
				<div class="col-md-2"><%= f.label :blood_group %></div><div class="col-md-1"></div>
				<div><%=f.select :id, @course.collect {|c| [c.course_name,c.id]},prompt:true%></div>
			</div>
			
			<div class="row">
				<div class="col-md-2"><%= f.label :country %></div>
				<div class="col-md-1"></div>
				<div><%=f.select :id, @course.collect {|c| [c.course_name,c.id]},prompt:true%></div>
			</div>

			<div class="row">
				<div class="col-md-2"><%= f.label :admission_date %></div>
				<div class="col-md-1"></div>
				<div><%=f.date_select :admission_date %></div>
			</div>
			

			</div>
			

			
			
	
	</div>
	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-2">
		<%= f.submit 'Search', class: "btn btn-primary"%>	
	</div>
	
	</div>
	
	<%end%>	
		
<div class="col-md-1"></div>
</div>
</div>
