<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Student Details',students_path %></li>
    <li>Profile</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Reports', archived_report_students_path(@student), class: "btn btn-primary-link btn-xs" %>
      <%= link_to "Guardians", archived_student_guardian_students_path(@student), class: "btn btn-primary-link btn-xs" %>
      <%= link_to "Send email",report_email_students_path(@student), class: "btn btn-primary-link btn-xs" %>
      <%= link_to "Generate TC", generate_tc_student_path(@student, format:'pdf'), class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-content">
        <div class="row">
          <div class="col-md-8">
            <div id ="student_main_info">
              <h3 align="left"> <%= @student.first_name.capitalize %> <%= @student.middle_name.capitalize %> <%= @student.last_name.capitalize %>  </h3>
              <h4 align="left"> Course : <%= @student.batch.course.course_name %> </h4>
              <h4 align="left"> Batch : <%= @student.batch.name %> </h4>
              <h4 align="left"> Admission no. : <%= @student.admission_no %> </h4>
            </div>
          </div><br>
          <div class="col-md-3">
            <div id="profile_picture_display">
              <% unless @student.image.blank? %>
                <%= image_tag @student.image,style: "width: 20px,height: 20px"%>
              <% else %>
                <%= image_tag "default_student.png" %>
              <%end%>
            </div>
          </div>
        </div><hr>
        <div class="form-group">
          <h4>
            <b>
              <u><font color="brown">Student Personal Details:</font></u>
            </b>
          </h4>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="col-md-6"><b>Admission Date:</b> </div>
              <div class="col-md-6"><%= @student.admission_date %></div>
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Blood group:</b></div>
              <div class="col-md-6"><%= @student.blood_group %></div>
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Gender:</b></div>
              <div class="col-md-6"><%= @student.gender %></div>
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Nationality</b></div>
              <div class="col-md-6"><%= @student.nationality.name %></div>
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Language:</b></div>
              <div class="col-md-6"><%= @student.language %></div>
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Category:</b></div>
              <div class="col-md-6"><%= @student.category.name %></div> 
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Date of birth:</b></div>
              <div class="col-md-6"><%= @student.date_of_birth%></div>
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Religion:</b></div> 
              <div class="col-md-6"><%= @student.religion %></div>
            </div><br>
            <div class="form-group">
              <div class="col-md-6"><b>Status description:</b></div> 
              <div class="col-md-6"><%= @student.status_description%></div>
            </div><br>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <div class="col-md-6"><b>Address:</b></div>
              <div class="col-md-6"><%= @student.address_line1+" "+@student.address_line2 %>
              </div>
            </div><br>
          <div class="form-group">
              <div class="col-md-6"><b>City:</b></div>
              <div class="col-md-6"><%= @student.city %> </div>
              </div>
              <br>
          <div class="form-group">
              <div class="col-md-6"><b>State:</b></div>
              <div class="col-md-6"><%= @student.state %></div>
              </div>
              <br>
            <div class="form-group">
              <div class="col-md-6"><b>Country:</b></div>
              <div class="col-md-6"><%= @student.country.name %></div>
              </div>
              <br>
                <div class="form-group">
              <div class="col-md-6"><b>Phone:</b></div>
              <div class="col-md-6"><%= @student.phone1 %></div></div>
              <br>
               <div class="form-group">
              <div class="col-md-6"><b>Mobile:</b></div>
              <div class="col-md-6"><%= @student.phone2 %></div></div>
              <br>
               <div class="form-group">
              <div class="col-md-6"><b>Email:</b></div>
              <div class="col-md-6"><%= @student.email %></div></div>
              <br>
              <% unless @immediate_contact.nil? %>
                <div class="form-group">
                <div class="col-md-6"><b>Immediate Contact:</b></div>
                <div class="col-md-6"><%= @immediate_contact.first_name+" "+@immediate_contact.last_name %></div></div>&nbsp;&nbsp;
                &nbsp;&nbsp;
              <%end%>
            </div>
          </div><hr>
            <div class="form-group">
              <h4><b><u><font color="brown">Student Previous Institution Details:</font></u></b></h4>
            </div>
          <div class="row">
            <div class="col-md-6">
              <% unless @student_previous_data.nil? %>
              <div class="form-group">
              <div class="col-md-6"><b>
              Institution Name:</b></div>
              <div class="col-md-6"><%= @student_previous_data.institution %>
              </div>
              </div>
              <br>
               <div class="form-group">
              <div class="col-md-6"><b>Year:</b></div>
              <div class="col-md-6"> <%=@student_previous_data.year %></div></div>
              <br>
            </div>
            <div class="col-md-6">
              <div class="form-group">
              <div class="col-md-6"><b>Course:</b></div>
              <div class="col-md-6"> <%= @student_previous_data.course %></div></div>
              <br>
              <div class="form-group">
              <div class="col-md-6"><b>Total Marks:</b></div>
              <div class="col-md-6"> <%= @student_previous_data.total_mark %></div></div>
            </div>
          </div>
           <hr>
            <div class="form-group">
              <h4><b><u><font color="brown">Student Previous Subject Marks:</font></u></b></h4>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
              <div class="col-md-6"><b>Subject Name</b></div>
              <div class="col-md-6"><b>Marks</b></div>
              <br><br>
              <% unless @student_previous_subject_marks.nil? %>
                <% @student_previous_subject_marks.each do |psm| %>
                  <div class="form-group">
                    <div class="col-md-6"><%= psm.subject %></div>
                    <div class="col-md-6"><%= psm.mark %></div>
                  </div>
                <%end%>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9"></div>
        <%= link_to 'PDF Report',archived_student_profile_student_path(@student,format:"pdf"),class: "btn btn-success" %>
      </div>
    </div>
  </div>
  </div>
</div>