<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
     <li><%= link_to 'Student Details','/students' %></li>
    <li><%= link_to 'Profile',students_profile_path(@student.id)%></li>
    <li>Edit Emergency Contact</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>

  

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-7">
 <div class="box-inner">
      <div class="box-content">
      <fieldset>
<h4>Select one of the contact for Emergency Contact:</h4>
<br>
   	<%= form_for @student, url:{action:'update_immediatecontact'},method: :patch do |f| %>
   	<%= hidden_field_tag :id,@student.id %>	
	<% @student.guardians.each do|g|%>
     <%= f.radio_button "immediate_contact",g.id, :checked =>true%>
			 <%= g.first_name+" "+g.last_name+" - "+g.relation %>
	<%end%>
	<br><br>
		<div align="center"><%= f.submit 'Finish',class: "btn btn-primary"%></div>
	
 <%end%>

</fieldset>
</div>	
</div>
</div></div>

