<div id="content-header">
  <h1>Students</h1>
  <h3>Edit Emergency Contact</h3>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<table align="center" class="table table-hover" style="width:500px">
   	<tbody>
<tr class="tr-head"><td><h4>Select one of the contact for Emergency Contact</h4></td></tr>
   	<%= form_for @student, url:{action:'update_immediatecontact'},method: :patch do |f| %>
   	<%= hidden_field_tag :id,@student.id %>	
	<% @student.guardians.each do|g|%>
      <tr>
		       
			<td><%= f.radio_button "immediate_contact",g.id, :checked =>true%>
			 <%= g.first_name+" "+g.last_name+" - "+g.relation %></td>
      </tr>
	<%end%>
	<tr class="tr-head">
			 <td><%= f.submit 'Finish',class: "btn btn-primary"%></td>
	</tr>
 <%end%>
</tbody>
</table>
</div>	
</div>
<div class="col-md-1"></div>
</div>
