<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Settings',setting_index_path %></li>
    <li><%= link_to 'Manage Subjects', subjects_path %></li>
    <li><%= link_to 'Elective Subject', elective_subject_elective_group_path(@subject.elective_group)%></li>
    <li>Assign Students</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div class="linker" align="right" style="margin-right:20px">
  <%= link_to "Assign All",assign_all_student_path(@subject),remote:true, class: 'btn btn-primary-link btn-xs'%>
  <%= link_to "Remove All",remove_all_student_path(@subject),remote:true,class: 'btn btn-primary-link btn-xs' %>
</div>
<div id="elective_subject">
  <%= render 'elective_subject' %>
</div>