<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.page {
    width:100%;
    margin: 0 auto;
    overflow: hidden;
}



.hor_line{
    width:100%;
    background: #ADACAB;
    height: 1px;
}

#title h1{
    margin-bottom: 2px;
    font-weight: normal;

}

#student_main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#student_main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;
    
}

.even{
    
    height:auto;
    background: #fff;
    
    
}

.even td{
   
   padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;
}

.odd td{
  padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;

}

table#pdf-table{
   border: 1px solid #ADACAB;
   border-left: 0px solid #ADACAB;
}

</style>
</head>
<body>
<div class="hor_line"></div>
<div id="title">
<h1 align="center">Axenic School</h1></div>
  <h2 align="center"><%= t('transfer_certificate') %></h2>
  <div class="hor_line"></div>
  <div class="extender"> </div>
  <div class="report">
    
    <div id="pdf-info">
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c= 'odd' %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('name') %></td>
            <td class="col-pdf"> <%= @student.first_name+" "+@student.last_name  %> </td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('admission_no') %></td>
            <td class="col-pdf"><%= @student.admission_no %></td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('admission_date') %></td>
            <td class="col-pdf"><%= @student.admission_date %></td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('date_of_birth') %></td>
            <td class="col-pdf"><%= @student.date_of_birth %></td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('last_course') %></td>
            <td class="col-pdf"><%= @student.batch.course.course_name+" "+@student.batch.name %></td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('blood_group') %></td>
            <td class="col-pdf"><%= @student.blood_group %></td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('gender') %></td>
            <td class="col-pdf"><%= @student.gender %></td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('nationality') %></td>
            <td class="col-pdf"><%= @student.nationality.name %></td>
          </tr>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('language') %></td>
            <td class="col-pdf"><%= @student.language %></td>
          </tr>

          <% if @father %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('father_name') %></td>
            <td class="col-pdf"><%= @father.first_name+" "+@father.last_name %></td>
          </tr>

                <% elsif @mother %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('mother_name') %></td>
            <td class="col-pdf"><%= @mother.first_name+" "+@mother.last_name %></td>
          </tr>

            <% else %>
          <% unless @immediate_contact.nil? %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= @immediate_contact.relation %></td>
            <td class="col-pdf"><%= @immediate_contact.first_name+" "+@immediate_contact.last_name  %></td>
          </tr>

              <% end %>
              <% end %>
              <% unless @student.category.nil? %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('category') %></td>
            <td class="col-pdf"><%= @student.category.name %></td>
          </tr>
          <% end %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('religion') %></td>
            <td class="col-pdf"><%= @student.religion %></td>
          </tr>
          

          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('address') %></td>
            <td class="col-pdf"><%= @student.address_line1 %><br/><%= @student.address_line2 %></td>
          </tr>

          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('city') %></td>
            <td class="col-pdf"><%= @student.city %></td>
          </tr>

          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('state') %></td>
            <td class="col-pdf"><%= @student.state %></td>
          </tr>

          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('country') %></td>
            <td class="col-pdf"><%= @student.country.name %></td>
          </tr>

          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= t('reason_for_leaving') %></td>
            <td class="col-pdf"><%= @student.status_description %></td>
          </tr>      
      </table>
    </div>
  </div>
</body>
</html>