<div class="container">
<div class="page-header">
  <h1>Admission</h1>
  <h3>Step 4 - previous Details</h3>
  <h3>- Select one of the contact for Emergency Contact</h3>
</div>
</div>



<div class="container">
<div class="col-md-1"></div>
<div class="col-md-10">
<div id="all_previous_data"></div><br />
<%= link_to 'Add Subject',students_add_subject_path(@student),remote:true,html:{} %>
<div id="previous_data"></div><br />
<table class="table">
   	<tbody style="center">

   	<%= form_for :student_previous_data,url:{action:'previous_data_create'} do |f| %>

          <%= f.hidden_field :student_id, value: @student.id %>
   	  <tr>
          <td><%=f.label :institution%></td>
          <td> <%=f.text_field :institution%></td>
      </tr>

      <tr>    
          <td><%=f.label :year%></td>
          <td> <%=f.text_field :year%></td>
     </tr>	

      <tr>
          <td><%=f.label :course%></td>
          <td> <%=f.text_field :course%></td>
      </tr>

      <tr>    
          <td><%=f.label :total_marks%></td>
          <td> <%=f.text_field :total_mark %></td>
     </tr>
      <tr>    
          <td><%=f.submit 'submit',class: "btn btn-primary"%></td>
     </tr>
</tbody>
</table>
 <%end%>
</div>	
</div>
</div>

<script>
if (location.href.indexOf('reload')==-1)
{
  location.href=location.href+'?reload';
}
</script>