<div id="content-header">
  <h1>Archived Students</h1>
  <h3>Send email</h3>
  <div id="app-back-button">
   <%= link_to image_tag("buttons/back.png",:border => 0),:back  %>
  </div>
   <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">

  <div id="student_profile_heading">

      <span class="name"> <%= @student.first_name %> <%= @student.middle_name %> <%= @student.last_name %>  </span>
      <span class="course"> Course & Batch: <%= @student.batch.course.course_name+" "+@student.batch.course.section_name+" "+@student.batch.name %> </span>
      <span class="adm"> Adm no : <%= @student.admission_no %> </span>
</div><br/><br/>
  <div id="box">
  <%= form_for :email,url:{action:'send_report_email'} do |f|%>
    <%= hidden_field_tag :student_id,@student.id%>
    <div><label for="email_subject">Subject</label>
    <%= text_field_tag :subject %></div>
    <br/><br/>
    <div><label for="email_recipients">Recipients</label>
    <%= f.select :recipient,["Student","Guardian"],prompt:true %></div>
    <br/><br/>
    <div><label for="email_message">Message</label>
    <%= text_area_tag :message %></div>
    <br/><br/>
    <div><%= f.submit 'Send',class: "btn btn-success"%></div>
  <%end%>
  </div>
</div>