<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Student Details','/students' %></li>
   <li>View Details</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="col-md-12">
		<%= form_for :batch, url:{action:'select'},method: :get,remote:true,html:{id: "batch_form_this"} do |f| %>
		
	    <%= f.select :id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:true},{onchange:"$('#batch_form_this').submit();",class: "form-control",style:"width:350px"}%>
		<% end %>
	</div>
</div>

<div id="student_view_all">
</div>	

			

