<h2 align="center">Initial Batch</h2>
<%= form_for ([@course,@course.batches.build ]) do |b|%>
<table class="table">

<tbody>
<tr><td><%=b.label :name%></td>
<td><%=b.text_field :name ,:style =>"width: 250px", :placeholder=>"batch" , class: "form-control"%></td>
</tr>
<tr>
<td><%=b.label :start_date%></td>
<td><%=b.date_field :start_date ,:id=>'datetimepicker2',class: "form-control",:style =>"width: 250px"%></td>
</tr>
<tr>
<td><%=b.label :end_date%></td>
<td><%=b.date_field :end_date ,:id=>'datetimepicker2',class: "form-control",:style =>"width: 250px"%></td>
</tr>
<tr>
<td colspan="2" ><%=b.submit 'Create',class: "btn btn-primary"%></td></tr>

<%end%>
<%end%>
</tbody>
</table>