<h1>Elective Group</h1>

<%= form_for @electivegroup do |f|%>
	<% if @electivegroup.errors.any? %>
		<div id="error_explanation">
		<h2>Errors prohibited this subject from being saved:</h2>
		<ul><% @electivegroup.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %></ul>
		</div>
	<% end %>	
<table style="width:500px">
		<tr><td><%= f.label :name %></td>
			<td><%= f.text_field :name%></td>
		</tr>
		<tr><td><%= f.submit %></td>
		</tr>
</table>
<% end %>

<%= link_to 'Back', subjects_path %><br><br>