 <div id="content-header">
  <h1>Batch Transfer</h1>
  <h3>Transfer</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0),batch_transfers_path %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>


<div id="page-yield">
<div id="box">
   <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

<p>Transferring batch: <%= @batch.name %></p>

<div>
    <%= select("batch","id",Batch.all.collect{|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]})%>
<p>From the below list uncheck the students you don't want to transfer to the new batch.</p>

</div><br/><br/><br/>
<div class="linker">
      <%= link_to "Assign All",batch_transfers_assign_all_path(@batch),remote:true%>
      <%= link_to "Remove All",batch_transfers_remove_all_path(@batch),remote:true %></div>
    <div id="students">
        <%= render 'students_list' %>
    </div>
 </div></div>