
 <div class="page-header">
  <h1 class="pull-left">
    <i class="icon-chart"></i>
      <span>Btach Transfer</span>
      <small>transfer</small>
  </h1>
  <div class="pull-right">
    <ul class="breadcrumb">
      <li>
        <a href="setting">
        <i class="icon-gears"></i>
        Settings
        </a>
      </li>       
      <li class="separator">
        <i class="icon-angle-right"></i>
      </li>
      <li class="active"><i class="icon-tags"></i>
          Transfer
      </li>
    </ul>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
      Transferring batch: <%= @batch.course.course_name+" "+@batch.course.section_name+"-"+@batch.name %>
    </div>
    <div class="col-sm-6">      
      <%=form_for :transfer, :url => {:action=> 'student_transfer'},method: :get do |f| %>
      <%= f.hidden_field :batch_id, value: @batch.id%>
      <%= f.select :id,Batch.all.collect{|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]}%>
    </div>
 </div>   

<div class="group-header">
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="text-center">
      <h2>Transfer Students</h2>
      <small class="text-muted">From the below list uncheck the students you don't want to transfer to the new batch.</small>
    </div>
  </div>
</div>
</div>

<div class="row">
      <%= link_to "Assign All",batch_transfers_assign_all_path(@batch),remote:true%>
      <%= link_to "Remove All",batch_transfers_remove_all_path(@batch),remote:true %>
</div>

<div id="students_list">
    <%= render 'students_list' %>
</div>

<div class="row">
 <div align="center"><%= f.submit "Transfer Student", class: 'btn btn-success'%>
 </div>
  
</div>
  
<% end %>


 