
<%= form_for [@batch,@grading_level1],remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f|%>

<div class="modal-body">
	<ul class="errors"></ul>
	<div class="control-group">
			<%= f.label :name , class: "control-label"%>
		<div class="control">
			<%= f.text_field :name %></div></div>
	<div class="control-group">
			<%= f.label :min_score , class: "control-label"%>
		<div class="control">
			<%= f.text_field :min_score %></div></div>
	<div class="control-group">
			<%= f.label :description, class: "control-label"%>
		<div class="control">
			<%= f.text_field :description %></div></div>
</div>	
<div class"modal-footer" class="control-group">		
	<%= f.submit 'Submit', class: "btn btn-primary"%>
	<%= link_to 'Cancel','#',class: "btn btn-primary",data:{dismiss:"modal"}%></div>
<% end %>

