 <%= link_to 'Add Grades',new_batch_grading_level_path(@batch),remote: true%>


 <table border="1" style="width:500px">  
    <tr>
        <th>Name</th>
        <th>Min Score</th>
        <th>Description</th>
    </tr>
    <% @grading_levels.each do |gradinglevel| %>
       <tr>
            <td><%= gradinglevel.name %></td>
            <td><%= gradinglevel.min_score %></td>
            <td><%= gradinglevel.description%></td>
            <td><%= link_to 'Destroy',[gradinglevel.batch,gradinglevel],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                 <td><%=link_to 'Edit',edit_batch_grading_level_path(gradinglevel.batch,gradinglevel)%></td>
            
        </tr>   
            
      <% end %>

</table>
