 <% @grading_levels.each do |gradinglevel| %>
        <tr id="grading-level-<%= gradinglevel.id %>">
            <td class="col-2"><%= gradinglevel.name %></td>
            <td class="col-2"><%= gradinglevel.min_score %></td>
            <td class="col-2"><%= gradinglevel.description%></td>
            <td><%=link_to 'Edit',edit_batch_grading_level_path(gradinglevel.batch,gradinglevel),remote: true%></td>
            <td><%= link_to 'Delete',[gradinglevel.batch,gradinglevel],remote: true,
                    method: :delete, data: { confirm: "Are you sure to delete #{gradinglevel.name} grade?" } %>
                    </td>
            
        </tr>   
            
      <% end %>
