<<<<<<< HEAD
<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<h1> Edit Grades</h1>
<%= render 'form' %>
</div>
</div>
</div>
<div class="col-md-1"></div>
=======
<%=form_for ([@batch,@grading_level]) do|f|%>
<table >
		

		<tr>
				<td><%=f.label :name%></td>
				<td><%=f.text_field :name%></td>
		</tr>

		<tr>
				<td><%=f.label :min_score%></td>
				<td><%=f.text_field :min_score%></td>
		</tr>

		<tr>
				<td><%=f.submit%></td>
		</tr>
</table>
<%end%>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
