<<<<<<< HEAD
<h1 align="center">GradingLevles</h1>
=======
<h1>GradingLevles</h1>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e


<%=form_for ([@batch,@grading_level]) do|f|%>
<%= select("batch1","batch_id",Batch.all.collect{|p| [p.name,p.id]})%>
<<<<<<< HEAD
<%= link_to 'Add Grades',new_batch_grading_level_path ,class: "btn btn-primary pull-right"%>

=======
<%= link_to 'Add Grades',new_batch_grading_level_path%>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
<input type="hidden" id="selectpath" value='<%=new_batch_grading_level_path(@batch.id)%>'>



<<<<<<< HEAD
   <table class="table" style="width:500px">  
=======
   <table border="1" style="width:500px">  
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
    <tr>
        <th>Name</th>
        <th>Min Score</th>
        <th>Description</th>
    </tr>
    <% @grading_levels.each do |gradinglevel| %>
       <tr>
            <td><%= gradinglevel.name %></td>
            <td><%= gradinglevel.min_score %></td>
            <td><%= gradinglevel.description%></td>
            <td><%= link_to 'Destroy',[gradinglevel.batch,gradinglevel],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                 <td><%=link_to 'Edit',edit_batch_grading_level_path(gradinglevel.batch,gradinglevel)%></td>
            
        </tr>   
            
      <% end %>

</table>

</div>
    
      <script>
	
              $("#batch1_batch_id").change(function() {
                   alert($(this).val());
              });
            
    </script>
<%end%>



