<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
   <div class="box-content">
      <div class="box-header well">
      <h2>Weekdays</h2>
    </div>

    <div class="box-content">
<% week =[] %>
<% @days.each do |dr| %>
  <% week.push dr %>

<% end %>
<%=form_for :weekday, :url => {:action=> 'create'},remote:true do |f| %>
<%= f.hidden_field :batch_id, :value => @batch.id%>
    
<table id="datatable" class="table table-striped table-bordered responsive">
<hr>
	<tbody> 
    <% @days.each do |w| %>
     <tr>
        <% q = w.to_i %>
        <td><%= @day[q] %></td>
<% @weekday= Weekday.find_by_batch_id_and_weekday(@batch.id,@day[q])%>
    <% if @weekday.nil? %>
        <td><%= check_box_tag "weekdays[]", w,false%></td>
    <%else%>
        <td><%= check_box_tag "weekdays[]", w,true%></td>
    <%end%>
     </tr> 
    <% end %>
    </tbody>
    </table>
  <p align="center"><%= submit_tag "Save", :class=>'btn btn-primary' %></p>
<% end %>
</div>
</div>
</div>
</div>
</div>
