<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Time Table',time_tables_path %></li>
    <li>Weekdays</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div class="row">
  <div class="col-md-12">
   <%= form_for :batch, url:{action:'select'},method: :get,remote:true,html:{id: "batch_form"} do |f| %>
    <%= f.select :id,  @weekdays.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name, b.id]},{prompt:'Select a batch'},{onchange:"$('#batch_form').submit();",class: "form-control",style:"width:350px"} %>  
    <%end%>
  </div>
</div>
<br/>
<div id="batch_div"></div>
