
<table align="center" class="table table-hover table-bordered" style="width:500px">
<ul id="category-list">
<tbody>

		
<% @online_que.each do |que|%>
             
            
	
			<tr>
			<td>Question:</td>
			</tr>
			<tr>
			<td></td>
			<td><%= que.question %></td>
			<td>marks:<%= que.marks%></td>
			<td><%=link_to 'Edit', online_exams_editQue_path(que)%></td>
            </tr>
            <tr>
			<td>options:</td>
			</tr>
			<tr>
			<td></td>
			<td><%= que.option_group%></td>
			<td><%= link_to 'Edit',online_exams_editOption_path(que) %>
			</td>
			</tr>

<%end%>
</tbody>
</ul>
</table>