  <%= form_for @queedit, url:{:action=>'updateQue',online_examque_id: @queedit},method: :patch do |f|%>
 
    <table class="table">
        <tr>
            <td class="col-2"><%= f.label :Question, class: "control-label"%></td>
            <td><%=f.text_area :question ,:style =>"width: 250px", class: "form-control"%></td>
        </tr>
        
        <tr>
            <td class="col-2"><%= f.label :Marks , class: "control-label"%></td>
             <td><%=f.text_field :marks,:style =>"width: 250px", class: "form-control"%></td>
        </tr>

        <tr>
          <td colspan="2"><%= f.submit 'Update', class: "btn btn-primary"%></td>
        </tr>
    </table>
  <%end%>