
<h1>Question</h1>
<table class="table">

    <%= form_for :online_exam_question, url:{:action=>'createQue'},method: :post do |f|%>
         <%=f.hidden_field :online_exam_id,value: @online_exam.id %>

        <tr>
            <td class="col-2"><%= f.label :Question, class: "control-label"%></td>
            <td><%=f.text_area :question ,:style =>"width: 250px", class: "form-control"%></td>
        </tr>
        
        <tr>
            <td class="col-2"><%= f.label :Marks , class: "control-label"%></td>
             <td><%=f.text_field :marks,:style =>"width: 250px", class: "form-control"%></td>
        <tr>

          <% options=@online_exam.option_per_question %>
             <% i=1 %>
             <% options.times do %>
           <tr>
            <td class="col-2"><%= f.label "option#{i}" , class: "control-label"%></td>

             <td><%=f.text_area :option_group,:style =>"width: 250px", class: "form-control"%></td>
     
             
                  <td><%= f.check_box :is_answer,:checked => false %> </td>
          </tr>
          <% i+=1 %>
          <%end%>
          
         <tr>
          <td colspan="2"><%= f.submit 'Create', class: "btn btn-primary"%>
     
        </tr>
      <% end %>
    </table>
