<div id="content-header">
  <h1>Edit User</h1>
  <h3>Change Password</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">

  <div id="changepw-form">
  </div>
  <% end %>
    <%= form_for @user,url:{action: 'update_password',id: @user.id},method: :patch do |f| %>
<% if @user.errors.any? %>
    <div class="alert alert-danger">
    <h4>Errors prohibited to being saved:</h4>
    <ul><% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %></ul>
    </div>
  <% end %>
    <table align="center" class="table" style="width:500px">
       <tbody>
            <tr>
              <td class="col-2"><%= f.label :old_password %></td>
              <td class="col-2"><%= f.password_field :old_password %></td></tr>
              <tr>
              <td class="col-2"><%= f.label :new_password %></td>
              <td class="col-2"><%= f.password_field :new_password %></td></tr>
              <tr>
              <td class="col-2"><%= f.label :confirm_password %></td>
              <td class="col-2"><%= f.password_field :confirm_password %></td></tr>
              <tr>
              <td colspan="2"><%= f.submit "Update",class: "btn btn-primary" %></td></tr>
        </tbody>
    </table> 

  <% end  %>
  </div>
  </div>
</div>