<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Manage Users','/users'%></li>
    <li>Make new user</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
 <div class="box col-md-2"></div>
  <div class="box col-md-6">
  <div class="box-inner">
    <div class="box-header well">
      <h2>New Course / Batch</h2>
    </div>

    <div class="box-content">

<%= form_for @user do |f| %>
<fieldset>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
    <h2>Errors prohibited to being saved:</h2>
    <h3>User account not created</h3>
    <ul><% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %></ul>
    </div>
  <% end %>
  <div class="col-sm-7 col-sm-offset-1">
        <div class="form-group">
         
          <%= f.label :username%>
             <%= f.text_field :username, class: "form-control", style: "width: 350px", placeholder: ""  %>
        </div>
        <div class="form-group">
        
               <b><%= f.label :first_name %></b>
              <%= f.text_field :first_name, class: "form-control", style: "width: 350px", placeholder: "" %>
        </div>
        <div class="form-group">
              <b><%= f.label :last_name %></b>
              <%= f.text_field :last_name, class: "form-control", style: "width: 350px", placeholder: "" %>
              </div>
        <div class="form-group">
              <b><%= f.label :email %></b>
              <%= f.text_field :email, class: "form-control", style: "width: 350px", placeholder: ""%>
              </div>
        <div class="form-group">      
              <b><%= f.label :password %></b>
              <%= f.password_field :password, class: "form-control", style: "width: 350px", placeholder: "" %>
               <%= f.hidden_field :role, value: 'Admin' %>
               </div>
        <div class="form-group">      
            <%= f.submit "Create",class: "btn btn-primary" %>
            </div>
        </div>
        </fieldset>

  <% end  %>
 
  </div>
  </div>
  </div>
  </div>


