<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
   <li>View Details</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
     
      <%= link_to 'Back','/users', class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
  </div>
<hr>



<div class="row">
<div class="col-md-1"></div>
  <div class="col-md-10">
		<%= form_for :user, url:{action:'select'},method: :get,remote:true,html:{id: 'user_form2'} do |f| %>
		<b>Select Role:</b>
	    <%= f.select :role,["Admin", "Employee", "Student","Parent"],{prompt:'Select a Role'},{onchange:"$('#user_form2').submit();",class: "form-control",style:"width:350px"} %>
		<% end %>
</div>
</div>
<br><br>
 <div id="user_view"></div> 
