<p id="notice"><%= notice %></p>

<p>
  <strong>Option:</strong>
  <%= @option.option %>
</p>

<p>
  <strong>Is answer:</strong>
  <%= @option.is_answer %>
</p>

<p>
  <strong>Question:</strong>
  <%= @option.question %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
