<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Activity Details</h2>
    </div>

    <div class="box-content">
    <table class="datatable display responsive no-wrap table">
        <thead>
          <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>User</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @acts.each_with_index do |a, i| %>
          <tr>
            <td>
              <%= i+1 %>
            </td>
            <td>
              <%= link_to a.created_at, user_activity_home_path(a) %>
            </td>
            <td>
              <%= a.user.email%>
            </td>
            <td>
              <%= a.user.role%>
            </td>
            <td>
              <%= [a.action, a.modelname].join(' ')%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>