<div id="content-header">
  <h1>Welcome</h1>
  <h3>to Axenic School dashboard</h3>
</div>
<div id="page-yield">
<div class="container" style="margin-top:50px">
<div class="row">
<div class="col-md-2 col-xs-2">
        <div class="link-heading"><%= link_to image_tag("admission_page_logo.jpg"),'/students/admission1',title: "Addmission" %></div>
        <div class="link-descr">Addmission</div><br />
</div>        
<div class="col-md-2 col-xs-2">     
       <div class="link-heading"><%= link_to image_tag("student_details_logo.jpg"), '/students',title: "Student Details"%></div>
        <div class="link-descr">Student Details</div><br />
</div>     
<div class="col-md-2 col-xs-2">     
        <div class="link-heading"><%= link_to image_tag("manage_user.jpg"),'/users',title: "Manage Users" %></div>
        <div class="link-descr">Manage Users</div><br />
</div>   
<div class="col-md-2 col-xs-2">     
        <div class="link-heading"><%= link_to image_tag("manage_news_logo.png"), '/newscasts',title: "Manage News"%></div>
        <div class="link-descr">Manage News</div><br/>
</div>        
<div class="col-md-2 col-xs-2">     
         <div class="link-heading"><%= link_to image_tag("show_exam.png"), '/exams',title: "Examinations"%></div>
        <div class="link-descr">Examinations</div>
</div>
</div>
</div>
<div class="container" style="margin-top:50px">
<div class="row">
<div class="col-md-2 col-xs-2">     
        <div class="link-heading"><%= link_to image_tag("show_timetable.png"),'/time_tables',title: "Timetable" %></div>
        <div class="link-descr">Timetable</div><br/>
</div>   
<div class="col-md-2 col-xs-2">     
        <div class="link-heading"><%= link_to image_tag("show_calender.png"),'/calender',title: "Calender" %></div>
        <div class="link-descr">Calender</div>
</div>
<div class="col-md-2 col-xs-2">     
        <div class="link-heading"><%= link_to image_tag("show_settings.png"), '/setting',title: "Setting"%></div>
        <div class="link-descr">Settings</div><br />
</div>                

<div class="col-md-2 col-xs-2">     
        <div class="link-heading"><%= link_to image_tag("show_hr.png"), '/employees',title: "Human Resources"%></div>
        <div class="link-descr">Human Resources</div><br/>
</div>
<div class="col-md-2 col-xs-2">     
        <div class="link-heading"><%= link_to image_tag("show_finance.png"), '',title: "Finance"%></div>
        <div class="link-descr">Finance</div><br/>
</div>
</div>        
</div></div>