<h1>calender</h1>

<%= form_for :event ,url:{action:'create'} do |f| %>

<div><%=f.label :start_date%></div>
<div><%=f.date_field :start_date ,value: @start_date,:id=>'datetimepicker2',class: "form-control",:style =>"width: 250px"%></div>

<div><%=f.label :end_date%></div>
<div><%=f.date_field :end_date ,:id=>'datetimepicker2',class: "form-control",:style =>"width: 250px"%></div>

<div>
<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>
</div>
<div>
<p> 
<%=f.label :Description %><br>
<%=f.text_area :description %>
</p>
</div>
   <p> <%= f.check_box :is_holiday, {:checked=>false}%> 
        <%= label_tag(:is_holiday, "holiday") %></p>
   <p> <%= f.check_box :is_common, {:checked=>false}%> 
        <%= label_tag(:is_common, "Eventcommontoall") %></p>
 <p>
   <%= f.submit :'Create Event'%>
 </p>
  <% end %>