<div id="content-header">
  <img src="/images/manage_news/manage_news_logo.png" />
  <h1>Events</h1>
  <h3>Step 2 - Confirmation</h3>
  <div id="app-back-button">
    <%= link_to image_tag("/images/buttons/back.png", :border => 0), :back %>
  </div>
</div>
<table border="1" >
  
<table class="table" style="width:500px">
<tbody>
	<tr>
			<td> Titl---></td>
			<td><%=@event.title%></td>
	</tr>

	<tr>
			<td> Description---></td>
			<td><%=@event.description%></td>
	</tr>
	<tr>
			<td> Start Date---></td>
			<td><%=@event.start_date%></td>
	</tr>

	<tr>
			<td> End Date---></td>
			<td><%=@event.end_date%></td>
	</tr>

	<tr>
		<td><h3><%= link_to 'Select Batch',event_path,class: "btn btn-primary",remote: true%></h3></td>
<tr><td><h3><%= link_to 'select department',event_path,class: "btn btn-primary",remote: true%></h3></td></tr>

	</tr>
	
	<tr>
				
 			<td><h3><%= link_to '► Confirm',calender_index_path,class: "btn btn-primary"%></h3></td>
 			<td><h3><%= link_to '► Cancel',new_event_path,class: "btn btn-primary"%></h3></td>

	</tr>
	 

</tbody>
</table>

<div id="kankya"></div>
<div id ="kankya2"></div>