<h1>SETTING</h1>
<div style="height:400px">
<div><%= link_to 'Manage course', courses_path, class: "btn btn-primary"%></div>
<div><%= link_to 'Manage batch', batches_path,class: "btn btn-primary"%></div>
<div><%= link_to 'Manage subject', batch_subjects_path(1), class: "btn btn-primary"%></div>
<div><%= link_to 'Manage Students category',categories_path, class: "btn btn-primary"%></div>
<div><%= link_to 'General Setting', new_general_setting_path, class: "btn btn-primary"%></div>
</div>