<%= student_present%>
<div class="box-inner">
  <div class="box-header well">
    <h2><%= "#{@student.full_name}"" - #{@student.admission_no}" %></h2>
   </div>
   <div class="box-content">
    <table class="table table-bordered">
       <tr> 
        <th>Subject</th>
        <% @exam_groups.each do |exam_group| %>
          <th><%= exam_group.name %></th>
        <% end %>
          <th>Total</th>
      </tr>
      <% max_total = 0 %>
      <% marks_total = 0 %>
      <% @subjects.each do |subject| %>
      <% if subject.valid?(@student) %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-3" ><%= subject.name %></td>
        <% @exam_groups.each do |exam_group| %>
          <td class="col-3"><%= exam_group.exam_marks(subject, @student)%></td>
          <%unless exam_group.exam_type == 'Grades'%>
          <%= max_total = exam_group.exam_total(subject, max_total)%>
          <% marks_total = exam_group.exam_mar(subject, @student, marks_total)%>
          <%end%>
        <% end %>
          <td class="col-1"><%= "#{marks_total || "-"}/"+max_total.to_s %></td>  
        </tr>
        <% max_total = 0 %>
        <% marks_total = 0 %>
      <%end%>
      <% end %>
      <tr class="tr-blank"><td colspan="3"><hr></td></tr>
      <tr>
      <th>Total</th>
        <% @max_total = 0 %>
        <% @marks_total = 0 %>
        <% total_marks=0%><%total=0%>
        <% @exam_groups.each do |exam_group| %>
        <% exam_group.exams.each do |exam|%>
          <% if exam.subject.valid?(@student) %>
            <% unless exam_group.exam_type == "Grades"%>
              <% @max_total = exam.exam_total(@max_total) %>
              <% @marks_total = exam.exam_mar(@student, @marks_total)%>
            <%end%>
          <%end%>
          <%end%>
          <th>
          <% unless exam_group.exam_type == "Grades" %>
          <%= "#{@marks_total || "-"}/"+@max_total.to_s %>
          <% end %>
          </th>
        <% total_marks+= @marks_total %>
        <%total+= @max_total %>
        <% @max_total = 0 %>
        <% @marks_total = 0 %>
        <% end %>
        <th><%= "#{total_marks || "-"}/"+total.to_s %></th>
      </tr>
      <tr></tr>
    </table>
      <h4><div class="custom_header" align="left">
        <% percentage = "%.2f" %(total_marks*100/total)+"%" unless total == 0%>
        Total Marks = <%= total_marks %> | Aggregate % = <%= percentage  unless percentage.nil? %>
      </div>
      </h4>
  </div>
</div>