<% unless @exam_group.result_published? %>
<div id="score-table">
    <div class="custom_header" align="left">
      <span class="student">Result not published</span>
     </div>
<%else%>

<div class="box-inner">
  <div class="box-header well">
 <h2><%= @batch.course.course_name %> <%= @batch.name %> | <%= @exam_group.name %></h2>
 </div>
    
      <table  class="table table-bordered ">
        <thead>
        <tr>

          <th ><font>Name</font></th>
            <% @exam_group.exams.each do |exam| %>
              <th><font><%= exam.subject.code+" "+exam.subject.name %><%= "(" + exam.maximum_marks.to_s + ")"  unless exam.maximum_marks.nil? %></font></th>
            <% end %>
            <% unless @exam_group.exam_type == "Grades" %>
              <th><font>Percentage(%)</font></th>

            <% end %>
        </tr>
        </thead>
        <% @exam_group.batch.archived_students.each do |student|%>
          <tr>
            <td ><%= student.first_name+" "+ student.last_name%></td>
     
              <% total_marks = 0 %>
              <% total_max_marks = 0 %>
              <% @exam_group.exams.each do |exam| %>
                <% if exam.subject.valid?(student) %>
                <% exam_score = exam.scores(student) %>
                <td><%= @exam_group.type_result(exam, exam_score)%></td>
                <% unless @exam_group.exam_type == "Grades" %>
                  <% total_marks = total_marks+(exam_score.marks || 0) unless exam_score.nil?  %>
                  <% total_max_marks = total_max_marks+exam.maximum_marks unless exam_score.nil? %>
              <%else%>
                <td><%= exam_score.grading_level.name %></td>
              <%end%>
              <%else%>
              <td>-</td>
              <%end%>
              <%end%>
              <td ><% percentage = total_marks*100/total_max_marks.to_f unless total_max_marks == 0%>
                  <%= "%.2f" %percentage unless total_max_marks == 0 %></td>
            </tr>
             <%end%>
      </table>
  </div></div></div>
<%end%>