<% exam_score = [] %>
<% @exam_group.exams.each do |exam| %>
  <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
<% end%>
  <% total_marks_attained = 0 %>
  <% total_max_marks = 0 %>
  <div id="score-table">
    <div class="custom_header">
      <span class="student"><%= "#{@student.first_name+" "+@student.last_name}"" - #{@student.admission_no}" %></span>
    </div>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td>Subject</td>
        <% if @exam_group.exam_type == 'Marks' %>
          <td>Marks obtained</td>
          <td>Max</td>
          <td>Percentage(%)</td>
        <% elsif @exam_group.exam_type == 'Grades' %>
          <td>Grades</td>
        <% else %>
          <td>Marks obtained</td>
          <td>Max</td>
          <td>Grades</td>
          <td>Percentage(%)</td>
        <% end %>
      </tr>
      <% exam_score.each do |es| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1"> <%= es.exam.subject.name %></td>
          <% if @exam_group.exam_type == 'Marks' %>
            <td class="col-1"><%= es.marks || '-' %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1"><%= es.calculate_percentage %></td>
          <% elsif @exam_group.exam_type == 'Grades' %>
            <td class="col-1"><%= es.grading_level || "-" %></td>
          <% else %>
            <td class="col-1"><%= es.marks || "-" %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1"><%= es.grading_level || "-" %></td>
            <td class="col-1"><%= es.calculate_percentage %></td>
          <% end %>
        </tr>
      <% end %>
<tr class="blank"></tr>
      <% if @exam_group.exam_type == 'mark' or @exam_group.exam_type == 'MarksAndGrades' %>
        <tr class="tr-head">
          <td>Total marks:</td>
          <td><%= total_marks_attained %></td><td><%= total_max_marks %></td>
          <td>-</td>
          <td><%= "%.2f" %(total_marks_attained*100/total_max_marks)+"%" unless total_max_marks == 0 %></td>
        </tr>
      <% end %>
    </table>
</div>