<% unless @exam_group.result_published? %>
<div id="score-table">
    <div class="custom_header">
      <span class="student">Result not published</span>
    </div></div>
<%else%>
<% exam_score = [] %>
<% @exam_group.exams.each do |exam| %>
  <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
<% end%>
  <% total_marks_attained = 0 %>
  <% total_max_marks = 0 %>
<% if @student.nil? %>
<div id="score-table">
    <div class="custom_header">
      <span class="student">Student recorde not found</span>
    </div>
<%else%>
  <div id="score-table">
    <div class="custom_header">
      <span class="student"><%= "#{@student.first_name+" "+@student.last_name}"" - #{@student.admission_no}" %></span>
    </div>
    <table id="listing" width="100%" cellpadding="1" cellspacing="1" class="table-bordered table-hover">
      <tr class="tr-head">
        <td class="col-3"><font color="blue">Subject</font></td>
        <% if @exam_group.exam_type == 'Marks' %>
          <td><font color="blue">Marks obtained</font></td>
          <td><font color="blue">Max</font></td>
          <td><font color="blue">Percentage(%)</font></td>
        <% elsif @exam_group.exam_type == 'Grades' %>
          <td><font color="blue">Grades</font></td>
        <% else %>
          <td><font color="blue">Marks obtained</font></td>
          <td><font color="blue">Max</font></td>
          <td><font color="blue">Grades</font></td>
          <td><font color="blue">Percentage(%)</font></td>
        <% end %>
      </tr>
      <% exam_score.each do |es| %>
      <% is_valid_subject=1 %>
          <% unless es.exam.subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(@student.id,es.exam.subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-2"> <%= es.exam.subject.name %></td>
          <% if @exam_group.exam_type == 'Marks' %>
            <td class="col-1"><%= es.marks || 'AB' %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1"><%= es.calculate_percentage %></td>
          <% elsif @exam_group.exam_type == 'Grades' %>
            <td class="col-1"><%= es.grading_level.name || "AB" %></td>
          <% else %>
            <td class="col-1"><%= es.marks || "AB" %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1"><%= es.grading_level.name || "AB" %></td>
            <td class="col-1"><%= es.calculate_percentage %></td>
          <% end %>
        </tr>
      <% end %>
      <%end%>
      <tr class="tr-blank"></tr>
      <% unless @exam_group.exam_type == 'Grades'%>
        <tr class="tr-head">
          <td><font color="blue">Total marks:</font></td>
          <td><font color="blue"><%= total_marks_attained %></font></td>
          <td><font color="blue"><%= total_max_marks %></font></td>
          <%if @exam_group.exam_type=="Marks and Grades"%>
          <td>-</td>
          <%end%>
          <td><font color="blue"><%= "%.2f" %(total_marks_attained*100/total_max_marks)+"%" unless total_max_marks == 0 %></font></td>
        </tr>
      <%else%>
        <tr class="tr-head">
          <td><font color="blue">Final Grade:</font></td>
          <td>-</td>
        </tr>
      <% end %>
    </table>
</div>
<%end%>
<%end%>