 <% if @student.nil? %>
    <div id="score-table" style="width:80%">
    <div class="custom_header" align="left">
      <span class="student">Student not found</span>
     </div></div>
<%else%>
<% if @subjects.nil? %>
    <div id="score-table" style="width:80%">
    <div class="custom_header" align="left">
      <span class="student">Subjects not found</span>
     </div></div>
<%else%>
  <div id="score-table" style="width:80%">
    <div class="custom_header" align="left">
      <span class="student"><%= "#{@student.first_name+" "+@student.last_name}"" - #{@student.admission_no}" %></span>
     </div>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1" class="table-bordered table-hover">
     <% max_total = 0 %>
        <% marks_total = 0 %>
      <tr class="tr-head">
        <td class="col-2"><font color="blue">Subject</font></td>
        <% @exam_groups.each do |exam_group| %>
          <td><font color="blue"><%= exam_group.name %></font></td>
        <% end %>
          <td><font color="blue">Total</font></td>
      </tr>

      <% @subjects.each do |subject| %>
      <% is_valid_subject=1 %>
          <% unless subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(@student.id,subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-3" ><%= subject.name %></td>

          <% @exam_groups.each do |exam_group| %>

            <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
            <% exam_score = ExamScore.find_by_student_id_and_exam_id(@student.id,@exam.id) unless @exam.nil? %>
            <td class="col-3">
              <% unless @exam.nil? %>
                <% if exam_group.exam_type == "Marks and Grades" %>
                  <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "AB")}" +"/"+@exam.maximum_marks.to_s+"[#{(exam_score.grading_level.name || "AB")}]" %>
                <% elsif exam_group.exam_type == "Marks" %>
                  <%= exam_score.nil? ? '-' : "#{exam_score.marks || "AB"}/"+@exam.maximum_marks.to_s %>
                <% else %>
                  <%= exam_score.nil? ? '-' : (exam_score.grading_level.name || 'AB')  %>
                <% end %>
              <% else %>
               NA
            <% end %>
          </td>
          <% unless @exam.nil? %>
            <% max_total += @exam.maximum_marks.to_f %>
            <% marks_total += exam_score.marks.to_f %>
          <%end%>
          <% end %>
          <td class="col-1"><%= "#{marks_total || "-"}/"+max_total.to_s %></td>  
          </tr>
        <% max_total = 0 %>
        <% marks_total = 0 %>
        <%end%>
      <% end %>
      <tr class="tr-blank"></tr>
      <tr class="tr-head">
        <td class="col-2"><font color="blue">Total</font></td>
        <% @max_total = 0 %>
        <% @marks_total = 0 %>
        <% total_marks=0%><%total=0%>
        <% @exam_groups.each do |exam_group| %>
        <% exams=exam_group.exams.all%>
        <%exams.each do |exam|%>
        <% is_valid_subject=1 %>
          <% unless exam.subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(@student.id,exam.subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
            <% exam_score = ExamScore.find_by_student_id_and_exam_id(@student.id,exam.id) unless exam.nil? %>
             <% @max_total += exam.maximum_marks.to_f %>
              <% @marks_total += exam_score.marks.to_f %>
          <%end%>
          <%end%>
          <% if exam_group.exam_type == "Marks and Grades" %>
            <td><font color="blue"><%= "#{@marks_total || "-"}/"+@max_total.to_s %></font></td>
          <% elsif exam_group.exam_type == "Marks" %>
            <td><font color="blue"><%= "#{@marks_total || "-"}/"+@max_total.to_s %></font></td>
          <% else %>
            <td></td>
          <% end %>
        <% total_marks+= @marks_total %>
        <%total+= @max_total %>
        <% @max_total = 0 %>
        <% @marks_total = 0 %>
        <% end %>
        <td><font color="blue"><%= "#{total_marks || "-"}/"+total.to_s %></font></td>
      </tr>
      <tr></tr>
    </table>
      <div class="custom_header" align="left"><font color="green">
        <% percentage = "%.2f" %(total_marks*100/total)+"%" %>
        Total Marks = <%= total_marks %> | Aggregate % = <%= percentage  unless percentage.nil? %></font>
      </div>
  </div>
  <%end%>
  <%end%>