<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #heading {
        width:100%;
        margin: 0 auto;
      }

       
      #head {
        height: 100px;
        width: 700px;
        text-align: center;
        font-size: 40px;
        border-color: black;

      }
      #head_info {
        text-align: center;
        font-size: 15px;
      }

    </style>
  </head>
  <body>
    <div id="heading">
      <div id="head">
        <%= @general_setting.school_or_college_name%><br/>
        <div id="head_info">
          <%= @general_setting.school_or_college_address%><br/><br/>
          <%= @general_setting.school_or_college_phone_no%>
        </div>
      </div>
      <hr>
    <br/><h3><center>Archived Students Exam Report </center></h3>
    <br>
      <h4>Batch:<%= @batch.course.course_name.capitalize+" "+@batch.course.section_name.capitalize+" "+@batch.name.capitalize %></h4>
<% @students.each do |student|%>
 <br>
     <b><%= "#{student.first_name+" "+student.last_name}"" - #{student.admission_no}" %>
     </b>
      <br>
  <table cellpadding="4" cellspacing="5" width="700">
     <% max_total = 0 %>
        <% marks_total = 0 %>
       <tr>
        <th bgcolor="99CCFF">Subject</th>
        <% @exam_groups.each do |exam_group| %>
          <th bgcolor="99CCFF"><%= exam_group.name %></th>
        <% end %>
          <th bgcolor="99CCFF">Total</th>
      </tr>

      <% @subjects.each do |subject| %>
      <% is_valid_subject=1 %>
      <br>
          <% unless subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.student_id,subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td ><%= subject.name %></td>

          <% @exam_groups.each do |exam_group| %>

            <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
            <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.student_id,@exam.id) unless @exam.nil? %>
            <td>
              <% unless @exam.nil? %>
                <% if exam_group.exam_type == "Marks and Grades" %>
                  <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "AB")}" +"/"+@exam.maximum_marks.to_s+"[#{(exam_score.grading_level.name || "-")}]" %>
                <% elsif exam_group.exam_type == "Marks" %>
                  <%= exam_score.nil? ? '-' : "#{exam_score.marks || "AB"}/"+@exam.maximum_marks.to_s %>
                <% else %>
                  <%= exam_score.nil? ? '-' : (exam_score.grading_level.name || 'AB')  %>
                <% end %>
              <% else %>
               NA
            <% end %>
          </td>
          <% unless @exam.nil? %>
          <%unless exam_group.exam_type == "Grades"%>
            <% max_total += @exam.maximum_marks.to_f %>
            <% marks_total += exam_score.marks.to_f unless exam_score.nil? %>
          <%end%>
          <%end%>
          <% end %>
          <td><%= "#{marks_total || "-"}/"+max_total.to_s %></td>  
          </tr>
        <% max_total = 0 %>
        <% marks_total = 0 %>
        <%end%>
      <% end %>
    
      <tr>
        <th>Total</th>
        <% @max_total = 0 %>
        <% @marks_total = 0 %>
        <% total_marks=0%><%total=0%>
        <% @exam_groups.each do |exam_group| %>
        <% exams=exam_group.exams.all%>
        <%exams.each do |exam|%>
        <% is_valid_subject=1 %>
          <% unless exam.subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.student_id,exam.subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
            <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.student_id,exam.id) unless exam.nil? %>
            <% unless exam.nil? %>
            <%unless exam_group.exam_type == "Grades"%>
              <% @max_total += exam.maximum_marks.to_f %>
              <% @marks_total += exam_score.marks.to_f unless exam_score.nil? %>
            <%end%>
            <%end%>
          <%end%>
          <%end%>
          <% if exam_group.exam_type == "Marks and Grades" %>
            <th><%= "#{@marks_total || "-"}/"+@max_total.to_s %></th>
          <% elsif exam_group.exam_type == "Marks" %>
            <th><%= "#{@marks_total || "-"}/"+@max_total.to_s %></th>
          <% else %>
            <th></th>
          <% end %>
        <% total_marks+= @marks_total %>
        <%total+= @max_total %>
        <% @max_total = 0 %>
        <% @marks_total = 0 %>
        <% end %>
        <th><%= "#{total_marks || "-"}/"+total.to_s %></th>
      </tr>
      <tr></tr>
    </table>
      <div class="custom_header" align="left">
        <% percentage = "%.2f" %(total_marks*100/total)+"%" %>
        Total Marks = <%= total_marks %> | Aggregate % = <%= percentage  unless percentage.nil? %>
      </div>
  </div><br/><br/>
<%end%>
</div>
</body>
</html>