<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination',exams_path%></li>
    <li><%= link_to 'Report Center', report_center_exam_reports_path %></li>
    <li><%= link_to 'Archived student report', archived_student_report_exam_reports_path %> </li>
    <li><%= link_to 'Generated report' %> </li>
    <li>Archived Student Consolidated Report</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Pdf report',archived_students_consolidated_report_exam_reports_path(id:@batch.id,format:"pdf"),class: 'btn btn-primary-link btn-xs'%>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-11">
    <%= form_for :exam_group_option, :url=>{:action=>'exam_group_wise_report'},html:{id: 'form_exam_group'},remote:true,method: :get do |f| %>
      <b>Select Exam Group:</b>
       <%= f.select :id, @exam_groups.collect {|e| [e.name,e.id]},{prompt:true},{onchange:"$('#form_exam_group').submit();",class: "form-control",style:"width:300px"}%>
     <% end %>
    </div>
   </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div id="consolidated_report"></div>
  </div>
  </div>