<div id="content-header">
  <h1>Exam Reports</h1>
  <h3>Exam Wise Consolidated Report</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back  %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'Pdf Report','' %></li>
  </ul>
</div>
<div id="page-yield">
 
  <div class="box">
   <div class="bread_crumb">
    <%= link_to 'Exams',  '/exams'  %> &raquo;
    <%= link_to 'Report Center', '/exam_reports/report_center' %> &raquo;
    <%= link_to 'Exam_wise_report', '/exam_reports/exam_wise_report' %> &raquo;
    Consolidated Report
  </div><br/><br/>
  <div id="score-table">
    <div class="custom_header">
    <h4><%= @batch.course.course_name %> <%= @batch.name %> | <%= @exam_group.name %></h4>
    <div class="students-table">
      <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td class="col-2">Name</td>
            <% @exam_group.exams.each do |exam| %>
              <td class="col-2"><%= exam.subject.code+" "+exam.subject.name %><%= "(" + exam.maximum_marks.to_s + ")"  unless exam.maximum_marks.nil? %></td>
            <% end %>
            <% unless @exam_group.exam_type == "Grades" %>
              <td class="col-2">Percentage(%)</td>
            <% end %>
        </tr>
        <% @exam_group.batch.students.each do |student|%>
          <tr>
            <td class="col-2"><%= student.first_name+" "+ student.last_name%></td>
     
              <% total_marks = 0 %>
              <% total_max_marks = 0 %>
              <% @exam_group.exams.each do |exam| %>
                <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) %>
                <% unless @exam_group.exam_type == "Grades" %>
                  <td class="col-2">
                    <% if @exam_group.exam_type == "MarksAndGrades" %>
                      <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" + "(#{(exam_score.grading_level || "-")})" %>
                    <% else %>
                      <%= exam_score.nil? ? '-' : exam_score.marks || "-" %>
                    <% end %>
                  </td>
                  <% total_marks = total_marks+(exam_score.marks || 0) unless exam_score.nil?  %>
                  <% total_max_marks = total_max_marks+exam.maximum_marks unless exam_score.nil? %>
              <%end%>
              <%end%>
              <td class="col-2"><% percentage = total_marks*100/total_max_marks.to_f unless total_max_marks == 0%>
                  <%= "%.2f" %percentage unless total_max_marks == 0 %></td>
            </tr>
             <%end%>
      </table>
  </div></div></div>
</div>