<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #heading {
        width:100%;
        margin: 0 auto;
      }
      #head {
        height: 100px;
        width: 700px;
        text-align: center;
        font-size: 40px;
        border-color: black;
      }
      #head_info {
        text-align: center;
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <div id="heading">
      <div id="head">
        <%= @general_setting.school_or_college_name%><br/>
        <div id="head_info">
          <%= @general_setting.school_or_college_address%><br/><br/>
          <%= @general_setting.school_or_college_phone_no%>
        </div>
      </div>
      <hr>
        <br/><h3><center>Exam Wise Consolidated Report </center></h3>
    <br>
 <table cellpadding="4" cellspacing="5" width="700">
       <tr>
        <th bgcolor="99CCFF">Name</th>
          
            <% @exam_group.exams.each do |exam| %>
              <th bgcolor="99CCFF"><%= exam.subject.code+" - "+exam.subject.name %><%= "(" + exam.maximum_marks.to_s + ")"  unless exam.maximum_marks.nil? %></th>
            <% end %>
            <% if @exam_group.exam_type == "Marks" %>
              <th bgcolor="99CCFF" >Percentage(%)</th>
            <%elsif @exam_group.exam_type == "Grades"%>
              <th></th>
            <%else%>
              <th></th>
              <th bgcolor="99CCFF">Percentage(%)</th>
            <% end %>
        </tr>
        <% @exam_group.batch.students.each do |student|%>
          <tr>
            <td align="center"><%= student.first_name+" "+ student.last_name%></td>
              <% total_marks = 0 %>
              <% total_max_marks = 0 %>
              <% @exam_group.exams.each do |exam| %>
                <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) %>
          <% is_valid_subject=1 %>
            <% unless exam.subject.elective_group_id.nil? %>
              <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.id,exam.subject.id) %>
              <% is_valid_subject = 0 if is_student_elective.nil? %>
            <% end %>
          <% unless is_valid_subject == 0 %>
                <% unless @exam_group.exam_type == "Grades" %>
                  <% if @exam_group.exam_type == "Marks"%>
                  <td align="center">
                   <%= exam_score.nil? ? '-' : exam_score.marks || "AB" %>
                  </td>
                  <% else %>
                  <td align="center">
                   <%= exam_score.nil? ? '-' : exam_score.marks.to_s + ' | ' + exam_score.grading_level.name || "AB" %>
                  </td>
                  <%end%>
                <%else%>
                   <td ><%= exam_score.grading_level.name %></td>
                <% end %>
                  <% total_marks = total_marks+(exam_score.marks || 0) unless exam_score.nil?  %>
                  <% total_max_marks = total_max_marks.to_f+exam.maximum_marks.to_f unless exam_score.nil? %>
            <%else%>
                <td></td>
            <%end%>
            <%end%>
            <% if @exam_group.exam_type == "Marks and Grades"%>
            <td>-</td>
            <%end%>
              <td align="center"><% percentage = total_marks*100/total_max_marks.to_f unless total_max_marks == 0%>
                  <%= "%.2f" %percentage unless total_max_marks == 0 %></td>
            </tr>
             <%end%>
      </table>
</div>
</body>
</html>