<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Examination','/exams'%></li>
     
    <li><%= link_to 'Report Center', '/exam_reports/report_center' %></li>
    <li><%= link_to 'Exam wise report', '/exam_reports/exam_wise_report' %> </li>
    <li>Generated report</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
    <% if @exam_group.result_published? %>
      <%= link_to 'Consolidated Report',exam_reports_consolidated_report_path(@exam_group), class: "btn btn-primary-link btn-sm" %>
      <%= link_to 'Pdf Report',exam_reports_exam_wise_students_report_path(exam_group_id:@exam_group.id,format:"pdf"), class: "btn btn-primary-link btn-sm" %>
      <%end%>
    </div>
  </div>
</div>
<hr>


 <div class="col-md-2"></div>
  <h3><%= @batch.course.course_name+" "+@batch.course.section_name+" "+@batch.name %> - <%= @exam_group.name %></h3>
<br>
<div class="row">
  <div class="box col-md-3">
   <div>
    <%= render 'exam_wise_student_list' %>
    </div>
  </div>
  <div class="box col-md-9">
  <div id="exam_wise_report">
    <%= render 'exam_wise_report' %>
  </div>
  </div>
</div>