<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination','/exams'%></li>
    <li><%= link_to 'Report Center', '/exam_reports/report_center' %></li>
    <li><%= link_to 'Student ranking per subject report', '/exam_reports/student_ranking_per_subject' %></li>
    <li>Generated report</li>
    </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
        <%= link_to 'Pdf report',subject_wise_ranking_report_exam_reports_path(id:@subject.id,format:"pdf"), class: "btn btn-primary-link btn-sm" %>
    </div>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
    <div class="box-inner">
      <div class="box-header well">
    <h2><%= @batch.name %> - <%= @batch.course.course_name %> - <%= @batch.course.section_name %>| <%= @subject.name %>
    </h2>
    </div>
    <div class="box-content">
      <table class="table table-bordered table-hover">
        <tr class="tr-head">
          <th>Sr.No.</th>
          <th>Admission No</th>
          <th>Student Name</th>
          <% ranks = [] %>
          <% rank_students=[] %>
          <% group_ranks=[] %>
          <% @exam_groups.each do |exam_group| %>
            <% grouped_exams=GroupedExamReport.where(subject_id:@subject.id,exam_group_id:exam_group.id,batch_id:@batch.id)%>
                <% grouped_exams.each do |ge|%>
                    <% ranks<<[ge.student_id,ge.marks.to_f]%>
                  <%end%>
                  <% ranks.sort_by{|r| r[1]}.reverse.each do |rank|%>
                      <% rank_students<<rank[0]%>
                  <%end%>
                  <% group_ranks<<[exam_group.id,rank_students] %>
                  <% ranks = [] %>
                  <% rank_students=[] %>
                  <th><%= exam_group.name %></th>
          <%end%>
        </tr>
        <% @students.reverse.each_with_index do |student,i| %>
            <% is_valid_subject=1 %>
            <% unless @subject.elective_group_id.nil? %>
                <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.id,@subject.id) %>
                <% is_valid_subject = 0 if is_student_elective.nil? %>
            <% end %>
            <% unless is_valid_subject == 0 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
            <td><%= i+1 %></td>
            <td><%= student.admission_no.present? ? student.admission_no : "-" %></td>
            <td ><%= student.first_name+" "+student.last_name %></td>
              <% @exam_groups.each do |exam_group| %>
              <td align="center">
                <% group_ranks.each do |group_rank|%>
                    <% if exam_group.id==group_rank[0]%>
                      <% group_rank[1].each_with_index do |rank,ind|%>
                        <% if student.id==rank%>
                          <%=ind+1%>
                        <%end%>
                      <%end%>
                    <%end%>
                   
                <%end%>
              </td>        
              <%end%>
            </tr>
            <%end%>
        <% end %>
      </table>
    </div>
    </div>
  </div>
</div>
 