<div id="content-header">
  <h1>Exam Reports</h1>
  <h3>Generated Report</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0),:back %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'Pdf Report',''%></li>
  </ul>
</div>

<div id="page-yield">
  <div class="box">
  <div class="bread_crumb">
    <%= link_to 'Exams', '/exams' %> &raquo;
    <%= link_to 'Report Center', '/exam_reports/report_center' %> &raquo;
    <%= link_to 'Subject Wise Report','/exam_reports/subject_wise_report'%> &raquo;
    Generated Report
  </div><br/><br/>
    <h4><%= @batch.name %> - <%= @batch.course.course_name %> | <%= @subject.name %></h4>
    <div id="score-table">
      <table id="listing" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head">
          <td>Name</td>
          <% @exam_groups.each do |exam_group| %>
            <td><%= exam_group.name %></td>
          <% end %>
        </tr>
           <% @students.each do |student| %>
          <% is_valid_subject=1 %>
          <% unless @subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.id,@subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-2"><%= student.first_name+" "+student.last_name %></td>
              <% @exam_groups.each do |exam_group| %>
                <td class="col-3">
                  <% exam = Exam.find_by_subject_id_and_exam_group_id(@subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) unless exam.nil? %>
                  <% unless exam.nil? %>
                    <% if exam_group.exam_type == 'marks' %>
                      <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+exam.maximum_marks.to_s %>
                       <% elsif exam_group.exam_type == 'Grades'%>
                      <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-') %>
                    <% else %>
                      <%= exam_score.nil? ? '-' : "#{(exam_score.marks || "-")}" +"/"+exam.maximum_marks.to_s+"[#{(exam_score.grading_level || "-")}]" %>
                  
                    <% end %>
                  <% else %>
                  NA
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <tr class="blank"></tr>
        <tr class="tr-head">
          <td>
            class_average
          </td>
          <% @exam_groups.each do |exam_group| %>
            <% if exam_group.exam_type == 'marks' or exam_group.exam_type == 'MarksAndGrades' %>
              <% exam = Exam.find_by_subject_id_and_exam_group_id(@subject.id,exam_group.id) %>
              <td>
                -
              </td>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="extender"></div>
  </div>
</div>