<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination','/exams'%></li>
     
    <li><%= link_to 'Report Center', '/exam_reports/report_center' %></li>
    
    <li><%= link_to 'Subject Wise Report','/exam_reports/subject_wise_report'%></li>
    <li>Generated Report</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
   
      <%= link_to 'Pdf Report',subject_wise_students_report_exam_reports_path(id:@subject.id,format:"pdf"), class: "btn btn-primary-link btn-sm" %>
      
      
    </div>
  </div>
</div>
<hr>


<div class="row">
    <div class="col-md-12">
      <div class="box-inner">
        <div class="box-header well">
           <h2><%= @batch.name %> - <%= @batch.course.course_name+" "+ @batch.course.section_name%> | <%= @subject.name %></h2>
        </div>

        <div class="box-content">
          <table class="table table-bordered ">
            <tr>
          <th class="col-2">Name</th>
          <% @exam_groups.each do |exam_group| %>
            <th><%= exam_group.name %></th>
          <% end %>
        </tr>
           <% @students.each do |student| %>
          <% is_valid_subject=1 %>
          <% unless @subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.id,@subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-2"><%= student.first_name+" "+student.last_name %></td>
              <% @exam_groups.each do |exam_group| %>
                <td class="col-3">
                  <% exam = Exam.find_by_subject_id_and_exam_group_id(@subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) unless exam.nil? %>
                  <% unless exam.nil? %>
                    <% if exam_group.exam_type == 'Marks' %>
                      <%= exam_score.nil? ? '-' : "#{exam_score.marks || "AB"} | "+exam.maximum_marks.to_s %>
                       <% elsif exam_group.exam_type == 'Grades'%>
                      <%= exam_score.nil? ? '-' : (exam_score.grading_level.name || 'AB') %>
                    <% else %>
                      <%= exam_score.nil? ? '-' : "#{(exam_score.marks || "AB")}" +" | "+exam.maximum_marks.to_s+" | Grade-#{(exam_score.grading_level.name || "AB")}" %>
                  
                    <% end %>
                  <% else %>
                  NA
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <tr class="tr-blank"></tr>
        <tr class="tr-head">
          <th class="col-2">
            class_average
          </th>
          <% total_marks=0%> <% total_max_marks=0%>
          <% @exam_groups.each do |exam_group| %>
            <% unless exam_group.exam_type == 'Grades'%>
            <% @students.each do |student|%>
             <% is_valid_subject=1 %>
          <% unless @subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.id,@subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
              <% exam = Exam.find_by_subject_id_and_exam_group_id(@subject.id,exam_group.id) %>
              <% exam_score = ExamScore.find_by_exam_id_and_student_id(exam.id,student.id) unless exam.nil? %>
                  <% unless exam_score.nil? %>
                      <% total_marks+=exam_score.marks unless exam_score.marks.nil? %>
                      <% total_max_marks+=exam.maximum_marks unless exam.maximum_marks.nil? %>
                  <%end%>
            <%end%>
            <%end%>
              <th>
                <%= "%.2f" %(total_marks*100/total_max_marks)+"%" unless total_max_marks==0 %>
              </th>
            <% total_marks=0%> <% total_max_marks=0%>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
    
  </div>
  </div>
  </div>
  