<div id="content-header">

  <h1><%= t('exams_text') %></h1>
  <h3><%= t('generate_previous_batch_reports') %></h3>
  
</div>

    		<%= link_to "View Scheduled Jobs",'',class: "btn btn-primary"%>
  

<div class="box"> 

	<%= form_for :exam  do |f| %>

	<div class="label-field-pair">
		<%=f. label :'Select Course'%>
		<div  class="text-input-bg">
   		      <%= f.select :course_id, Course.all.collect {|b| [b.course_name,b.id]},{prompt:true}%>
   		      </div>
   	</div>
   
  		
  			
			<%=f.submit "Genrate",class: "btn btn-primary" %>
			
	
<% end %>
</div>
