<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination','/exams'%></li>
     
    <li><%= link_to 'Report Center', '/exam_reports/report_center' %></li>
    <li>Grouped Exam Report</li>
  </ul>
</div>

<div id="flash"><%= render 'layouts/messages'%></div>
<br/>

  
  
 <% unless flash[:notice_b].nil? %>
  <div class="alert alert-danger" align="center" style="width:100%"> <%= flash[:notice_b] %> </div>
    <%end %>
    <div class="row">
      <div class="col-md-1"></div>
         <%= form_for :batch_option, :url=>{:action=>'generate_grouped_report'},method: :get do |f| %>
  <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-6">
           <div class="form-group">
          <b>Select a Batch:</b>
   
      <%= f.select :id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:"Select a Batch"},{class: "form-control",style: "width:300px"}%>
      </div>
        <br>
          <div class="form-group">
          <div class="col-md-3"></div>
          <%= f.submit 'View',class: 'btn btn-default'%>
          </div>
         <% end %>
      </div>
    </div>