<div id="content-header">
  <h1>Exam</h1>
  <h3>Report Center</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "" %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
  <div class="box">
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Exam Wise Report','exam_wise_report' %></div>
      <div class="link-descr">Generate exam wise report</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Subject Wise Report' ,'' %> </div>
      <div class="link-descr">Generate subject wise report</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Grouped Exam Reports','' %></div>
      <div class="link-descr">Group up exams for specific reports</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Archived Student Reports' , '' %></div>
      <div class="link-descr">Generates Grouped Exam reports for Archived Students</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Student Ranking per Subject' ,'' %></div>
      <div class="link-descr">Generates reports for Subject wise Student Rank</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Student Ranking per Batch' ,''%></div>
      <div class="link-descr">Generates reports for Batch wise Overall Student Rank</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Student Ranking per Course' ,''%></div>
      <div class="link-descr">Generates reports for Course wise Overall Student Rank</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Student Ranking per School', '' %></div>
      <div class="link-descr">Generates reports for Overall Student Rank for this School</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Student Ranking per Attendance','' %></div>
      <div class="link-descr">Generates reports for Batch wise Student Rank per Attendance</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Ranking Level Report' ,''%></div>
      <div class="link-descr">Generates reports based on different Ranking Levels</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'View Transcripts' , ''%></div>
      <div class="link-descr">Generates Student Transcripts</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Combined Reports' ,'' %></div>
      <div class="link-descr">Generates Combined Student Reports</div>
    </div>
  </div>
</div>
