<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination','/exams'%></li>
      <li><%= link_to 'Report Center', '/exam_reports/report_center' %></li>
    
    <li> Student Ranking Per Attendance</li>
    </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
 <div class="row">
  <div class="col-md-1"></div>
    <div class="box col-md-4">  

  <%= form_for :rank_report, :url=>{:action=>'generate_student_ranking_report3'},method: :get do |f|%>
  
 
  <b>Select Batch:</b>
      
      <%= f.select :batch_id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:true},{class:"form-control",style: "width: 320px", required: true}%>
     
      <br>
 
       <b>Select Start Date:</b>
      
      <%= f.date_field :start_date,class: "form-control",style: "width: 300px , height: 30px", required: true %>
     
<br>
 
       <%= f.label :select_end_date %>
      
      <%= f.date_field :end_date,class: "form-control",style: "width: 300px ,height: 30px", required: true%>
     <br/>
<div align="center"><%= f.submit 'View', class: 'btn btn-default' %></div>
  <% end %>
  </div>
</div> 