<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination','/exams'%></li>
     
    <li><%= link_to 'Report Center', '/exam_reports/report_center' %></li>
    <li>Student Ranking per Batch</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>

<div class="row">
  <div class="col-md-1"></div>
    <div class="box col-md-6">
<%= form_for :rank_report, :url=>{:action=>'generate_student_ranking_report'},method: :get do |f|%>
  
 
  <b>Select a Batch:</b>
     
      <%= f.select :batch_id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:true},{class:"form-control",style: "width: 300px"}%>
      <br>
      <div class="col-md-offset-3"><%= f.submit 'View', class: 'btn btn-default' %></div>
  <% end %>
  </div>
</div> 