<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.page {
    width:100%;
    margin: 0 auto;
    overflow: hidden;
}



.hor_line{
    width:100%;
    background: #ADACAB;
    height: 1px;
}

#title h1{
    margin-bottom: 2px;
    font-weight: normal;

}

#student_main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#student_main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;
    
}

.even{
    
    height:auto;
    background: #fff;
    
    
}

.even td{
   
   padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;
}

.odd td{
  padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;

}

#score-table{
    background: #C3D9FF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px;
}
table#listing{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom_header{
    margin: 0 auto;
    padding: 5px;
    background: #fff;
}

</style>
</head>
<body>
<div class="hor_line"></div>
<div id="title">
<h1 align="center"><%= @general_setting.school_or_college_name%></h1>
<h4><small><%= @general_setting.school_or_college_address%><br/>
  Contact- <%= @general_setting.school_or_college_phone_no%></small></h4></div>
<div class="page-yield" class="available_sections">
  <div class="hor_line"></div>
  <div id="student_profile_heading" class="section">
    <div id ="student_main_info">
      <h2><%= @batch.course.course_name.capitalize+" "+@batch.course.section_name.capitalize+" "+@batch.name.capitalize %></h2>
      <h4><%= t('subject_wise_students_report') %></h4>
    </div>
  </div>
 <table id="score-table" align="center" width="100%" cellpadding="1" cellspacing="1" border="1">
     <tr class="tr-head">
          <td class="col-2"><font color="blue">Name</font></td>
          <% @exam_groups.each do |exam_group| %>
            <td><font color="blue"><%= exam_group.name %></font></td>
          <% end %>
        </tr>
           <% @students.each do |student| %>
          <% is_valid_subject=1 %>
          <% unless @subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.id,@subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-2"><%= student.first_name+" "+student.last_name %></td>
              <% @exam_groups.each do |exam_group| %>
                <td class="col-3">
                  <% exam = Exam.find_by_subject_id_and_exam_group_id(@subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id_and_exam_id(student.id,exam.id) unless exam.nil? %>
                  <% unless exam.nil? %>
                    <% if exam_group.exam_type == 'Marks' %>
                      <%= exam_score.nil? ? '-' : "#{exam_score.marks || "AB"} | "+exam.maximum_marks.to_s %>
                       <% elsif exam_group.exam_type == 'Grades'%>
                      <%= exam_score.nil? ? '-' : (exam_score.grading_level.name || 'AB') %>
                    <% else %>
                      <%= exam_score.nil? ? '-' : "#{(exam_score.marks || "AB")}" +" | "+exam.maximum_marks.to_s+" | Grade-#{(exam_score.grading_level.name || "AB")}" %>
                  
                    <% end %>
                  <% else %>
                  NA
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <tr class="tr-blank"></tr>
        <tr class="tr-head">
          <td class="col-2"><font color="blue">
            class_average</font>
          </td>
          <% total_marks=0%> <% total_max_marks=0%>
          <% @exam_groups.each do |exam_group| %>
            <% unless exam_group.exam_type == 'Grades'%>
            <% @students.each do |student|%>
             <% is_valid_subject=1 %>
          <% unless @subject.elective_group_id.nil? %>
            <% is_student_elective = StudentSubject.find_by_student_id_and_subject_id(student.id,@subject.id) %>
            <% is_valid_subject = 0 if is_student_elective.nil? %>
          <% end %>
          <% unless is_valid_subject == 0 %>
              <% exam = Exam.find_by_subject_id_and_exam_group_id(@subject.id,exam_group.id) %>
              <% exam_score = ExamScore.find_by_exam_id_and_student_id(exam.id,student.id) unless exam.nil? %>
                  <% unless exam_score.nil? %>
                      <% total_marks+=exam_score.marks unless exam_score.marks.nil? %>
                      <% total_max_marks+=exam.maximum_marks unless exam.maximum_marks.nil? %>
                  <%end%>
            <%end%>
            <%end%>
              <td><font color="blue">
                <%= "%.2f" %(total_marks*100/total_max_marks)+"%" unless total_max_marks==0 %></font>
              </td>
            <% total_marks=0%> <% total_max_marks=0%>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
        </tr>
      </table>
</div>
</body>
</html>