				
<% if @students.empty? %>
 <h4 align="center">No students Found </h4>
<% else %>

<%=form_for @exam do |f| %>  
<table class="table table-hover" style="width:700px">
  <tr class="tr-head">
    <td >Student name</td>
    <td >Marks</td>
    <td >Remarks</td>
    
  </tr> 

<% @students.each do |student| %>
<%= f.fields_for  @exam_score do |es| %>
    <tr>
     
      <td class="col-1"><%= student.name %></td>
      <%= es.hidden_field :student_id, value: student.id%>
      <td class="col-1"><%= es.text_field :marks%></td>
      <td class="col-1"><%= es.text_field :remarks%></td>
      

    </tr>
<%end%>
  <% end %>

 <tr class="tr-head"><td colspan="6">
<%= f.submit 'create', class: "btn btn-primary" %></td></tr>
</table>
<% end %>
<%end%>
