<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Settings',setting_index_path %></li>
    <li>Manage Course / Batch</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Manage Course",'/courses'%></h2>
      </div>
      <div class="box-content">
        Manage Courses and create batches
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to 'Manage Batch' ,"/batches" %>
        </h2>
      </div>
      <div class="box-content">
        Manage active batches
      </div>
    </div>
  </div>
</div>