
<div id="content-header">
  <h1>Configuration</h1>
  <h3>Configuration home</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), "/home/dashboard" %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>


<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="box">

      <div class="link-box">
        <div class="link-heading"><%= link_to "Manage Courses / Batches", '/setting/course_batch' %></div>
        <div class="link-descr">Add a new Course or Batch for this academic year.</div>
      </div>

    
      <div class="link-box">
        <div class="link-heading"><%= link_to "Manage student categories",'/categories'  %></div>
        <div class="link-descr">Add student category.</div>
      </div>
   
      <div class="link-box">
        <div class="link-heading"><%= link_to "Manage subjects","/subjects" %></div>
        <div class="link-descr">Manage subjects corresponding to different courses.</div>
      </div>
      <div class="link-box">
        <div class="link-heading"><%= link_to "General settings", "/general_settings/new" %></div>
        <div class="link-descr">Set some general configurations related to institution,attendance, etc.</div>
      </div>

    </div>


  </div>