
<div class="system-header">
  <h3>Configuration</h3>
  <h5>Configuration Home</h5>
  <div id="app-back-button">
    <%= link_to 'Back',:back,class: "btn btn-back" %>
  </div>
    <div class="line"></div>
</div>

  <div class="container">
    <div class="row space-top">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning " >
          <div class="system-panel-heading">
            <%= link_to "Manage Course / Batch", '/setting/course_batch'%>
          </div>
          <div class="system-panel-body">
            Add a new Course or Batch for this academic year.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning ">
          <div class="system-panel-heading">
          <%= link_to "Manage Student Category",'/categories' %>
          </div>
          <div class="system-panel-body" >
           Add student category.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
  
    <div class="row space-bottom">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning " >
          <div class="system-panel-heading">
            <%= link_to "Manage Subject","/subjects" %>          </div>
          <div class="system-panel-body">
            Manage subjects corresponding to different courses.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning ">
          <div class="system-panel-heading">
          <%= link_to "General Settings", "/general_settings/new"%></div>
          <div class="system-panel-body">
           Set some general configurations related to institution,attendance, etc.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

 </div>
  