<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            <%= t('configuration')%> <small><%= t('configuration home')%></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-th"></i> <%= t('dashboard')%>
                            </li>
                            <li>
                              <i class="fa fa-cogs"></i><%= t('settings')%>
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- /.row -->



  <div class="container">
    <div class="row space-top">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning " >
          <div class="system-panel-heading">
            <%= link_to "Manage Course / Batch", '/setting/course_batch'%>
          </div>
          <div class="system-panel-body">
            Add a new Course or Batch for this academic year.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning ">
          <div class="system-panel-heading">
          <%= link_to "Manage Student Category",'/categories' %>
          </div>
          <div class="system-panel-body" >
           Add student category.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>
  
    <div class="row space-bottom">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning " >
          <div class="system-panel-heading">
            <%= link_to "Manage Subject","/subjects" %>          </div>
          <div class="system-panel-body">
            Manage subjects corresponding to different courses.
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="system-panel system-panel-warning ">
          <div class="system-panel-heading">
          <%= link_to "General Settings", "/general_settings/new"%></div>
          <div class="system-panel-body">
           Set some general configurations related to institution,attendance, etc.
          </div>
        </div>

      </div>
       
      <div class="col-md-2"></div>
    </div>

 </div>
