 <div class="add_sub",style="margin-top:20px">
     <%= link_to 'Add new Subjects',new_batch_subject_path(@batch),remote:true%>
  </div>

<table align="center" class="table">
<ul id="category-list" >
<tbody>
<thead>
  <tr class="tr-head">
      <th>Subject Name</th>
      <th>Subject Code</th>
      <th></th><th></th>
  </tr>
</thead>
  <tbody class="product-index">
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.code %></td>
        <!-- link to edit -->
          <td><%= link_to 'edit',edit_batch_subject_path(subject.batch,subject),remote: true%></td>
        <!-- link to delete -->
          <td><%= link_to 'delete',[subject.batch,subject],remote: true,method: :delete,data:{confirm:'Are you sure want to delete?'}%></td>
        </tr>
      <% end %>   
    </tbody>
  </table>
 <%=render 'elective_groups/elective_group'%>