<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <h1>Subjects</h1></div></div></div>
  <div><%= notice %>
  </div>
	   	<label>Select a batch:</label>
	   		<%= select("batch1", "batch_id", @batches.collect {|p| [p.name,@p=p.id]}) %>
	  	</div>
  </div>

 <div> <%= link_to 'Add new Subjects',new_batch_subject_path(@p) %>
 <div class="panel panel-default">
  <div class="panel-heading">Normal Subjects</div>
  <div class="panel-body">
<table class="table" style="width:500px">
  <tr><th>Subject Name</th>
      <th>Subject Code</th>
  </tr>
<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.name %></td>
    <td><%= subject.code %></td>
    <!-- link to show -->
    <td><%= link_to 'show',[subject.batch,subject]%></td>
  <!-- link to edit -->
    <td><%= link_to 'edit',edit_batch_subject_path(subject.batch,subject)%></td>
  <!-- link to delete -->
    <td><%= link_to 'delete', [subject.batch,subject],method: :delete,
                data:{confirm:'Are you sure want to delete?'} %></td>
  </tr>
<% end %>
</table>
</div>
</div>
 </div>

<div><%= link_to 'Add new Elective Groups',new_batch_elective_group_path(@p) %>
<%= render '/elective_groups/elective_group' %>
</div>
 
           
  