<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Settings',setting_index_path %></li>
    <li>Manage Subjects</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
	<%= form_for :batch, url:{action:'select'},method: :get,remote:true,html:{id: "subject_form"}  do |f| %>
  <b>Select a Batch:</b>
  		<%= f.select :id,collect_batch, {prompt:'Select a batch'},{onchange:"subject_fun();",class: "form-control",style:"width:300px"}%>
	<%end%>
  </div>
</div>
<div id="subject_div"></div>
<div id="myModal" class="modal fade"></div>