<h1>Manage Subjects</h1>
<br><br>
<!-- link to new html page -->
<%= link_to 'Add Normal Subject', new_subject_path %><br><br>

<table style="width:300px">
<!-- fetch data from subject object -->
<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.name %></td>
    <td><%= subject.code %></td>
  <!-- link to show -->
    <td><%= link_to 'show', subject_path(subject) %></td>
  <!-- link to edit -->
    <td><%= link_to 'edit', edit_subject_path(subject) %></td>
  <!-- link to delete -->
    <td><%= link_to 'delete', subject_path(subject),method: :delete,
    						data:{confirm:'Are you sure want to delete?'} %></td>
    </tr>
<% end %>
</table>
<br><br><br>
<!-- link to new html page of elective group -->
<%= link_to 'Add Elective Groups', new_electivegroup_path %><br><br>
<!-- include partial page _form in this page -->
<%= render 'electivegroups/elective' %>