<h1>Normal Subject</h1>

<p><strong>Name: </strong><%= @subject.name %></p>
<p><strong>Code: </strong><%= @subject.code %></p>
<p><strong>Max weekily classes: </strong><%= @subject.max_weekly_classes %></p>
<p><strong>No Exams: </strong><%= @subject.no_exams %></p>

<%= link_to 'Back', batch_subjects_path %>