<h1>Listing qusetion_types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_types.each do |question_type| %>
      <tr>
        <td><%= qusetion_type.que_type %></td>
        <td><%= link_to 'Show', question_type %></td>
        <td><%= link_to 'Edit', edit_question_type_path(qusetion_type) %></td>
        <td><%= link_to 'Destroy', question_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qusetion type', new_question_type_path %>
