<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination',exams_path%></li>
    <li>Exam Management </li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Previous Batch Exams', previous_exam_data_exam_groups_path, class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
  <%= form_for :course, url:{action:'select'},method: :get,remote:true,html:{id: "exam_form"}  do |f| %>
   <b>Select Course:</b>
  <%= f.select :id, courses, {prompt:true},{onchange:"exam_group();",class: "form-control",style: "width:300px"}%>
  <% end %>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div id="exam_div"></div>
  </div>
</div>
<div id="exam_details"></div>