<div id="content-header">
  <h1>Exam Management</h1>
  <h3>Create Exam</h3>
  <div id="app-back-button">
 <%= link_to image_tag("buttons/back.png",:border => 0),:back %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>  
</div>

<div id="page-yield">
<div class="box">
  <%= form_for :course, url:{action:'previous_exam'},method: :get,remote:true,html:{id: "course_form"}  do |f| %>
  <div class="label-field-pair">
  <%= f.label :select_course %>
  <div class="text-input-bg">
  <%= f.select :id, Course.all.collect {|b| [b.course_name+" "+b.section_name,b.id]}, {prompt:true},{onchange:"$('#course_form').submit();"}%>
</div></div>
<% end %>
 <div id="batch_div">
   
 </div>

 </div>
 </div>
 