<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Exams','/exams'%></li>
    <li><%= link_to 'Exam Management','/exam_groups'%></li>
    <li> Exam Group</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'New', new_exam_group_path(@batch), class: "btn btn-primary-link btn-xs" %>
      <%= link_to 'Connect Exams', connect_exam_exam_groups_path(@batch), class: "btn btn-primary-link btn-xs" %>
      
    </div>
  </div>
</div>
<hr>



  <div class="bread_crumb">
    <h4>   <%= link_to 'Course' ,courses_path%> &raquo;
    <%= link_to @course.course_name,course_path(@course)%>  &raquo;
    Batch&raquo;
    <%= link_to @batch.name,batches_display_path(@batch)%>
    &raquo;
    Exams
    </h4>
  </div>
  <br/>
<div class="row">
<div class="col-md-1"></div>
<% if @exam_groups.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
   <div class="col-md-10">
   <div class="box-inner">
   <div class="box-header well">
   <h2>Exams</h2>
   </div>
   <div class="box-content">
   <h4>
<table class="table table-striped">
        <thead><th>Name</th>
        </thead>
        
      <tbody>
        <% @exam_groups.each do |eg|%>

        <tr>
        <td><%= link_to eg.name ,exams_exam_group_path(eg) %></td>
        <% unless eg.result_published? %>
        <td><%= link_to 'Delete',eg,method: :delete,
        data:{confirm:"Are you sure to delete ExamGroup: #{eg.name}"}%></td>
        <%else%>
        <td>delete</td>
        <%end%>
        <% if eg.result_published? %>
        <td class="col-4"><%= 'Result published'%></td>
        <%else%>
        <% if eg.is_published? %>
        <td class="col-4"><%= link_to 'Update exam schedule',publish_exam_exam_groups_path(eg), remote:true %>
        </td>
          <%else%>
        <td class="col-4"><%= link_to 'Publish exam schedule',publish_exam_exam_groups_path(eg), remote:true %></td>
        <%end%>
        <%end%>
        <td id="publish_exam<%=eg.id%>"%></td>
       </tr>
        <%end%>
      </tbody>
</table>
</h4>
</div>
</div>
</div>
</div>
<%end%>