<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Set Question Paper</li>
  </ul>
</div>
Note:&nbsp;&nbsp;<font color="red">Fields marked with * must be filled</font>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2><%=@company.name%></h2>
    </div>
    <div class="box-content">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <%= form_for :question,url: start_test_placement_exams_path do |f| %>
        <table cellpadding="5" cellspacing="5">
          <% @questions.each_with_index do |q,j| %>
            <tr><th><%j=j+1%><%= j%>: <%= q.question %></th></tr>
            <% @options = Option.where(question_database_id: q.id) %>
            <% @options.each_with_index do |opt,i| %>
              <tr>
                <td>
                  <%= f.radio_button q.id, opt.id %>
                  <%i=i+1%>
                  <%= i%> : <%= opt.option %>
                </td>
              </tr>
            <%end%>
            <td><%172.times do |n|%>-<%end%></td>
          <%end%>
        </table>
        <%= f.submit "submit"%>
        <%end%>
        </div>
      </div>

    </div>
  </div>
</div>