<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Placement',placement_exams_path %></li>
    <li>Set Question Paper</li>
  </ul>
</div>
                    
<div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2><%=@company.name%></h2>
    </div>
    <div class="box-content">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <%=link_to :"Start Exam",disp_time_placement_exams_path(exam_id:@placement_exam),remote:true,class: "btn btn-primary"%>

        <div id="timer">
          Exam Remaining Time: <input id="minutes" type="text" style="width: 20px; border: none; background-color:none; font-size: 16px; font-weight: bold;"> : <input id="seconds" type="text" style="width: 26px; border: none; background-color:none; font-size: 16px; font-weight: bold;"> seconds.
        </div>
        <%= form_for :question,url: start_test_placement_exams_path do |f| %>
        <table cellpadding="5" cellspacing="5">
          <% @questions.each_with_index do |q,j| %>
            <tr><th><%j=j+1%><%= j%>: <%= q.question %></th></tr>
            <% @options = Option.where(question_database_id: q.id) %>
            <% @options.each_with_index do |opt,i| %>
              <tr>
                <td>
                  <%= f.radio_button q.id, opt.id %>
                  <%i=i+1%>
                  <%= i%> : <%= opt.option %>
                </td>
              </tr>
            <%end%>
            <td><%172.times do |n|%>-<%end%></td>
          <%end%>
        </table>
        <%= f.submit "submit"%>
        <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var myVar=setInterval(function(){myTimer()},1000);
function myTimer() {
  var d = new Date();
  document.getElementById("demo").innerHTML = d.toLocaleTimeString();
}
</script>
</div>