 <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                  <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
            	<%= form_for @course do |c| %>
    <table>
    <!-- inserting course-->
        <tr>
            <td><%=c.label :course_name %></td>
            <td><%=c.text_field :course_name ,:style =>"width: 310px", class: "form-control"%></td>
        </tr>
        
        <tr>
            <td><%=c.label :section_name %></td>
            <td><%=c.text_field :section_name,:style =>"width: 310px", class: "form-control" %></td>
        </tr>
        
        <tr>
            <td><%=c.label :code %></td>
            <td><%=c.text_field :code ,:style =>"width: 310px", class: "form-control"%></td>
        </tr>
        <tr>
        <td><%=c.submit 'update', class: "btn btn-primary"%></td>
        <td><%= link_to 'cancel', '#', class: "btn",data:{dismiss:"modal"}%></td>
        </tr>
    </table>
<% end %>

            </div>
            
        </div>
    </div>


