 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4><b>Edit Course</b></h4>
        </div>
        <div class="modal-body">
        <ul class="errors"></ul>
        <%= form_for @course, remote:true do |c| %>
            <div class="form-group">

                <b>Course Name :</b>
                <%=c.text_field :course_name , class: "form-control"%>
            </div>
            <div class="form-group">
                <b>Section Name :</b>
                <%=c.text_field :section_name,class: "form-control" %>
            </div>
            <div class="form-group">
                <b>Code :</b>

                <%=c.text_field :code , class: "form-control"%>
            </div>
            <hr>
          <div align="center">
            <%= c.submit 'update', class: "btn btn-success"%>
            <%= link_to 'Close', '#', class: "btn btn-default", :'data-dismiss'=>"modal"%>
          </div>
            
        </div>
        <% end %>
        </div>
    </div>
</div>