 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4><b>Edit Batch Group</b></h4>
        </div>
        <div class="modal-body">
        <ul class="errors"></ul>
        <%= form_for @batch_group,url:{action:'update_batch_group'},method: :patch, remote:true do |c| %>
          <%= c.hidden_field :batch_group_id, value: @batch_group.id%>
            <div class="form-group">

             <b>Name:</b>
              <%=c.text_field :name, class: "form-control"%>
            </div>
        <div class="modal-footer">
            <%= c.submit 'Update', class: "btn btn-primary"%>

            <%= link_to 'Close', '#', class: "btn btn-default", :'data-dismiss'=>"modal"%>
        </div>
        <% end %>
        </div>
    </div>
</div>