
<<<<<<< HEAD
<div class="container">	
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
=======
	
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
<%= form_for @course do |c| %>
	<table>
	<!-- inserting course-->
		<tr>
			<td><%=c.label :course_name %></td>
<<<<<<< HEAD
			<td><%=c.text_field :course_name ,:style =>"width: 310px", class: "form-control"%></td>
=======
			<td><%=c.text_field :course_name %></td>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
		</tr>
		<!-- inserting section name -->
		<tr>
			<td><%=c.label :section_name %></td>
<<<<<<< HEAD
			<td><%=c.text_field :section_name,:style =>"width: 310px", class: "form-control" %></td>
=======
			<td><%=c.text_field :section_name %></td>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
		</tr>
		<!-- inserting code -->
		<tr>
			<td><%=c.label :code %></td>
<<<<<<< HEAD
			<td><%=c.text_field :code ,:style =>"width: 310px", class: "form-control"%></td>
=======
			<td><%=c.text_field :code %></td>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
		</tr>
		<!-- inserting grading type -->
		<!-- <tr>
			<td><=c.label :grading_type></td>
			<td><=c.text_field :grading_type ></td>
			<td><=collection_select(:grading,:grading_id,Grading.all,:id,:name)></td>
		</tr> -->
		<tr>
<<<<<<< HEAD
		<td><%=c.submit 'update', class: "btn btn-primary"%></td>
		<td><%= link_to 'back', courses_path , class: "btn btn-success"%></td>
		</tr>
	</table>
<% end %>
</div>
</div>
</div>
<div class="col-md-10"></div>

=======
		<td><%=c.submit%></td>
		</tr>
	</table>
<% end %>

<%= link_to 'back', courses_path %>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e






