<!-- 
<div id="content-header">
  <h1>Courses</h1>
  <h3>Manage Course</h3>
 </div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'New', new_course_path(@course) %> </li>

  </ul>
</div>
 -->

<div class="col-xs-12">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gears"></i>
              <span><%= t('settings')%></span>
              <small><%= t('courses')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
        <!-- <li>
          <a href="">
            <i class="icon-backward"></i>
          </a>
        </li> -->
          <li>
            <a href="setting">
              <i class="icon-gears"></i>
              <%= t('settings')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-books"></i>
          <%= t('courses')%></li>
        </ul>
      </div>
</div>

<div id="page-yield">
<div class="box">
<div id="view_details">
<%= render 'view' %>
</div>

<div id="editmodal" class="modal fade">
	
    </div></div>
  