<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Settings',setting_index_path %></li>
<<<<<<< HEAD
    <li><%= link_to 'Manage Course / Batch',course_batch_setting_index_path%></li>
=======
    <li><%= link_to 'Manage Course / Batch', course_batch_setting_index_path %></li>
>>>>>>> 63c9f64acd22f4f4468515d04dff90f74d3d0f17
    <li>Course</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/>
<div id="view_details"><%= render 'view' %></div>
<div id="modal" class="modal fade"></div>
  