
<div class="row">
  <div class="page-header page-header-with-buttons">
    <h1 class="pull-left">
      <i class="icon-gears"></i>
              <span><%= t('settings')%></span>
              <small><%= t('courses')%></small>
    </h1>
      <div class="pull-right">
        <ul class="breadcrumb">
          <li>
            <a href="setting">
              <i class="icon-gears"></i>
              <%= t('settings')%></li>
            </a>
          
          <li class="separator">
            <i class="icon-angle-right"></i>
          </li>
          <li class="active"><i class="icon-book"></i>
          <%= t('courses')%>
          </li>
        </ul>
      </div>
</div>
</li>
</ul></div></div></div>



<div class="row">
<div id="view_details">
<%= render 'view' %>
</div>

<div id="editmodal" class="modal fade">
	
    </div></div>
  