

	
<%= form_for @course_n do |c| %>
	<table>
	<h2>Course details</h2>
	<!-- inserting course-->
		<tr>
			<td style="width:50px;"><%=c.label :course_name %></td>
			<td style="width:50px;"><%=c.text_field :course_name %></td>
		</tr>
		
	
		<!-- inserting section name -->
		<tr>
			<td><%=c.label :section_name %></td>
			<td><%=c.text_field :section_name %></td>
		</tr>
		<!-- inserting code -->
		<tr>
			<td><%=c.label :code %></td>
			<td><%=c.text_field :code %></td>
		</tr>
		<!-- inserting grading type -->
		<tr>
			<td><%=c.label :grading_type%></td>
			<!-- <td><%=c.text_field :grading_type %></td> -->
			<td><%=collection_select(:grading,:grading_id,Grading.all,:id,:name)%></td>
		</tr>
		<tr>

		<td ><%=c.submit %></td>
		</tr>

		<tr>
		<td><% if @course_n.errors.any?%>
				<% @course_n.errors.full_messages.each do |msg|%>
				<%= msg%>
				<%end%>
				<%end%>
		</td>

		</tr>
		<% end %>
		

	</table>
	

	<%= link_to 'batch', controller: 'batches'%>
	


<%= link_to 'back', courses_path %>






