<div id="content-header">
   <h1>Courses</h1>
  <h3>New</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), courses_path %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
  <div class="box">
    <div class="bread_crumb">
      <%= link_to 'Courses', courses_path %> &raquo;
      New
    </div>
<div>
<%= form_for @course  do |c| %>
		<% if @course.errors.any?%>
		<div class="alert alert-danger">
		<h4>Errors prohibited to being saved:</h4>
		<ul><% @course.errors.full_messages.each do |msg|%>
			<li style="width:800px"><%= msg %></li>
			<%end%></ul>
			</div>	
			<%end%>
	<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h3>New Course</h3>
			<div>
				<div><%=c.label :course_name %></div>
				<div><%= c.text_field :course_name,:style =>"width: 250px",class: "form-control"%></div>

			</div>	
		
			<div>
				<div><%=c.label :section_name %></div>
				<div><%= c.text_field :section_name,:style =>"width: 250px",class: "form-control" %>
				</div>
				</div>
			
		
			<div>
			
				<div><%=c.label :code %></div>
				<div><%= c.text_field :code ,:style =>"width: 250px", class: "form-control"%></div>
			</div>
		
			
		</div>
		<div class="col-md-5">
		<h3>Initial batch</h3>
				<div>
				<%= c.fields_for :batches do |batch_form|%>

				<div><%=batch_form.label :name%></div>
				<div><%=batch_form.text_field :name,:style =>"width: 250px",class: "form-control"%>
				</div>

				<div><%=batch_form.label :start_date%></div>
				<div><%=batch_form.date_field :start_date ,:id=>'datetimepicker2',class: "form-control",:style =>"width: 250px"%></div>

				<div><%=batch_form.label :end_date%></div>
				<div><%=batch_form.date_field :end_date ,:id=>'datetimepicker2',class: "form-control",:style =>"width: 250px"%></div>
				<%end%>
				</div></div></div></div></div>
<div class="container" style="margin-top:50px">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-2"><%= c.submit 'create', class: "btn btn-primary" %>			
		</div>	
		<div class="col-md-3"></div>
	</div>
</div><%end%>
</div></div>
<br/><br/><br/><br/>









