<<<<<<< HEAD
<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<table class="table">

<th><%= link_to 'back', courses_path , class: "btn btn-success pull-right"%></th>
</table>
<p><strong>Course Name: </strong><%= @course.course_name %></p>
<p><strong>Course Code: </strong><%= @course.section_name %></p>

<%= render 'batches/form'%>
</div>
<div class="col-md-1"></div>
</div></div>

=======

<% @courses.each do |disp| %>
<table>
	<tr>

	<td ><%=disp.course_name%></td>
	
	<td ><%=disp.section_name%></td>
	<td ><%= link_to 'edit',edit_course_path(disp) %></td>
	<td ><%= link_to 'destroy',course_path(disp), method: :delete, data:{confirm: 'Delete data?'} %></td>
	</tr>
</table>
<%end%>
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
