<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<h1 align="center">Course-Batch</h1>

<div><%=link_to 'NEW', new_course_batch_path(@course), class: "btn btn-primary pull-right"%></div>
<div><%= link_to 'back', courses_path , class: "btn btn-success pull-left"%></div>


<table class="table">


<tbody>
<thead>
	<tr><th>Batch</th>
		</tr>
</thead>
		
<% @batches.each do |batch|%>
	
			<tr>
			<td><%=link_to batch.course.code+" - "+batch.name , batches_display_path(batch) %></td>
			<td><%= link_to 'Edit', edit_batch_path(batch) %></td>
 			<td><%= link_to 'Delete', batch_path(batch),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
<%end%>
</tbody>
</table>

</div>
<div class="col-md-1"></div>
</div></div>

