<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<th><%= link_to 'back', courses_path , class: "btn btn-success pull-right"%></th>
<h1 align="center">Courses</h1>

<table class="table">



<table>

<tbody>

<tr><td><p><strong>Course Name: </strong><%= @course.course_name %></p>
<p><strong>Course Section Name: </strong><%= @course.section_name %></p>
<p><strong>Course code: </strong><%= @course.code%></p></td></tr>

		<tr><th>Batch Name</th>
			<th>Batch Start Date</th>
			<th>Batch End Date</th>
		</tr>
<% @batches.each do |batch|%>
	
			<tr>
			<td><%=batch.name%></td>
			<td><%=batch.start_date%></td>
			<td><%=batch.end_date%></td>	
			</tr>
<%end%>
</tbody>
</table>

<%= render 'batches/new'%>

</div>
<div class="col-md-1"></div>
</div></div>

