<h2 align="center">Batch Details</h2>

<%= form_for ([@course,@course.batches.build ]) do |b|%>
<table class="table">

<tbody>
<tr><td><%=b.label :name%></td>
<td><%=b.text_field :name%></td>
</tr>
<tr>
<td><%=b.label :start_date%></td>
<td><%=b.text_field :start_date%></td>
</tr>
<tr>
<td><%=b.label :end_date%></td>
<td><%= b.text_field :end_date%></td>
</tr>
<tr>
<td colspan="2" ><%=b.submit%></td></tr>

<%end%>

</tbody>
</table>