<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
<h2>Batch Details</h2>

<%= form_for ([@course,@course.batches.build ]) do |b|%>

<div><%=b.label :name%></div>
<div><%=b.text_field :name,:style =>"width: 310px", :placeholder=>"code" , class: "form-control"%></div>

			<div><%=b.label :start_date%></div>
			<div><%=b.date_select :start_date,:style =>"width: 310px", :placeholder=>"code" , class: "form-control "%></div>

			<div><%=b.label :end_date%></div>
			<div><%=b.date_select :end_date,:style =>"width: 310px", :placeholder=>"code" , class: "form-control"%></div>
			<div><%=b.submit 'create',class: "btn btn-primary"%></div>

<%end%> 