<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Settings',setting_index_path %></li>
    <li><%= link_to 'Manage Course / Batch',setting_course_batch_path %></li>
    <li><%= link_to 'Batch',batches_path %></li>
    <li>Assign Tutor</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br>
<div class="row">
  <div class="col-md-3">
	<%= form_for :assign_tutor, url:{action:'assign_tutorial',format:@batch},remote:true,html:{id: "user_form"} do |f|%>

   	  <%= f.select :id, EmployeeDepartment.all.collect {|b| [b.name,b.id]},{prompt:'Select a department'},{onchange:"$('#user_form').submit();",class: 'form-control'}%>
   	<%end%>
  </div>
</div>
<hr>
<div id="assign_tutor"></div>
