
<div class="page-header" style="height:10%">
<div class="row">
<div class="col-md-6">

 <div><h3>Manage batches</h3></div></div>
<div class="col-md-6"><a href="/setting/course_batch"><button class="btn btn-success pull-right" style="margin-top:20px">Back</button></a></div>  
</div>
  
</div>

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row">
			<div class="col-md-12"> 
					<div ><%= link_to 'Batch Transfer', batch_transfers_path, class: "btn btn-primary pull-right"%></div>
					<div><%= link_to 'Grading System', grading_levels_path, class: "btn btn-primary pull-right"%></div>
			
			</div>
			
				
		</div>
		<div class="row">
				<%= form_for :course, url:{action:'select'},method: :get,remote:true do |f| %>
				<!-- <div class="col-md-1"> -->
					
				<!-- </div> -->
					<%= f.label :search %>
				<!-- <div class="col-md-1"> -->
					
				<!-- </div> -->
			<%= f.select :id, @courses.collect {|c| [c.course_name+" "+c.section_name,c.id]}%>
			<%= f.submit "GO"%>
				<!-- <div class="col-md-1"> -->
					
				<!-- </div> -->
			
		</div>
				

				

<div align="center">
  
  
  
  
<% end %>
</div>

<div id="batch_div"></div>
			
		</div>
		<div class="col-md-1"></div>
	</div>
</div>



