
 <h2>Edititng category</h2>
 <%= form_for @category, method: :patch do |f| %>
 <table>
 <tr>
    <td><%= f.label :edit_category%></td>
    <td> <%= f.text_field :name %></td>
 </tr>
</table>
  <p>
    <td><%= f.submit %></td>
  </p>
<% end %>

 <%= link_to 'Back', categories_path %>