<<<<<<< HEAD
<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<table class="table" width="100%">
=======

<table width="100%">
>>>>>>> bb02eeda859dd434e6da22357404ffc2d94ad70e
  <tr>
     <td><h1>Student Categary</h1></td>
  </tr>
</table>

 <%= form_for :category, url:  categories_path do |f| %>

    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this categary from being saved:</h2>
          <ul><% @category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
          </ul>
        </div>
    <% end %>
  
 <table>
   <tr>
    <td><%= f.label :enter_new_category %></td>
    <td><%= f.text_field :name %></td>
   </tr>
 
  <tr>
    <td></td>
    <td><%= f.submit %></td>
  </tr>
</table> 

<table border="1">
  <%@categorys.each do |cat| %>
  <tr>
    <td><%= cat.name%></td>
    <td><%= link_to 'Edit', edit_category_path(cat) %></td>
    <td><%= link_to 'Delete', category_path(cat),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>
