<div class="continer">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header" style="height:10%">
    <div class="row">
      <div class="col-md-6"><h2>Student Category</h2></div>
      <div class="col-md-6"><a href="/setting"><button class="btn btn-success pull-right" style="margin-top:20px">Back</button></a></div>   
    </div>
  
    </div>

  </div>
  <div class="col-md-1"></div>
</div>
</div>

<%= form_for :category, url:  categories_path do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
          <% if @category.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@category.errors.count, "error") %> prohibited this categary from being saved:</h2>
                <ul><% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
          </ul>
        </div>
    <% end %>
    
    </div>
    <div class="col-md-1"></div>
  
</div>
</div>


<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
            <div class="row">
              <div class="col-md-4"><div><%= f.label :enter_new_category %></div></div>
              <div class="col-md-4"><div><%= f.text_field :name ,:style =>"width: 310px", :placeholder=>"course" , class: "form-control", :required=>true%></div></div>
              <div class="col-md-4"><div><%= f.submit 'Create',class: "btn btn-primary"%></div></div>
            </div>
            
    </div>
    <div class="col-md-1"></div>
  
</div>
</div>
<%end%>


<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table table-hover" style="margin-top:20px">
      
        
        <%@categorys.each do |cat| %> 
        <tr>

          <td><%= cat.name%></td>
          <td><%= link_to 'Edit', edit_category_path(cat) %></td>
          <td><%= link_to 'Delete', category_path(cat),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

  