<div id="content-header">
  <h1>Students</h1>
  <h3>Categories</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), 'setting' %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">

  
  <div class="box">
    <% unless flash[:notice].nil? %>
    <div align="center" style="width:500px" class="alert alert-success"> <%= flash[:notice] %> </div>
  <% end %>
   <%= form_for :category, url:  categories_path do |f| %>
        <% if @category.errors.any? %>
            <div class="alert alert-danger">
            <h3>Error prohibited to being saved:</h3>
            <ul><% @category.errors.full_messages.each do |msg| %>
                <li style="width:300px"><%= msg %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <div><%= f.label :enter_new_category %>
             <%= f.text_field :name ,:style =>"width: 250px", class: "form-control"%></div>
           <div><%= f.submit 'Create',class: "btn btn-primary"%></div>
<%end%>
</div></div><br/><br/>
<div>
<%unless @categorys.nil?%>
<% if @categorys.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
      <table align="center" class="table" style="width:500px">
        <tr class="tr-head"><th>Student Category</th>
        <th></th><th></th>
        </tr>
        <%@categorys.each do |cat| %> 
        <tr>

          <td><%= cat.name%></td>
          <td><%= link_to 'Edit', edit_category_path(cat) %></td>
          <td><%= link_to 'Delete', category_path(cat),
                    method: :delete, data: { confirm: "Are you sure to delete #{cat.name} category"} %></td>

          </tr>
        <% end %>
      </table>
      <%end%><%end%>
      </div>