  <div><b>Select Employee</b></div>
  <%=form_for :leave, :url => {:action=>'update_department_leave_reset'},method: :get do |f| %>
  <div>select: <%= link_to "All",  employee_attendances_assign_all_path(@department.id),remote:true%>
      <%= link_to "none",  employee_attendances_remove_all_path(@department.id),remote:true%></div>
         <div id="employee_list">
              <%= render 'employee_list' %>
        </div>
<div align="center"><%=f.submit 'Reset', class: 'btn btn-primary'%></div>
<%end%>