<br/>
<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Attendance report</h2>
    </div>
   <div class="box-content">
 <table id="datatable" class="table table-striped table-bordered responsive">
 <thead>
  <tr>
    <th>
      Name
    </th>
    <% @leave_types.each do |lt| %>
    <th>
      <%= lt.code%>
    </th>
  <% end %>
    <th>
      Total
    </th>
  </tr>
  </thead>
  <tbody>
    <%@employees.each do |e| %>
  <tr>
    <td class="col-2">
       <%=link_to e.first_name, report_info_employee_attendance_path(e) %>
    </td>
    <% total=0 %>
    <% @leave_types.each do |lt1| %>
        <% leave_count = emp_leave_count(lt1,e)%>
       <td class="col-5">
             <% report = emp_report(e,lt1) %>
           <% count = 0 %>
          <% unless report.nil? %>
            <% report.each do |d| %>
            <% if d.is_half_day==true %>
              <% count += 0.5 %>
              <% else %>
                <% count +=1 %>
              <% end %>
          <% end  %>
            <%= count %>
            <% total += count  %>
          <% end %>
      </td>
       <% end %>
      <td class="col-5"> <%= total %> </td>

  </tr>
  <%end%>
  </tbody>
 </table>
 <div class="col-sm-offset-5"><%=link_to 'PDF Report',attendance_report_pdf_employee_attendance_path(id:@deparment.id,format:"pdf"),class: "btn btn-success"%></div>
