<table align="center" class="table table-hover table-bordered" style="width:80%">
  <tr class="tr-head">
    <td>
      <%= t('name') %>
    </td>
    <% @leave_types.each do |lt| %>
    <td>
      <%= lt.code%>
    </td>
  <% end %>
    <td>
      <%= t('total') %>
    </td>
  </tr>
    <%@employees.each do |e| %>
  <tr>
    <td class="col-2">
       <%=link_to e.first_name, employee_attendances_report_info_path(e) %>
    </td>
    <% total=0 %>
    <% @leave_types.each do |lt1| %>
        <% leave_count = EmployeeLeave.where(employee_leave_type_id:lt1.id,employee_id:e.id)%>
       <td class="col-5">
             <% report = EmployeeAttendance.where(employee_id:e.id, employee_leave_type_id:lt1.id) %>
           <% count = 0 %>
          <% unless report.nil? %>
            <% report.each do |d| %>
            <% if d.is_half_day==true %>
              <% count += 0.5 %>
              <% else %>
                <% count +=1 %>
              <% end %>
          <% end  %>
            <%= count %>
            <% total += count  %>
          <% end %>
      </td>
       <% end %>
      <td class="col-5"> <%= total %> </td>

  </tr>
  <%end%>
</table>