<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    #heading {
      width:100%;
      margin: 0 auto;
    }

    
    #head {
      height: 100px;
      width: 700px;
      text-align: center;
      font-size: 40px;
      border-color: black;

    }
    #head_info {
      text-align: center;
      font-size: 15px;
    }

  </style>
</head>
<body>
  <div id="heading">
    <div id="head">
      <%= @general_setting.school_or_college_name%><br/>
      <div id="head_info">
        <%= @general_setting.school_or_college_address%><br/><br/>
        <%= @general_setting.school_or_college_phone_no%>
      </div>
    </div>
    <hr>
    <br/><h3><center>Employee Department Attendance</center></h3><br/>
    <table cellpadding="5" cellspacing="5" width="700">
      <tr><th colspan="2" bgcolor="99CCFF" align="left">Employee Attendance Details</th></tr>
      <tr>
        <td>Name : </td>
        <td>All Departments
        </td>
      </tr>
      <tr>
        <td>Total Members : </td>
        <td><%=@employees.count%></td>
      </tr>
    </table>
    <br/><br/>
    <table cellpadding="5" cellspacing="5" width="700">
      
      <tr bgcolor="99CCFF">
        <th align="left">Name</th>
        <% @leave_types.each do |lt| %>
        <th align="left"><%= lt.code%></th>
        <% end %>
        <th align="left">Total</th>
      </tr>

      <%@employees.each do |e| %>
      <tr>
        <td class="col-2">
         <%= e.first_name %>
       </td>
       <% total=0 %>
       <% @leave_types.each do |lt1| %>
       <% leave_count = emp_leave_count(lt1,e)%>
       <td class="col-5">
         <% report = emp_report(e,lt1) %>
         <% count = 0 %>
         <% unless report.nil? %>
         <% report.each do |d| %>
         <% if d.is_half_day==true %>
         <% count += 0.5 %>
         <% else %>
         <% count +=1 %>
         <% end %>
         <% end  %>
         <%= count %>
         <% total += count  %>
         <% end %>
       </td>
       <% end %>
       <td class="col-5"> <%= total %> </td>

     </tr>
     <%end%>
     
   </table>
 </div>
</body>
</html>
