<div id="content-header">
  <h1>Attendance</h1>
  <h3>Attendance register</h3>
  <div id="app-back-button">
      <%= link_to image_tag("buttons/back.png",:border => 0), :back  %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>


<div id="page-yield">

    <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

 <div class="box">
<div class="text-input-bg">
<%= form_for :department,url:{action:'select'},method: :get,remote:true,html:{id: "batch_form"}  do |f| %>
<%= f.label :select_department %>
<%= f.select :id,@deparments.collect {|d| [d.name,d.id]},{prompt:true},{onchange:"$('#batch_form').submit();"} %>  
<%end%>
</div></div><br/><br/><br/>
<div id="employee_div"></div>
<div id="myModal" class="modal fade"></div>
</div>


