<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
     <li><%= link_to 'Human Resources',employees_path %></li>
     <li><%= link_to 'Employee Attendance', employee_attendances_path %></li>
      <li><%= link_to 'Manual Leave Reset', employee_attendances_manual_reset_path %></li>
 
     <li>Department Wise Leave Reset</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="col-md-12">
<%= form_for :department,url:{action:'select_department'},method: :get,remote:true,html:{id: "dep_form"}  do |f| %>
      <%= f.select :id,@departments.collect {|d| [d.name,d.id]},{prompt:"Select Department"},{onchange:"$('#dep_form').submit();",class: "form-control",style:"width:350px"} %>  
    <%end%>
  </div>
</div>
<div id="department_div"></div></div>