<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
     <li><%= link_to 'Human Resources',employees_path %></li>
    <li>Employee Attendance</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%=link_to "Add Leave Types",'employee_attendances/new_leave_type'%></h2>
      </div>
      <div class="box-content">
       Add and edit employee leave types.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Attendance Register",'employee_attendances/attendance_register'%>
        </h2>
      </div>
      <div class="box-content">
        Register attendance.
      </div>
    </div>
  </div>
</div>
<br/><br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Attendance Report",'employee_attendances/attendance_report' %></h2> 
      </div>
      <div class="box-content">
      Attendance report.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%=link_to "Reset Leave",'employee_attendances/manual_reset'%></h2>
      </div>
      <div class="box-content">
         Reset employee leaves.
      </div>
    </div>
  </div>
</div>