<div><%= link_to 'Add new Elective Groups',new_batch_elective_group_path(@batch),remote:true,class: "btn btn-primary" %>
<div class="panel panel-default">
  <div class="panel-heading">Elective Groups</div>
  <div class="panel-body">
<table class="table" style="width:500px">
    <% @elective_groups.each do |elective_group| %>
  <tr><th>Elective Groups Name</th></tr>
  <tr>
    <td><%= elective_group.name %></td>
    <td><%= link_to 'edit',edit_batch_elective_group_path(elective_group.batch,elective_group),remote:true %></td>

    <td><%= link_to 'delete', [elective_group.batch,elective_group], remote:true,
        method: :delete, data:{confirm:'Are you sure want to delete?'} %></td>
    <td><%= link_to 'Add Elective Subject', new_batch_elective_group_subject_path(elective_group.batch,elective_group),remote:true %></td>
    </tr>
    <tr><th></th>
        <th>Subject Name</th>
        <th>Subject Code</th>
      </tr>
<% elective_subjects=elective_group.subjects.all %>
<% elective_subjects.each do |subject| %>
    <tr><td></td><td><%= subject.name %></td>
        <td><%= subject.code %></td>
        <td><%= link_to 'edit',edit_batch_elective_group_subject_path(elective_group.batch,elective_group,subject),remote:true %></td>
        <td><%= link_to 'delete',[elective_group.batch,elective_group,subject],remote:true,
        method: :delete, data:{confirm:'Are you sure want to delete?'} %></td>
    </tr>
<% end %>
<% end %>
</table>
</div>
</div>
</div>
