<% unless flash[:notice2].nil? %>
    <div align="center" class="alert alert-success" style="width:100%"> <%= flash[:notice2] %> </div>
  <% end %>
<% if @elective_subjects.present? %>
<% if @elective_subjects.empty? %>
 <h4 align="center">No Record Found </h4>
   <% else %>
<table align="center" class="table table-hover" style="width:800px">
<ul id="category-list">
<thead>
  <tr class="tr-head"><th colspan="5">Elective Subject</th>
  </tr>
    </thead>
   <% @elective_subjects.each do |subject| %>
   <tbody>
    <tr><td><%= subject.name %></td>
        <td><%= subject.code %></td>
        <td><%= link_to 'edit',edit_batch_elective_group_subject_path(@elective_group.batch,
            @elective_group,subject),remote:true %></td>
        <td><%= link_to 'delete',[@elective_group.batch,@elective_group,subject],remote:true,
        method: :delete, data:{confirm:"Are you sure to delete elective subject: #{subject.name}?"} %></td>
         <td><%= link_to 'Assign Students',students_elective_path(subject) %></td>
    </tr>
    </tbody>
<% end %>
</table>
<%end%>
<% end %>