
<% if @subjects.empty? %>
 <h4 align="center">No subject Found </h4>
<% else %>

<ul class="errors " style="width:700px"></ul>

<%=form_for @exam_group, url:{action: 'exam_group_create',
  id:@exam_group.id},remote:true do |f| %>

<table class="table table-hover" style="width:100%">
 <tr>
    <td colspan="2"></td>
    <td class="col-2">Exam Name</td>
    <td class="col-2"><%= @exam_group.name %></td>
    <td colspan="2"></td>
  </tr>
        
  <tr>
    <td colspan="2"></td>
    <td class="col-2">Exam Type</td>
    <td class="col-2">
    <%= @exam_group.exam_type %></td>
    <td>
    <%=link_to 'change type',edit_exam_group_path(@exam_group) ,remote:true  %>
    </td>
    <td></td>
  </tr>

<% unless @exam_group.exam_type=="Grades"%>
  <tr>
    <td colspan="2"></td>
    <td class="col-2"><%= f.label :maximum_marks , class: "control-label"%></td>
    <td class="col-2"><%=text_field_tag :max_marks,"",{oninput:"var a=$('#max_marks').val();
  $('.max_set').attr('value',a);"}%></td>
    <td colspan="2"> </td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td class="col-2"><%= f.label :minimum_marks , class: "control-label"%></td>
    <td class="col-2"><%= text_field_tag :min_marks,"",
     {oninput:" var a=$('#min_marks').val();
    
  $('.min_set').attr('value',a);"}%></td>
    <td colspan="2"></td>
  </tr>
<%end%>
  <tr class="tr-head">
    <td class="col-2">Subjects</td>
  <% unless @exam_group.exam_type== "Grades"%>
    <td >Max marks</td>
    <td >Min marks</td>
    
  <%else%>
    <td></td><td></td>
  <% end %>
    <td >start time</td>
    <td>end time</td>
    <td>Do Not Create</td>
  </tr> 

<% @subjects.each do |subject| %>
<%= f.fields_for  :exams do |exam| %>
    <tr>
     
      <td class="col-2"><%= subject.name %></td>
      <%= exam.hidden_field :subject_id, value: subject.id%>
    <% unless @exam_group.exam_type=="Grades"%>
      <td ><%= exam.text_field :maximum_marks,class: 'max_set'%>
</td>
      <td ><%= exam.text_field :minimum_marks,class: 'min_set'%></td>
    <%else%>
    <td></td><td></td>
    <%end%>
      <td ><%= exam.date_field :start_time %></td>
      <td ><%= exam.date_field :end_time%></td>
      <td><%= check_box_tag "no_create[]",subject.id,false, class: "exam_no_check" %>
    </tr>
<%end%>
<% end %>

<tr class="tr-head"><td colspan="6">
<%= f.submit 'create', class: "btn btn-primary" %></td></tr>
</table>
<%end%>
<%end%>

