<ul class="errors"></ul>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6">
<div class="box-inner">
<div class="box-header well">
   <h2> Exam Create</h2>
 </div>
<%= form_for [@exam_group,@exam] do |f| %>
<fieldset>
<% if @exam.errors.any?%>
    <div class="alert alert-danger">
    <h4>Errors prohibited to being saved:</h4>
    <ul><% @exam.errors.full_messages.each do |msg|%>
      <li style="width:800px"><%= msg %></li>
      <%end%></ul>
    </div>  
<%end%>

 <div class="box-content">

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class="form-group">
<b>Subject ID:</b>
<%= f.select :subject_id, @subjects.collect {|s| [s.name,s.id]},{prompt:true},{style: "width: 250px", class: "form-control"} %>
</div>

<div class="form-group">
<b>Start Time:</b>
<%=f.date_field :start_time ,style: "width: 250px", class: "form-control",required:true %>
</div>

<div class="form-group">
<b>End Time:</b>
<%=f.date_field :end_time ,style: "width: 250px", class: "form-control",required:true%>
</div>




<% unless @exam_group.exam_type=="Grades"%>
<div class="form-group">
<b>Maximum Marks:</b>
<%=f.text_field :maximum_marks ,style: "width: 250px", class: "form-control", required:true%>
</div>

<div class="form-group">
<b>Minimum Marks:</b>
<%=f.text_field :minimum_marks ,style: "width: 250px", class: "form-control", required:true%>
</div>

<%end%>
<div class="form-group">
<%= f.submit ' create', class: "btn btn-primary" %>
</div>
</div>
</div>
</div>
</fieldset>
<%end%>
</div>
</div>
</div>

