<ul class="errors"></ul>
<%= form_for [@exam_group,@exam] do |f| %>
<% if @exam.errors.any?%>
    <div class="alert alert-danger">
    <h4>Errors prohibited to being saved:</h4>
    <ul><% @exam.errors.full_messages.each do |msg|%>
      <li style="width:800px"><%= msg %></li>
      <%end%></ul>
    </div>  
<%end%>

<div class="table">
<div class="row">
<div class="col-md-3">
<%= f.label :subject_id, class: "control-label " %>
</div>
<div class="col-md-9">
<%= f.select :subject_id, @subjects.collect {|s| [s.name,s.id]},prompt:true %><br/>
</div>
</div>

<div class="row">
<div class="col-md-3" style="margin-top:20px">
<%= f.label :start_time , class: "control-label"%>
</div>
<div class="col-md-9">
<%=f.date_field :start_time ,:style =>"width: 250px", class: "form-control",required:true %>
</div>
</div>

<div class="row">
<div class="col-md-3" style="margin-top:20px">
<%= f.label :end_time , class: "control-label"%>
</div>
<div class="col-md-9">
<%=f.date_field :end_time ,:style =>"width: 250px", class: "form-control",required:true%>
</div>
</div>
<% unless @exam_group.exam_type=="Grades"%>
<div class="row">
<div class="col-md-3" style="margin-top:20px">
<%= f.label :maximum_marks , class: "control-label"%>
</div>
<div class="col-md-9">
<%=f.text_field :maximum_marks ,:style =>"width: 250px", class: "form-control", required:true%>
  </div>
  </div>
<div class="row">
<div class="col-md-3" style="margin-top:20px">
<%= f.label :minimum_marks , class: "control-label"%>
</div>
<div class="col-md-9">
<%=f.text_field :minimum_marks ,:style =>"width: 250px", class: "form-control", required:true%>
</div>
</div>
<%end%>
<%= f.submit ' create', class: "btn btn-primary" %>
</div>
<% end%>