<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Examination','/exams'%></li>
    <li><%= link_to 'Exam Management','/exam_groups'%> </li>
    <li><%= link_to 'Exam Group', exam_group_path(@exam_group.batch)%> </li>
    <li><%= link_to 'Exam',exam_group_exams_path(@exam_group.id)%></li>
    <li>Edit Exam </li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="box">
  <div class="bread_crumb">
    <%= render 'form'%>
  </div></div>
