<table align="center" class="table table-hover table-bordered" style="width:80%">
	<tr class="tr-head">
		<td>Name</td>
		<td>Total</td>
		<td>Present</td>
		<td>Percentage(%)</td>
	</tr>
	<% @students.each do |student|%>
		<% total_days=0 %><% absent_days=0 %>
		<%unless @time_table_entries.nil? %>
		<% (@start_date..@end_date).each do |date| %>
			<%is_holiday=false%>
            <% @batch_events.each do |be|%>
              <% if be.event.start_date<=date and be.event.end_date>=date and be.event.is_holiday=true %>
                <% is_holiday=true%>
              <%end%>
            <%end%>
			<% @time_table_entries.each do |d| %>
			<% if I18n.l(date.to_date,:format=>"%A")==d.weekday.weekday %>
					<% total_days+=1 %>
			    <% @attendence=Attendence.find_by_student_id_and_time_table_entry_id_and_month_date(student.id,d.id,date.to_date) %>
			    <% unless @attendence.nil? %>
                    <% absent_days+=1 %>
                <%end%>
		    <%end%>
		    <%end%>
		    <% if is_holiday==true%>
                <% total_days-=1 %>
            <%end%>
		<%end%>
		<%end%>
		<% present_days=total_days-absent_days unless total_days==0 %>
	<tr>
		<td><%= student.first_name+" "+student.last_name%></td>
		<td><%= total_days%></td>
		<td><%= present_days%></td>
		<td><%= "%.2f" %(present_days*100/total_days)+"%" unless total_days==0 %></td>
	</tr>
	<%end%>
	<tr><td colspan="4"></td></tr>
	<tr><td colspan="4"><%= link_to 'Pdf report',attendences_attendence_report_path(subject_id:@subject.id,start_date:@start_date,end_date:@end_date,format:"pdf"),class: "btn btn-success"%></td></tr>
</table>
