<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3><%= "Attendance for " %><span><%= @student.first_name%></span></h3>
</div>
<div class="modal-body">
<ul class="errors"></ul>
<%= form_for @attendence,url:{action:'create',subject_id:@subject_id},remote:true  do |f|%>
  <table class="table" style="width:500px" align="center">
    <%=f.hidden_field :student_id,value:@student.id %>
    <%=f.hidden_field :month_date,value:@date %>
    <%=f.hidden_field :batch_id,value:@student.batch.id %>
    <%=f.hidden_field :time_table_entry_id,value:@time_table_entry_id %>
    <tr>
      <td><%= f.label :reason_for_absence%></td>
      <td><%= f.text_field :reason%></td>
    </tr>
        
    <tr>
      <td colspan="2"><%= f.submit 'Add', class: "btn btn-primary"%>
      </td>
    </tr>

</table>
<% end %>

</div>
</div>
</div>
