


<fieldset>
<%= form_for :report, :url=>{:action=>'generate_report'},method: :get,remote: :true do |f|%>
 <div class="form-group">
    <b>  Select Subject: </b>
    
      <%= f.select :subject_id, @subjects.collect {|s| [s.name,s.id]},{prompt:true},{class:"form-control",style: "width: 300px"}%>
      </div>
<br>
<div class="form-group">
      <b>Select Start Date:</b> 
    
      <%= f.date_field :start_date,style: "height: 30px",class:"form-control",style: "width: 300px"%>
      </div>
<br>
<div class="form-group">
      <b>Select End Date </b>
     
      <%= f.date_field :end_date,style: "height: 30px",class:"form-control",style: "width: 300px"%>
      </div>
<br>
 <div class="form-group">
 <%= f.submit 'View', class: 'btn btn-default' %></div>
<% end %><br/><br/>
</fieldset>
