<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.page {
    width:100%;
    margin: 0 auto;
    overflow: hidden;
}



.hor_line{
    width:100%;
    background: #ADACAB;
    height: 1px;
}

#title h1{
    margin-bottom: 2px;
    font-weight: normal;

}

#student_main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#student_main_info h2{
    margin-bottom: 2px;
    font-weight: normal;

}


.odd{
    height:auto;
    background: #EEEEEE;
    
}

.even{
    
    height:auto;
    background: #fff;
    
    
}

.even td{
   
   padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;
}

.odd td{
  padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;

}

#score-table{
    background: #C3D9FF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px 20px;
}
table#listing{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom_header{
    margin: 0 auto;
    padding: 5px;
    background: #fff;
}

</style>
</head>
<body>
<div class="hor_line"></div>
<div id="title">
<h1 align="center"><%= @general_setting.school_or_college_name%></h1>
<h4><small><%= @general_setting.school_or_college_address%><br/>
  Contact- <%= @general_setting.school_or_college_phone_no%></small></h4></div>
<div class="page-yield" class="available_sections">
  <div class="hor_line"></div>
  <div id="student_profile_heading" class="section">
    <div id ="student_main_info">
      <h2><%= @batch.course.course_name.capitalize+" "+@batch.course.section_name.capitalize+" "+@batch.name.capitalize+" | "+ @start_date.to_s+" - "+@end_date.to_s%></h2>
      <h4><%= t('attendance_report') %></h4>
    </div>
  </div>
<div id="score-table">
 <table id="listing" width="100%" cellpadding="1" cellspacing="1" border="1">
           <tr class="tr-head">
    <td>Name</td>
    <td>Total</td>
    <td>Present</td>
    <td>Percentage(%)</td>
  </tr>
  <% @students.each do |student|%>
    <% total_days=0 %><% absent_days=0 %>
    <%unless @time_table_entries.nil? %>
    <% (@start_date..@end_date).each do |date| %>
      <%is_holiday=false%>
            <% @batch_events.each do |be|%>
              <% if be.event.start_date<=date and be.event.end_date>=date and be.event.is_holiday=true %>
                <% is_holiday=true%>
              <%end%>
            <%end%>
      <% @time_table_entries.each do |d| %>
      <% if I18n.l(date.to_date,:format=>"%A")==d.weekday.weekday %>
          <% total_days+=1 %>
          <% @attendence=Attendence.find_by_student_id_and_time_table_entry_id_and_month_date(student.id,d.id,date.to_date) %>
          <% unless @attendence.nil? %>
                    <% absent_days+=1 %>
                <%end%>
        <%end%>
        <%end%>
        <% if is_holiday==true%>
                <% total_days-=1 %>
            <%end%>
    <%end%>
    <%end%>
    <% present_days=total_days-absent_days unless total_days==0 %>
  <tr>
    <td><%= student.first_name+" "+student.last_name%></td>
    <td><%= total_days%></td>
    <td><%= present_days%></td>
    <td><%= "%.2f" %(present_days*100/total_days)+"%" unless total_days==0 %></td>
  </tr>
  <%end%>
          </table>
</div>
</div>
</body>
</html>