<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Attendance','/attendences'%></li>
    <li>Attendance Report</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>

<div class="col-md-6">
<div class="row">
  <div class="col-md-1"></div>
    <div class="box col-md-5">
<%= form_for :batch, :url=>{:action=>'select_batch'},html:{id: 'form_batch'},remote:true,method: :get do |f| %>
  
  <b> Select a Batch: </b>
      
      <%= f.select :id, Batch.includes(:course).all.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:true},{onchange:"$('#form_batch').submit();",class:"form-control",style: "width: 300px"}%>
     
  <% end %>
 
 </div>

 </div>
 <div class="row">
<div class="col-md-1"></div>
    <div class="box col-md-5">
  <div id="subject_list"></div>
</div>
  </div>
</div>
<div class="col-md-6">
<div class="row">
  <div class="box col-md-12">
    <div id="report"></div>
  </div>
  </div>
  </div>