<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Timetable</h2>
      </div>
      
      <% if @class_timing.present? %>
      <div class="box-content" style="overflow-y: scroll; height:auto">
       <table id="datatable" class="table table-striped table-bordered responsive">
        <tr>
          <td class="col-4"></td>
          <%  @class_timing.order('start_time ASC').each do |c|%>
          <th><%=c.full_time%></th>
          <% end %>
        </tr> 
        
        <% @batch.weekdays.each do |w|%>
        <tr>
          <th><%=w.weekday%></th>
          <% @class_timing.each do |c|%>
          <% present=present_time_table_entry(c,w,@time) %>
          <td>
            <%unless present.nil? %>
            
            <font color="red"><b><%= present.subject.name %></b></font><br>

            <font color="blue"><b><%= present.employee.full_name %></b></font>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <%=link_to image_tag("uploadify-cancel.png",width:"4%"),delete_time_time_table_entries_path(@present), method: :delete, data:{ confirm: "Are you sure to delete"}%>
            
            <%else%>
            <%=button_tag "Assign Here",{onclick:"
             $('#timing_id').val(#{c.id});
             $('#weekday_id').val(#{w.id});
             $('#time_table_id').val(#{@time});
             $('#subject_id').val( $('#sub_subject_id option:selected').val());
             $('#create_time_form').submit();"}%></td>
             <%end%>
             <%end%>
           </tr>
           <% end %>

         </table>
         <div class="row">
          <div class="col-md-12">
           <%= form_for :sub,url:{action:'select_subject'},method: :get,remote:true,html:{id:"em"} do |f| %>

           <%= f.select :subject_id,collect_subject,{prompt:'Select Subject'},{
            onchange: "time_subject_fun();",class: "form-control",style:"width:300px"}%>
            <%end%>
            <br/>
            <div id="emp_div"></div>
           <%else%>
            <h5>Yet class timing are not assigned for this batch,Assign from Set class timings</h5>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
