<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3><%= "Create Automatic transaction" %></h3>
</div>

<div class="modal-body">
<ul class="errors13"></ul>
<%= form_for :finance_transaction_trigger,url:{action: 'create_automatic_transaction'}, remote:true do |f|%>
 <table class="table" style="width:85%">
        <tr>
            <td class="col-2"><%= f.label :Category, class: "control-label"%></td>
            <td><%=f.select :finance_fee_category_id ,FinanceFeeCategory.all.collect {|e| [e.name,e.id]},{prompt:true},:style =>"width: 250px",class: "form-control"%></td>
        </tr>

        <tr>
            <td class="col-2"><%= f.label :Percentage , class: "control-label"%></td>
             <td><%=f.text_field :percentage ,:style =>"width: 250px", class: "form-control"%></td>
        <tr>

        <tr>
            <td class="col-2"><%= f.label :Title , class: "control-label"%></td>
             <td><%=f.text_field :title ,:style =>"width: 250px", class: "form-control"%></td>
        <tr>

        
        <tr>
            <td class="col-2"><%= f.label :Description , class: "control-label"%></td>
             <td><%=f.text_field :description ,:style =>"width: 250px", class: "form-control"%></td>
        <tr>

    

        <td colspan="2"><%= f.submit 'Save', class: "btn btn-primary"%></td>
        </tr>
    </table>
<% end %>

</div>
</div>
</div>
