<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3><%= "Create new Asset" %></h3>
</div>

<div class="modal-body">
<ul class="errors1"></ul>
<%= form_for :asset,url:{action: 'create_asset'}, remote: true do |f|%>
 <table class="table" style="width:85%">
        <tr>
            <td class="col-2"><%= f.label :Title, class: "control-label"%></td>
            <td><%=f.text_field :title ,:style =>"width: 250px", class: "form-control"%></td>
        </tr>
        
        <tr>
            <td class="col-2"><%= f.label :Description , class: "control-label"%></td>
             <td><%=f.text_field :description ,:style =>"width: 250px", class: "form-control"%></td>
        <tr>


        <tr>
            <td class="col-2"><%= f.label :Amount , class: "control-label"%></td>
             <td><%=f.text_field :amount ,:style =>"width: 250px", class: "form-control"%></td>
        <tr>
   


        <td colspan="2"><%= f.submit 'Save', class: "btn btn-primary"%></td>
        </tr>
    </table>
<% end %>

</div>
</div>
</div>
