<% unless @students.nil?%>
<table align="center" class="table table-hover table-bordered" style="width:80%">
	<tr class="tr-head">
		<th>Sl no</th>
		<th>Admission no</th>
		<th>Student Name</th>
		<th></th>
	</tr>
		<% @students.each_with_index do |s,i|%>
		<%@fee=FinanceFee.find_by_student_id_and_finance_fee_collection_id(s.id,@collection.id)%>
		<% unless @fee.is_paid? %>
			<tr>
				<td class="col-3"><%= i+1 %></td>
				<td class="col-3"><%= s.admission_no%></td>
				<td class="col-3"><%= s.first_name+" "+s.last_name %></td>
				<td class="col-3"><%= link_to 'Pay Fees',finance_pay_fees_defaulters_path(student_id:s.id,collection_id:@collection.id)%></td>
			</tr>
		<%end%>
		<%end%>
</table>
<div align="center">
    <%= link_to 'Pdf Report',finance_fees_defaulters_list_path(id:@collection.id,format:"pdf"),class: "btn btn-success"%>
</div>
<%end%>