<div class="row">
  <div class="box col-md-12">
	  <div class="box-inner">
	    <div class="box-header well">
	      <h2>Student Details</h2>
	    </div>

	    <div class="box-content">
		    <% unless @students.empty?%>
		      <table id="datatable" class="table table-striped table-bordered responsive">
		        <thead>
		          <tr>
		            <th>Sl no</th>
					<th>Admission no</th>
					<th>Student Name</th>
					<th>Action</th>
				 </tr>
		        </thead>
		        <tbody>
			        <% @students.each_with_index do |s,i|%>
				        <%@fee=FinanceFee.find_by_student_id_and_finance_fee_collection_id(s.id,@collection.id)
				        %>
				        <% unless @fee.is_paid? %>
				          <tr>
				            <td class="col-3"><%= i+1 %></td>
							<td class="col-3"><%= s.admission_no%></td>
							<td class="col-3"><%= s.first_name+" "+s.last_name %></td>
							<td class="col-3">
							<div class="label-primary label label-default">
              				<i class="glyphicon glyphicon-usd icon-white"></i>
							<%= link_to 'Pay Fees',pay_fees_defaulters_finance_index_path(student_id:s.id,collection_id:@collection.id),class: "a-action"%>
							</div>
							</td>
				          </tr>
				        <%end%>  
			        <%end%>
		        </tbody>
		      </table>
		      <div align="center">
    				<%= link_to 'Pdf Report',fees_defaulters_list_finance_index_path(id:@collection.id,format:"pdf"),class: "btn btn-success"%>
					</div>
		    <%else%>
					<center><h5>No student found for this fee category</h5></center>
				<%end%>
	    </div>
	  </div>
  </div>
</div>