<% unless @discounts.empty?%>
<table align="center" class="table table-hover table-bordered" style="width:80%">
	<tr class="tr-head">
	<th>Name</th>
	<th>Student Category</th>
	<th>Student Name</th>
	<th>Discount(%)</th>
	<th></th>
	</tr>
	<% @discounts.each do |d|%>
	<tr>
		<td class="col-3"><%= d.name%></td>
		<td class="col-3"><%= d.category.nil? ? "-": d.category.name%></td>
		<td class="col-3"><%= d.admission_no.nil? ? "-": d.admission_no%></td>
		<td class="col-3"><%= d.discount%></td>
		<td class="col-3"><%= link_to 'Edit',finance_edit_fee_discount_path(@batch,@master_category,id:d.id),remote:true %>&nbsp;&nbsp;
			<%= link_to 'Delete' ,finance_delete_fee_discount_path(@batch,@master_category,id:d.id),method: :delete, data:{confirm:"Are you sure to delete '#{d.name}'?"},remote:true%></td>	
		
		</tr>
	<%end%>
</table>
<%else%>
<h5>No discount found for this fee category</h5>
<%end%>