<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h3>Edit Master Category</h3>
</div>

<div class="modal-body">
<ul class="errors"></ul>
    <%= form_for @master_category,url:{action:'update_master_category',batch_id:@batch.id,id:@master_category.id},method: :patch,remote: true do |f|%>

		<div class="row">
			<div class="col-md-1"></div>
	        <div class="col-md-3"><%= f.label :name %></div>
	        <div class="col-md-3"><%= f.text_field :name,:style =>"width: 250px",class: "form-control"%></div>
	    </div><br/>
	    <div class="row">
	    <div class="col-md-1"></div>
	        <div class="col-md-3"><%= f.label :description %></div>
	        <div class="col-md-3"><%= f.text_field :description,:style =>"width: 250px",class: "form-control"%></div>
	    </div><br/>
	    <div class="row">
	    <div class="col-md-1"></div>
	        <div class="col-md-3"><%= f.label :batch %></div>
	        <div class="col-md-3"><%= text_field_tag :batch,@batch.course.course_name+" "+@batch.name,readonly:true,:style =>"width: 250px",class: "form-control"%></div>
	    </div><br/>
        <div class="row">
        <div class="col-md-2"></div>
	        <div class="col-md-3"><%= f.submit 'Update', class: "btn btn-primary"%></div>
	        <div class="col-md-3"><%= link_to 'cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%></div>
        </div>
    <%end%>
</div>    
</div>
</div>
