<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3><%= "Edit Liability" %></h3>
    </div>

    <div class="modal-body">
      <ul class="errors"></ul>
      <%= form_for @liability,url:{action: 'update_liability',id:@liability.id},method: :patch,remote: true do |f|%>
        <table class="table" style="width:85%">
          <tr>
            <td class="col-2"><b>Title:</b></td>
            <td><%=f.text_field :title ,:style =>"width: 250px", class: "form-control"%></td>
          </tr>
          <tr>
            <td class="col-2"><b>Description:</b></td>
            <td><%=f.text_field :description ,:style =>"width: 250px", class: "form-control"%></td>
          </tr>
          <tr>
            <td class="col-2"><b>Amount:</b></td>
            <td><%=f.text_field :amount ,:style =>"width: 250px", class: "form-control"%></td>
          </tr>
          <tr>
            <td></td>
            <td class="col-2"><%=f.check_box :is_solved%>&nbsp;&nbsp;<%= f.label :is_solved?, class: "control-label"%></td>
          </tr>
          <tr>
            <td colspan="2"><%= f.submit 'Submit', class: "btn btn-success"%>
            <%= link_to 'cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%></td>
          </tr>
        </table>
      <%end%>
    </div>
  </div>
</div>