<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3><%= "Edit Automatic Transaction" %></h3>
    </div>

    <div class="modal-body">
      <ul class="errors"></ul>
      <%= form_for @automatic_transaction,url:{action: 'update_automatic_transaction',id:@automatic_transaction.id},method: :patch,remote: true do |f|%>
        <table class="table" style="width:85%">
          <tr>
            <td class="col-2"><b>Category:</b></td>
            <td><%= f.select :category_id, @categories.collect {|b| [b.name,b.id]},{prompt:true},:style =>"width: 250px", class: "form-control"%></td>
          </tr>
          <tr>
            <td class="col-2"><b>Percentage:</b> </td>
            <td><%=f.text_field :percentage ,:style =>"width: 250px", class: "form-control"%></td>
          </tr>
          <tr>
            <td class="col-2"><b>Title:</b></td>
            <td><%=f.text_field :title ,:style =>"width: 250px", class: "form-control"%></td>
          </tr>
          <tr>
            <td class="col-2"><b>Description</b></td>
            <td><%=f.text_field :description ,:style =>"width: 250px", class: "form-control"%></td>
          </tr>
          <tr>
            <td colspan="2"><%= f.submit 'Update', class: "btn btn-success"%>
            <%= f.submit 'Cancel', class: "btn btn-default"%>
            </td>
          </tr>
        </table>
      <%end%>
    </div>
  </div>
</div>