<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Update New Category</h3>
    </div>
    <div class="modal-body">
     <div class="errors">
      <ul class="errors"></ul></div>
      <%= form_for @transaction_category,url:{action:'update_transaction_category',id:@transaction_category.id},method: :patch,remote:true do |f|%>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4"><b>Name :</b></div>
          <div class="col-md-7"><%= f.text_field :name,placeholder: "Name",class: "form-control"%></div>
        </div><br/>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4"><b>Description :</b></div>
          <div class="col-md-7"><%= f.text_field :description,placeholder: "Description",class: "form-control"%></div>
        </div><br/>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4"></div>
          <div class="col-md-7"><b><%=f.check_box :is_income%>&nbsp;Is under income</b></div>
        </div><hr/>
        <div class="row">
          <div class="col-md-12">
            <center>
              <%= f.submit 'Update', class: "btn btn-success"%>&nbsp;
              <%= link_to 'Cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%>
            </center>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>