<div class="row">
  <div class="box col-md-12">
  <div class="box-inner">
    <div class="box-header well">
      <h2>Batch Details</h2>
    </div>

    <div class="box-content">
    <% unless @master_categories.empty?%>
      <table id="datatable" class="table table-striped table-bordered responsive">
        <thead>
          <tr>
            <th>Fees Name</th>
						<th>Batch Name</th>
						<th>Created At</th>
						<th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @master_categories.each_with_index do |m| %>
          <tr>
            <td>
              <%=link_to m.name,master_category_particular_finance_path(m,batch_id:@batch.id) %>
            </td>
            <td class="col-3"><%= @batch.name %></td>
						<td class="col-3"><%= m.created_at.to_date%></td>
            <td class="center">
              <div class="label-success label label-default">
              <i class="glyphicon glyphicon-edit icon-white"></i> 
              <%= link_to 'Edit', edit_master_category_finance_path(@batch,m),class: "a-action",remote:true%></div>

              <div class="label-danger label label-default">
              <i class="glyphicon glyphicon-trash icon-white"></i> 
              <%= link_to 'Delete' ,delete_master_category_finance_path(m, batch_id: @batch.id),method: :delete, data: { confirm: "Are you sure to delete Batch #{m.name}?" }, class: "a-action"%></div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%else%>
          <center><h5>No batch details found</h5></center>
      <%end%>
    </div>
  </div>
  </div>
</div>