<div class="row">
  <div class="box col-md-12">
	  <div class="box-inner">
	    <div class="box-header well">
	      <h2>Playslip Details</h2>
	    </div>
	    <div class="box-content">
		    <% unless @payslips.empty?%>
		      <table id="datatable" class="table table-striped table-bordered responsive">
		       <div class="pull-right"><%= link_to 'Pdf Report',employee_monthly_payslip_finance_index_path(payslips:@payslips,format: "pdf"),class: "btn btn-success btn-xs"%>
		      </div><br/><br/>
		        <thead>
		        <tr>
		            <th>Sl no.</th>
					<th>Employee</th>
					<th>Employee No</th>
					<th>Net Salary</th>
					<th>Payslip Status</th>
					<th></th>
      			</tr>
		        </thead>
		        <tbody>
		        <%employees=1%>
						<%total_salary=0%>
						<%approved_salary=0%>
						<% @payslips.each_with_index do |p,i|%>
		          <tr>
		            <td class="col-3"><%= i+1 %></td>
								<td class="col-3"><%= p.employee.first_name+" "+p.employee.last_name %></td>
								<td class="col-3"><%= p.employee.employee_number%></td>
								<td class="col-3"><%= p.amount%></td>
								<td class="col-3"><%= p.is_approved? ? "Approved" : "Pending" %></td>
								<td class="center">
									<%= link_to 'View',view_employee_payslip_finance_index_path(id:p.employee.id,date:@date),class: "btn btn-primary-link btn-xs"%>
								</td>
		          </tr>
		          <%employees+=i%>
							<%total_salary+=p.amount.to_f%>
							<% approved_salary+=p.amount.to_f if p.is_approved?%>
		        <% end %>
		        <tr class="tr-head">
							<th>Total employees</th>
							<th><%=employees%></th>
							<th>Total salary</th>
							<th><%=total_salary%></th>
							<th>Approved salary</th>
							<th><%= approved_salary%></th>
						</tr>
		        </tbody>
		      </table>
		    <%else%>
					<center><h5>No payslip details found</h5></center>
				<%end%>
	    </div>
	  </div>
  </div>
</div>