<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Fee Reciept</h2>
      </div>
      <div class="box-content">
        <div class="form-group"><b>Fee Receipt No:</b>&nbsp;&nbsp;<span>:</span><%= @fee.nil? ? t('n_a') : @fee.receipt_no %></div>
        <% unless @category.nil? %>
          <div class="form-group"><b>Fee Category Name:</b>&nbsp;&nbsp;<span>:</span><%= @category.name %></div>
        <% end %>
        <% unless @student.category.nil? %>
          <div class="form-group"><b>Student Category:</b>&nbsp;&nbsp;<span>:</span><%= @student.category.name %></div>
        <% end %>
        <div class="form-group"><b>Fee Collection Name:</b>&nbsp;&nbsp;<span>:</span><%= @collection.name %></div>
        <hr/>
        <% if @collection.is_due_date? %>
        <%unless @fee.is_paid?%>
         <%= form_for :fine,url:{action:'pay_fine',finance_fee_id:@fee.id,id:@collection.id},remote:true do |f|%>
            <div align="center">
              <div> Due date has been exceeded. Please collect fine amount.
              <%= text_field_tag :fine%>
              <%= f.submit 'Add Fine',class: "btn btn-primary"%>
              </div>
            </div>
          <%end%> 
        <%end%>
        <%end%>
        <br/>
        <div>
        <table align="center" class="table table-striped table-bordered" style="width:80%">
        <%total=0%>
        <%discount=0%>
        <%fines=0%>
          <tr class="tr-head">
          <th>Sl no</th>
          <th>Particular</th>
          <th>Amount(Rs.)</th>
          </tr>
        <tr><td colspan="3"></td></tr>
        <% unless @particulars.nil?%>
            <% @particulars.each_with_index do |p,i|%>
              <tr>
              <td class="col-3"><%= i+1%></td>
              <td class="col-3"><%= p.name%></td>
              <td class="col-3"><%= amt = p.amount%></td>
              </tr>
            <%total+=amt%>
            <%end%>
        <%else%>
        <h5>No fee collection particulars found</h5>
        <%end%>
        <tr><td colspan="3"></td></tr>
        <tr class="tr-head"><th colspan="3">Discount</th></tr>
        <% unless @discounts.nil?%>
            <% @discounts.each_with_index do |d,i|%>
              <tr>
              <td class="col-3"><%= i+1%></td>
              <td class="col-3"><%= d.name+"("+d.discount.to_s+"%)"%></td>
              <td class="col-3"><%= dis = d.collection_discount(total)%></td>
              </tr>
              <%discount+=dis%>
            <%end%>
        <%else%>
        <h5>No fee collection discount found</h5>
        <%end%>
        <tr><td colspan="3"></td></tr>
        <tr><td colspan="2" align="right"><b>Total Discount:</b></td><td><%= discount%></td></tr>
        <tr><td colspan="3"></td></tr>
        <tr><td colspan="2" align="right"><b>Total Fees:</b></td><td><%= total_fee=total-discount%></td></tr>
        <%unless@fines.empty?%>
        <tr><td colspan="3"></td></tr>
        <tr class="tr-head"><th colspan="3"><b>Fines:</b></th></tr>
          <% @fines.each_with_index do |fine,i|%>
              <tr>
              <td class="col-3"><%= i+1%></td>
              <td class="col-3"><%= "Fine on "+fine.fine_date.to_date.to_s%></td>
              <td class="col-3"><%= fine.fine %></td>
              </tr>
              <%fines+=fine.fine%>
            <%end%>
        <%end%>
        <tr><td colspan="3"></td></tr>
        <tr><td colspan="3"></td></tr>
        <tr><td colspan="2" align="right"><b>Payment done:</b></td><td><%= paid=@fee.payment %></td></tr>
        <tr><td colspan="3"></td></tr>
        <tr><td colspan="2" align="right"><b>Amount to pay:</b></td><td><%=pay_amount=total_fee+fines-paid%></td></tr>
        <tr><td colspan="3"></td></tr>
        <tr><td colspan="3"></td></tr>
        </table>

        <%unless @fee.is_paid?%>
          <%= form_for :transaction,url:{action:'pay_fee',finance_fee_id:@fee.id,id:@collection.id},remote:true do |f|%>
          <%= hidden_field_tag :pay_amount,pay_amount%>
            <div class="col-md-offset-6">
              <div class="form-group"><b>Amount:</b>
              <%= text_field_tag :amount, pay_amount,style:"width:100px"%></div>
            </div>
            <br/>
            <div align="center">
              <div>
              <%= link_to 'Print Receipt',student_fee_receipt_finance_index_path(id:@collection.id,finance_fee_id:@fee.id,format:"pdf"),class: "btn btn-success"%>&nbsp;&nbsp;
                <%= f.submit 'Pay Fees',class: "btn btn-primary"%>
              </div>
            </div>
          <%end%>
        <%else%>
          <div align="center"><b>Fees Paid:</b></div>
            <br/>
          <div align="center">
              <%= link_to 'Print Receipt',student_fee_receipt_finance_index_path(id:@collection.id,finance_fee_id:@fee.id,format:"pdf"),class: "btn btn-success"%>
          </div>
        <%end%>
        <br/><br/>
        <% unless @transactions.empty? %>
        <b>Payment History:</b></div><br>
        <table align="center" class="table table-striped table-bordered" style="width:90%">
          <tr class="tr-head">
          <th>Sl no.</th>
          <th>Payment Date</th>
          <th>Amount(Rs.)</th>
          </tr>
          <% @transactions.each_with_index do |t,i|%>
            <tr>
              <td class="col-3"><%= i+1 %></td>
              <td class="col-3"><%= t.transaction_date%></td>
              <td class="col-3"><%= t.amount %></td>    
            </tr>
          <%end%>
        </table>
        <%end%>
        </div>
      </div>
    </div>
  </div>
</div>