<div><%= t('fee_receipt_no') %>&nbsp;&nbsp;<span>:</span><%= @fee.nil? ? t('n_a') : @fee.receipt_no %></div>
<% unless @category.nil? %>
  <div><%= t('fee_category_name') %>&nbsp;&nbsp;<span>:</span><%= @category.name %></div>
<% end %>
<% unless @student.category.nil? %>
  <div><%= t('student_category') %>&nbsp;&nbsp;<span>:</span><%= @student.category.name %></div>
<% end %>
<div><%= t('fee_collection_name') %>&nbsp;&nbsp;<span>:</span><%= @collection.name %></div>
<br/>
<% if @collection.is_due_date? %>
<%unless @fee.is_paid?%>
 <%= form_for :fine,url:{action:'pay_fine',finance_fee_id:@fee.id,id:@collection.id},remote:true do |f|%>
    <div align="center">
      <div> Due date has been exceeded. Please collect fine amount.
      <%= text_field_tag :fine%>
      <%= f.submit 'Add Fine',class: "btn btn-primary"%>
      </div>
    </div>
  <%end%> 
<%end%>
<%end%>
<br/>
<div>
<br/>
<table align="center" class="table table-hover table-bordered" style="width:80%">
<%total=0%>
<%discount=0%>
<%fines=0%>
  <tr class="tr-head">
  <th>Sl no</th>
  <th>Particular</th>
  <th>Amount(Rs.)</th>
  </tr>
<tr><td colspan="3"></td></tr>
<% unless @particulars.nil?%>
    <% @particulars.each_with_index do |p,i|%>
      <tr>
      <td class="col-3"><%= i+1%></td>
      <td class="col-3"><%= p.name%></td>
      <td class="col-3"><%= p.collection_amount%></td>
      </tr>
    <%total+=p.collection_amount%>
    <%end%>
<%else%>
<h5>No fee collection particulars found</h5>
<%end%>
<tr><td colspan="3"></td></tr>
<tr class="tr-head"><th colspan="3">Discount</th></tr>
<% unless @discounts.nil?%>
    <% @discounts.each_with_index do |d,i|%>
      <tr>
      <td class="col-3"><%= i+1%></td>
      <td class="col-3"><%= d.name+"("+d.discount.to_s+"%)"%></td>
      <td class="col-3"><%= d.collection_discount(total)%></td>
      </tr>
      <%discount+=d.collection_discount(total)%>
    <%end%>
<%else%>
<h5>No fee collection discount found</h5>
<%end%>
<tr><td colspan="3"></td></tr>
<tr><td colspan="2" align="right">Total Discount</td><td><%= discount%></td></tr>
<tr><td colspan="3"></td></tr>
<tr><td colspan="2" align="right">Total Fees</td><td><%= total_fee=total-discount%></td></tr>
<%unless@fines.empty?%>
<tr><td colspan="3"></td></tr>
<tr class="tr-head"><th colspan="3">Fines</th></tr>
  <% @fines.each_with_index do |fine,i|%>
      <tr>
      <td class="col-3"><%= i+1%></td>
      <td class="col-3"><%= "Fine on "+fine.fine_date.to_date.to_s%></td>
      <td class="col-3"><%= fine.fine %></td>
      </tr>
      <%fines+=fine.fine%>
    <%end%>
<%end%>
<tr><td colspan="3"></td></tr>
<tr><td colspan="3"></td></tr>
<tr><td colspan="2" align="right">Payment done</td><td><%= paid=@fee.payment %></td></tr>
<tr><td colspan="3"></td></tr>
<tr><td colspan="2" align="right">Amount to pay</td><td><%=pay_amount=total_fee+fines-paid%></td></tr>
<tr><td colspan="3"></td></tr>
<tr><td colspan="3"></td></tr>
</table>

<%unless @fee.is_paid?%>
  <%= form_for :transaction,url:{action:'pay_fee',finance_fee_id:@fee.id,id:@collection.id},remote:true do |f|%>
  <%= hidden_field_tag :pay_amount,pay_amount%>
    <div align="center">
      <div><%= label_tag :amount%>:
      <%= text_field_tag :amount, pay_amount%></div>
    </div>
    <br/>
    <div align="center">
      <div>
      <%= link_to 'Print Receipt',finance_student_fee_receipt_path(id:@collection.id,finance_fee_id:@fee.id,format:"pdf"),class: "btn btn-success"%>&nbsp;&nbsp;
        <%= f.submit 'Pay Fees',class: "btn btn-primary"%>
      </div>
    </div>
  <%end%>
<%else%>
  <div align="center"><b>Fees Paid</b></div>
    <br/>
  <div align="center">
      <%= link_to 'Print Receipt',finance_student_fee_receipt_path(id:@collection.id,finance_fee_id:@fee.id,format:"pdf"),class: "btn btn-success"%>
  </div>
<%end%>
<br/><br/>
<% unless @transactions.empty? %>
<h5>Payment History</h5>
<table align="center" class="table table-hover table-bordered" style="width:90%">
  <tr class="tr-head">
  <th>Sl no.</th>
  <th>Payment Date</th>
  <th>Amount(Rs.)</th>
  </tr>
  <% @transactions.each_with_index do |t,i|%>
    <tr>
      <td class="col-3"><%= i+1 %></td>
      <td class="col-3"><%= t.transaction_date%></td>
      <td class="col-3"><%= t.amount %></td>    
    </tr>
  <%end%>
</table>
<%end%>
</div>