<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Employee Payslip',finance_payslip_path %></li>
    <li>Approve monthly payslip</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= t('Select salary month') %>
      <%= select :salary,:month, @salary_months.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},{prompt:true},{onchange:"var a={date:$('#salary_month').val()}; $.get('approve_salary',a,function(response){});",remote:true,class: "form-control"}%>
    </div>
  </div>
</div>
<div id="approve"></div>
    

