<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li>Asset liability and management</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Asset",'asset'%></h2>
      </div>
      <div class="box-content">
        Manage assets.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Liability",'liability' %>
        </h2>
      </div>
      <div class="box-content">
        Manage liability.
      </div>
    </div>
  </div>
</div>