<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
<style type="text/css">
.page {
    width:100%;
    margin: 0 auto;
    overflow: hidden;
}

.hor_line{
    width:100%;
    background: #ADACAB;
    height: 1px;
}

#title h1{
    margin-bottom: 2px;
    font-weight: normal;
}
#student_main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#student_main_info h2{
    margin-bottom: 2px;
    font-weight: normal;
}

.odd{
    height:auto;
    background: #EEEEEE;
}

.even{
    height:auto;
    background: #fff;
}

.even td{
  padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;
}

.odd td{
  padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;
}

table#pdf-table{
   border: 1px solid #ADACAB;
   border-left: 0px solid #ADACAB;
}

</style>
</head>
<body>
<div class="hor_line"></div>
<div id="title">
<h1><%= @general_setting.school_or_college_name%></h1>
<h4><small><%= @general_setting.school_or_college_address%><br/>
  Contact- <%= @general_setting.school_or_college_phone_no%></small></h4></div>
  <h2 align="center"><%= t('asset_list') %></h2>
  <div class="hor_line"></div>
  <div class="extender"> </div>
  <div class="report">
    
    <div id="pdf-info">
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header"><td class="col-pdf"><%= t('sl_no') %></td><td class="col-pdf"> <%= t('asset') %></td><td class="col-pdf"> <%= t('created_at') %> </td><td class="col-pdf"><%= t('total_amount') %></td></tr>
=======
  <head>
    <style type="text/css">
      #heading {
        width:100%;
        margin: 0 auto;
      }

      
      #head {
        height: 100px;
        width: 700px;
        text-align: center;
        font-size: 40px;
        border-color: black;

      }
      #head_info {
        text-align: center;
        font-size: 15px;
      }

    </style>
  </head>
  <body>
    <div id="heading">
      <div id="head">
        <%= @general_setting.school_or_college_name%><br/>
        <div id="head_info">
          <%= @general_setting.school_or_college_address%><br/><br/>
          <%= @general_setting.school_or_college_phone_no%>
        </div>
      </div>
      <hr>
      <br/><h3><center>Asset List</center></h3><br/>
     
      <table cellpadding="5" cellspacing="5" width="700">
     <tr bgcolor="99CCFF"><th align="left">Sl No</th>
            <th align="left">Asset</th>
            <th align="left">Created At</th>
            <th align="left">Total Amount</th>
        </tr>
>>>>>>> cadaefc20c6d0045c8bbd4df9b07005f9ae2f1e7
        <% i = 0  %>
      
        <%total_amount=0%>
        <% @assets.each do |a| %>
          <% if a.is_inactive? %>
            <tr>
              <td><%= i+=1 %></td>
              <td><%= a.title+" ( inactive )" %></td>
              <td><%= a.created_at.strftime("%d-%m-%Y") %></td>
              <td><%= a.amount%></td>
            </tr>
          <% else %>
            <tr>
              <td><%= i+=1 %></td>
              <td><%= a.title %></td>
              <td><%= a.created_at.strftime("%d-%m-%Y") %></td>
              <td><%= a.amount%></td>
            </tr>
          <% end %>
          <% total_amount+= a.amount%>
        <% end %>
        <tr>
          <th align="left" colspan="3">Grand Total</th>
          <th  align="left" colspan="1"><%= total_amount%></th>
        </tr>
      </table>
    </div>
  </body>
</html>
