<div id="content-header">
  <h1>Fees</h1>
  <h3>Fee Collection Details</h3>
    <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
<div id="box">
    <div><%= t('fee_collection_name') %>&nbsp;&nbsp;<span>:</span><%= @collection.name %></div>
    <div><%= t('fee_category_name') %>&nbsp;&nbsp;<span>:</span><%= @collection.finance_fee_category.name %></div>
    <div><%= t('start_date') %>&nbsp;&nbsp;<span>:</span><%= @collection.start_date %></div>
    <div><%= t('end_date') %>&nbsp;&nbsp;<span>:</span><%= @collection.end_date %></div>
    <div><%= t('due_date') %>&nbsp;&nbsp;<span>:</span><%= @collection.due_date %></div>
  </div>
<br/><br/>
<%total=0%>
<% unless @particulars.nil?%>
<table align="center" class="table table-hover table-bordered" style="width:80%">
	<tr class="tr-head">
	<th>Sl no</th>
	<th>Particular</th>
	<th>Student Category</th>
	<th>Student Name</th>
	<th>Amount(Rs.)</th>
	<th>Created Date</th>
	</tr>
		<% @particulars.each_with_index do |p,i|%>
			<tr>
			<td class="col-3"><%= i+1%></td>
			<td class="col-3"><%= p.name%></td>
			<td class="col-3"><%= p.category.nil? ? "-": p.category.name%></td>
			<td class="col-3"><%= p.admission_no.nil? ? "-": p.student_name%></td>
			<td class="col-3"><%= p.collection_amount%></td>
			<td class="col-3"><%= p.created_at.to_date%></td>	
			</tr>
		<%total+=p.collection_amount%>
		<%end%>
</table>
<%else%>
<h5>No fee collection particulars found</h5>
<%end%>
<br/><br/>
<% unless @discounts.nil?%>
<table align="center" class="table table-hover table-bordered" style="width:80%">
	<tr class="tr-head">
	<th>Sl no</th>
	<th>Discount Name</th>
	<th>Student Category</th>
	<th>Student Name</th>
	<th>Discount</th>
	</tr>
		<% @discounts.each_with_index do |d,i|%>
			<tr>
			<td class="col-3"><%= i+1%></td>
			<td class="col-3"><%= d.name+"("+d.discount.to_s+"%)"%></td>
			<td class="col-3"><%= d.category.nil? ? "-": d.category.name%></td>
			<td class="col-3"><%= d.admission_no.nil? ? "-": d.student_name%></td>
			<td class="col-3"><%= d.collection_discount(total)%></td>
			</tr>
		<%end%>
</table>
<%else%>
<h5>No fee collection discount found</h5>
<%end%>
</div>
