<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Transction',transactions_finance_index_path %></li>
    <li>Compare transction report</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Select Date for Comparision </h2>
      </div>

      <div class="box-content">
      <%= form_for :transaction, url:{action: 'transactions_comparison'} do |f| %>
    <fieldset>
     
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= t('Start Date') %>
            <%= f.date_field :start_date1,:style =>"width: 200px", class: "form-control"%>
          </div>
          <div class="form-group">
            <%= t('End Date') %>
            <%= f.date_field :end_date1,:style =>"width: 200px", class: "form-control"%>
          </div>
          <div class="form-group">
            <h4><b>Compare with</b></h4>
          </div>
          <div class="form-group">
            <%= t('Start Date') %>
            <%= f.date_field :start_date2,:style =>"width: 200px", class: "form-control"%>
          </div>
          <div class="form-group">
            <%= t('End Date') %>
            <%= f.date_field :end_date2,:style =>"width: 200px", class: "form-control"%>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-sm-offset-5"> 
        <div class="form-actions">               
          <%= f.submit 'Get Report', class: "btn btn-primary"%>
        </div>
      </div>
    </fieldset>        
  <% end %>
</div>
</div>
</div>
</div>
