<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Add Donation',donation_finance_index_path %></li>
    <li>Donation Reciept</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Donors', donors_finance_index_path, class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="box col-md-8 col-md-offset-1">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Donation Recipt</h2>
      </div>
      <div class="box-content">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <div class="form-group">
              <table align="center" class="table" style="width:500px">
                <tbody><tr class="tr-blank"></tr>
                  <tr class="tr-head">
                    <td class="col-2"><b>Donor:</b></td>
                    <td class="col-2"><%= @donation.donor %></td></tr>
                  <tr class="tr-head">
                    <td class="col-2"><b>Description:</b></td>
                    <td class="col-2"><%= @donation.description %></td></tr>
                  <tr class="tr-head">
                    <td class="col-2"><b>Amount:</b></td>
                    <td class="col-2"><%= @donation.amount %></td></tr>
                  <tr class="tr-head">
                    <td class="col-2"><b>Transcation Id:</b></td>
                    <td class="col-2"><%= @donation.finance_transaction.id%></td></tr>
                  <tr class="tr-head">
                    <td colspan="3" align="center"></td></tr>
                  <tr class="tr-blank"></tr>
                </tbody>
                </table> 
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <center>
            <%= link_to 'Print receipt',finance_donation_receipt_finance_path(@donation,format:"pdf"),class: "btn btn-primary"%>
          </center>
        </div>
    </div>
  </div>
</div>