<div id="content-header">
  <h1>Donations</h1>
  <h3>Donation receipt</h3>
    <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">
<table align="center" class="table" style="width:500px">
  <tbody><tr class="tr-blank"></tr>
      <tr class="tr-head">
        <td class="col-2">Donor</td>
        <td class="col-2"><%= @donation.donor %></td></tr>
      <tr class="tr-head">
        <td class="col-2">Description</td>
        <td class="col-2"><%= @donation.description %></td></tr>
      <tr class="tr-head">
        <td class="col-2">Amount</td>
        <td class="col-2"><%= @donation.amount %></td></tr>
      <tr class="tr-head">
        <td class="col-2">Transcation Id</td>
        <td class="col-2"><%= %></td></tr>
      <tr class="tr-head">
        <td colspan="2"><%= link_to 'Print receipt',donation_receipt_path(@donation,format:"pdf"),class: "btn btn-primary"%></td></tr>
      <tr class="tr-blank"></tr>
  </tbody>
  </table> 
</div>