<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Add Donation',finance_donation_path %></li>
    <li>Donation Reciept</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Donors', donors_finance_index_path, class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Donation Recipt</h2>
      </div>

      <div class="box-content">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4">
            <div class="form-group">
              <table align="center" class="table" style="width:500px">
                <tbody><tr class="tr-blank"></tr>
                  <tr class="tr-head">
                    <td class="col-2">Donor</td><td>:</td>
                    <td class="col-2"><%= @donation.donor %></td></tr>
                  <tr class="tr-head">
                    <td class="col-2">Description</td><td>:</td>
                    <td class="col-2"><%= @donation.description %></td></tr>
                  <tr class="tr-head">
                    <td class="col-2">Amount</td><td>:</td>
                    <td class="col-2"><%= @donation.amount %></td></tr>
                  <tr class="tr-head">
                    <td class="col-2">Transcation Id</td><td>:</td>
                    <td class="col-2"><%= @donation.finance_transaction.id%></td></tr>
                  <tr class="tr-head">
                    <td colspan="3" align="center"><%= link_to 'Print receipt',donation_receipt_path(@donation,format:"pdf"),class: "btn btn-primary"%></td></tr>
                  <tr class="tr-blank"></tr>
                </tbody>
                </table> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>