<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Asset liability management',finance_asset_liability_path %></li>
    <li><%= link_to 'Asset',finance_asset_path %></li>
    <li><%= link_to 'Asset View',finance_view_asset_path %></li>
    <li>Asset</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2><%=@asset.title%></h2>
      </div>

      <div class="box-content">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4">
            <div class="form-group">
              <table align="center" class="table" style="width:500px">
                <tbody><tr class="tr-blank"></tr>
                  <tr class="tr-head">
                    <td class="col-2">Asset Name</td><td>:</td>
                    <td class="col-2"><%= @asset.title%></td></tr>
                  <tr class="tr-head">
                    <td class="col-2">Description</td><td>:</td>
                    <td class="col-2"><%= @asset.description %></td></tr>
                  <tr class="tr-head">
                    <td class="col-2">Amount</td><td>:</td>
                    <td class="col-2"><%= @asset.amount%></td></tr>
                  <tr class="tr-head">
                    <td class="col-2">Created at</td><td>:</td>
                    <td class="col-2"><%= I18n.l(@asset.created_at,:format=>"%A, %d %B, %Y") %></td></tr>
                </tbody>
                </table> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>