<div id="content-header">
  <h1>Fees Submission</h1>
  <h3>Student fees submission</h3>
</div>

<div id="page-yield">
<div id="box">
 <div class="label-field-pair">
  <%= label_tag :select_batch %>
    <div class="text-input-bg">
      <%= select :batch,:id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:true},{onchange:"var a={id: $('#batch_id').val()};$.get('fee_collection_date',a,function(response){});"}%>
    </div></div><br/>
<div id="collection"><%= render 'fee_collection_date'%></div>
</div><br/><br/>
<div id="fees_details"></div>
</div>







<div id="myModal" class="modal fade"></div>
<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Manage Fees',finance_fees_path %></li>
    <li><%= link_to 'Fees submission',finance_fees_submission_path %></li>
    <li>Fees submission by batch</li>
  </ul>
</div>
<div class="row">
  <div class="col-md-11">
    <div class="pull-right">
      <%= link_to 'Create Collection', 'new_fee_collection', class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= t('Select batch') %>
      <%= select :batch,:id, @batches.collect {|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]},{prompt:true},{onchange:"var a={id: $('#batch_id').val()};$.get('fee_collection_date',a,function(response){});",class: "form-control"}%>
    </div>
  </div>
</div>
<div id="collection"><%= render 'fee_collection_date'%></div>

<div id="fees_details"></div>

    

