<div id="content-header">
  <h1>Fees</h1>
  <h3>Manage Fees</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0),:back  %>
  </div>
<div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>

<div id="page-yield">

    <div class="box">
      <div class="link-box">
        <div class="link-heading"><%= link_to 'Create','master_fees' %></div>
        <div class="link-descr">Create Master Fees and Additional Fees</div>
      </div>
  
      <div class="link-box">
        <div class="link-heading"><%= link_to 'Fees Collection' %>  </div>
        <div class="link-descr">Create new Fees collection Date</div>
      </div>
   
      <div class="link-box">
        <div class="link-heading"><%= link_to 'Fees' %></div>
        <div class="link-descr">Fees Submission</div>
      </div>
  
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Fees Structure' %></div>
      <div class="link-descr">Display Fees Structure for Student</div>
    </div>

    <div class="link-box">
          <div class="link-heading"><%= link_to 'Fees Defaulters' %></div>
          <div class="link-descr">Student with fees Dues</div>
    </div> 
  </div>
</div>