<div id="myModal" class="modal fade"></div>
<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Manage Fees',fees_finance_index_path %></li>
    <li>Fees submission</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to 'Fees submission by batch','fees_submission_batch'%></h2>
      </div>
      <div class="box-content">
        Fees submission by selecting each batch.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to 'Fees submission for each student','fees_submission_student' %>
        </h2>
      </div>
      <div class="box-content">
        Submitting fees by searching each students.
      </div>
    </div>
  </div>
</div>