<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.page {
    width:100%;
    margin: 0 auto;
    overflow: hidden;
}

.hor_line{
    width:100%;
    background: #ADACAB;
    height: 1px;
}

#title h1{
    margin-bottom: 2px;
    font-weight: normal;

}

#student_main_info h4{
    color: #555555;
    margin-top: 2px;
    font-weight: normal;
}

#student_main_info h2{
    margin-bottom: 2px;
    font-weight: normal;
}

.odd{
    height:auto;
    background: #EEEEEE;
    
}

.even{
    
    height:auto;
    background: #fff;
    
    
}

.even td{
   
   padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;
}

.odd td{
  padding: 12px 12px 12px 15px;
  border-left:  1px solid #ADACAB;
  border-bottom: 1px solid #ADACAB;
  width: 150px;

}

table#pdf-table{
   border: 1px solid #ADACAB;
   border-left: 0px solid #ADACAB;
}

</style>
</head>
<body>
<div class="hor_line"></div>
<div id="title">
<h1><%= @general_setting.school_or_college_name%></h1>
<h4><small><%= @general_setting.school_or_college_address%><br/>
  Contact- <%= @general_setting.school_or_college_phone_no%></small></h4></div>
  <h2 align="center"><%= t('finance_income_report') %></h2>
  <div class="hor_line"></div>
  <div class="extender"> </div>
  <div class="report">
    
    <div id="pdf-info">
      <table id="pdf-table" width="100%" cellspacing="0" border="1">
        <tr class="table-header">
          <td class="col-pdf"><%= t('sl_no') %></td>
          <td class="col-pdf"><%= t('name') %></td>
          <td class="col-pdf"><%= t('description') %></td>
          <td class="col-pdf"><%= t('voucher_no') %></td>
          <td class="col-pdf"><%= t('transaction_date')%></td>
          <td class="col-pdf"><%= t('amount') %></td>
        </tr>
        <% i = 0  %>
        <% c= 'even' %>
        <%total_amount=0%>
        <% @incomes.each do |income|%>
        <%if income.finance_transaction_category.is_income? %>
            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <td class="col-pdf"><%= i+1 %></td>
              <td class="col-pdf"><%= income.title%></td>
              <td class="col-pdf"><%= income.description%></td>
              <td class="col-pdf"></td>
              <td class="col-pdf"><%= income.transaction_date%></td>
              <td class="col-pdf"><%= income.amount%></td>
            </tr>
        <% total_amount+= income.amount%>
        <%end%>
        <% end %>
        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
          <td class="col-pdf" colspan="5"><%= t('grand_total') %></td>
          <td class="col-pdf" colspan="1"><%= total_amount%></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>