<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Finance</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Fees", 'finance/fees'%></h2>
      </div>
      <div class="box-content">
        Manage Fees.
      </div>
    </div>
  </div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Category",'finance/transaction_category' %>
        </h2>
      </div>
      <div class="box-content">
        Manage transaction category.
      </div>
    </div>
  </div>
   <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Transactions",'finance/transactions'%></h2> 
      </div>
      <div class="box-content">
        Manages expense and income.
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Donations", 'finance/donation'%></h2>
      </div>
      <div class="box-content">
        Creates new donations.
      </div>
    </div>
  </div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Automatic Transactions", 'finance/automatic_transaction'%></h2> 
      </div>
      <div class="box-content">
        Add automatic transactions.
      </div>
    </div>
  </div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Payslip",'finance/payslip'%></h2>
      </div>
      <div class="box-content">
        Employee Payslips.
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Asset Liability Management", 'finance/asset_liability'%></h2> 
      </div>
      <div class="box-content">
        Asset liability Management.
      </div>
    </div>
  </div>
</div>