<div id="content-header">
  <h1>Finance</h1>
  <h3>Manage Finance</h3>
  <div id="app-back-button">
    <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
    <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div><br/><br/>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Fees", 'finance/fees',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manage Fees
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Category",'finance/transaction_category',style: "color:black" %>
          </div>

          <div class="panel-body" style="height:70px"   >
          Manage Transaction Category
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Transactions",'finance/transactions',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Manages expense and income
          </div>
      </div>
    </div>

    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Donations", 'finance/donation',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px"   >
          Creates new donations
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

    <div class="row">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Automatic Transactions", 'finance/automatic_transaction',style: "color:black" %>
          </div>
          <div class="panel-body" style="height:70px">
            Add automatic transactions
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Payslip",'',style:"color:black" %>
          </div>
          <div class="panel-body" style="height:70px"   >
          Employee Payslips
          </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

  <div class="row" style="margin-bottom:30px">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-4 col-xs-4">
      <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "Asset Liability Management", 'finance/asset_liability',style: "color:black"%>
          </div>
          <div class="panel-body" style="height:70px">
            Asset liability Management
          </div>
        </div>
    </div>
    <div class="col-md-2 col-xs-2"></div>
  </div>

