<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Manage Fees',fees_finance_index_path %></li>
    <li><%= link_to 'Create Fees',master_fees_finance_index_path%></li>
    <li>Particular Details</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Create Particular', new_particular_fee_finance_path(@master_category,batch_id:@batch.id),remote:true, class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>
<hr>
<div id="list"><%= render 'particular_fees_list'%></div>
<div id="Modal" class="modal fade"></div>