<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Manage Fees',finance_fees_path %></li>
    <li><%= link_to 'Create Fees',finance_master_fees_path %></li>
    <li>Create Particular</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Create particular for master fee catagory </h2>
      </div>

      <div class="box-content">
      <%= form_for @fee, url:{action: 'create_fees_particular'} do |f| %>
    <fieldset>
      <% if @fee.errors.any?%>
        <div class="alert alert-danger" style="width:500px" >
        <h4><%= t('Errors prohibited to being update:')%></h4>
          <ul>
            <% @fee.errors.full_messages.each do |msg| %>
            <li style="width:500px" align="left"><%= msg%></li>
            <% end %>
          </ul> 
        </div>
      <% end %>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= t('Name')%><span class="necessary-field">*</span>
          <%= f.text_field :name, placeholder: "Particular Name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= t('Description')%><span class="necessary-field">*</span>
          <%= f.text_field :description, placeholder: "Description", class: "form-control"%>
        </div>
        
        <div class="form-group">
          <%= t('Create Using') %> 
        </div>

        <div class="form-group">
          <%=radio_button_tag :mode,"admission_no",'',{onclick:"$.get('admission_no',function(response){
            });"}%><%= t('Admission No.')%>
        </div>

        <div class="form-group">
          <%=radio_button_tag :mode,"category",'',{onclick:"$.get('category',function(response){});"}%><%= t('Student Category')%>
        </div>

        <div class="form-group">
          <%=radio_button_tag :mode,"all",'',{onclick:"$('#hidden').html('')"}%><%=  t('All') %>
        </div>
        
        <div id="hidden"></div> 

        <div class="form-group">
          <%= t('Amount') %>
          <%= f.text_field :amount, placeholder: "Amount",class: "form-control" %>
        </div>
        
        <div class="form-group">

          <%= t('Finance Fee Category') %>
          <%= f.select :finance_fee_category_id,@categories.collect{|c| [c.name,c.id]},{prompt:true},{onclick:"var a={id:$('#finance_fee_particular_finance_fee_category_id').val()};$.get('category_batch',a,function(response){});",:style =>"width: 250px",class: "form-control"}%>
        </div>
        
        <div class="form-group">
          <%= t('Select') %> &nbsp;&nbsp; &nbsp;&nbsp;
          Select: &nbsp;&nbsp;
          <%= link_to "All",select_all_finance_index_path,{onclick:"$('.check_box').prop('checked',true);",remote:true}%>&nbsp;&nbsp;
          <%= link_to  "None",select_none_finance_index_path,{onclick:"$('.check_box').prop('checked',false);",remote:true}%>
        <div id="fee_category">
          <%= render 'category_batches_list'%></div>
        </div>
      </div>

    <div class="col-sm-5 col-sm-offset-5"> 
      <div class="form-actions">               
        <%= f.submit 'Submit', class: "btn btn-primary"%>
      </div>
    </div>
  </fieldset>        
 <% end %>
</div>
</div>
</div>
</div>