
<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Transction',transactions_finance_index_path %></li>
    <li>Add income</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'View income', 'view_income', class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Add Income </h2>
      </div>
      <div class="box-content">
        <%= form_for @transaction, url:{action: 'create_income'} do |f| %>
        <fieldset>
          <%= income_error! %>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 ">
              <div class="form-group">
                <b>Title:</b>
                <span style="color:red">*</span>
                <%= f.text_field :title,:style =>"width: 300px",placeholder: "Title", class: "form-control"%>
              </div>
              <div class="form-group">
                <b>Description:</b>
                <span style="color:red">*</span>
                <%= f.text_field :description,:style =>"width: 300px", placeholder: "Description", class: "form-control"%>
              </div>
              <div class="form-group">
                 <b>Amount:</b>
                <%= f.text_field :amount,:style =>"width: 300px", placeholder: "Amount",class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-5 ">
              <div class="form-group">
                <b>Transction Date:</b>
                <%= f.date_field :transaction_date,:value => Time.now.strftime('%Y-%m-%d'),:style =>"width: 300px", class: "form-control"%>
              </div>
              <div class="form-group">
                <b>Category:</b>
                <%= f.select :finance_transaction_category_id,collect_catagory,{prompt:true},:style =>"width: 300px", class: "form-control"%>
              </div>
            </div>
          </div>
          <div> 
            <center>
              <%= f.submit 'Submit', class: "btn btn-primary"%>
            </center>
          </div>
        </fieldset>        
      <%end%>
    </div>
  </div>
</div>
</div>

