<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Manage Fees',fees_finance_index_path %></li>
    <li><%= link_to 'Fees Collection',fee_collection_finance_index_path %></li>
    <li>Create fees collection</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Create fees collection </h2>
      </div>
      <div class="box-content">
      <%= form_for @collection,url:{action: 'create_fee_collection'} do |f| %>
    <fieldset>
      <% if @collection.errors.any?%>
        <div class="alert alert-danger" style="width:500px" >
        <h4>Errors prohibited to being saved:</h4>
          <ul>
            <% @collection.errors.full_messages.each do |msg| %>
            <li style="width:500px" align="left"><%= msg%></li>
            <% end %>
          </ul> 
        </div>
      <% end %>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <div class="form-group">
           <b>Finance Fee Category:</b> <span style="color:red">*</span>
          <%= f.select :finance_fee_category_id,@categories.collect{|c| [c.name,c.id]},{prompt:true},{onclick:"var a={id:$('#finance_fee_collection_finance_fee_category_id').val()};$.get('category_batch',a,function(response){});",:style =>"width: 250px",class: "form-control"}%>

        </div>
        <div class="form-group">
        <b>Select Batch:</b> 
          <%= link_to "All",select_all_finance_index_path,{onclick:"$('.check_box').prop('checked',true);",remote:true,class: "btn btn-primary-link btn-xs"}%>&nbsp;&nbsp;
          <%= link_to "None",select_none_finance_index_path,{onclick:"$('.check_box').prop('checked',false);",remote:true,class: "btn btn-primary-link btn-xs"}%>

        <div id="fee_category"><%= render 'category_batches_list'%></div>
        </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
        <div class="form-group">
          <b>Fee Collection Name:</b>
           <span style="color:red">*</span>
          <%= f.text_field :name, placeholder: "Fee Collection Name",:style =>"width: 250px", class: "form-control",required:true %>
        </div>

        <div class="form-group">
          <b>Start Date:</b>
          <%= f.date_field :start_date,:style =>"width: 250px",class: "form-control"%>
        </div>

        <div class="form-group">
          <b>End Date:</b>
          <%= f.date_field :end_date,:style =>"width: 250px",class: "form-control"%>
        </div>

        <div class="form-group">
          <b>Due Date:</b>
          <%= f.date_field :due_date,:style =>"width: 250px",class: "form-control"%>
        </div>
      </div>
    <div class="col-sm-5 col-sm-offset-5"> 
      <div class="form-actions">               
        <%= f.submit 'Submit', class: "btn btn-primary"%>
      </div>
    </div>
  </fieldset>        
 <% end %>
</div>
</div>
</div>
</div>


























