<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Transction',finance_transactions_path %></li>
    <li>Add expense</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="col-md-11">
    <div class="pull-right">
      <%= link_to 'View Expense', 'view_expense', class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Add Expenses </h2>
      </div>

      <div class="box-content">
      <%= form_for @transaction, url:{action: 'create_expense'} do |f|%>
    <fieldset>
      <% if @transaction.errors.any?%>
        <div class="alert alert-danger" style="width:500px" >
        <h4><%= t('Errors prohibited to being update:')%></h4>
          <ul>
            <% @transaction.errors.full_messages.each do |msg| %>
            <li style="width:500px" align="left"><%= msg%></li>
            <% end %>
          </ul> 
        </div>
      <% end %>

      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= t('Title')%><span class="necessary-field">*</span>
            <%= f.text_field :title,:style =>"width: 200px",placeholder: "Title", class: "form-control"%>
          </div>

          <div class="form-group">
            <%= t('Description')%><span class="necessary-field">*</span>
            <%= f.text_field :description,:style =>"width: 200px", placeholder: "Description", class: "form-control"%>
          </div>
          
          <div class="form-group">
            <%= t('Amount') %>
            <%= f.text_field :amount,:style =>"width: 200px", placeholder: "Amount",class: "form-control" %>
          </div>

          <div class="form-group">
            <%= t('Transction Date') %>
            <%= f.date_field :transaction_date,:value => Time.now.strftime('%Y-%m-%d'),:style =>"width: 200px", class: "form-control"%>
          </div>
          
          <div class="form-group">

            <%= t('Category') %>
            <%= f.select :finance_transaction_category_id, @categories.collect {|b| [b.name,b.id]},{prompt:true},:style =>"width: 200px", class: "form-control"%>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-sm-offset-5"> 
        <div class="form-actions">               
          <%= f.submit 'Submit', class: "btn btn-primary"%>
        </div>
      </div>
    </fieldset>        
  <% end %>
</div>
</div>
</div>
</div>


























