<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      #heading {
        width:100%;
        margin: 0 auto;
      }
      
      #head {
        height: 100px;
        width: 700px;
        text-align: center;
        font-size: 40px;
        border-color: black;

      }
      #head_info {
        text-align: center;
        font-size: 15px;
      }

    </style>
  </head>
  <body>
    <div id="heading">
      <div id="head">
        <%= @general_setting.school_or_college_name%><br/>
        <div id="head_info">
          <%= @general_setting.school_or_college_address%><br/><br/>
          <%= @general_setting.school_or_college_phone_no%>
        </div>
      </div>
      <hr>
      <br/><h3><center>Student Fee Reciept</center></h3><br/>
      <table cellpadding="5" cellspacing="5" width="700">
        <tr><th colspan="3" bgcolor="99CCFF" align="left">Student Details</th></tr>
        <tr>
          <td>Name</td>
          <td>:</td>
          <td><%= @student.first_name.capitalize %> <%= @student.middle_name.capitalize %> <%= @student.last_name.capitalize %>
          </td>
        </tr>
        <tr>
          <td>Fee Reciept No</td>
          <td>:</td>
          <td><%= @fee.nil? ? t('n_a') : @fee.receipt_no %></td>
        </tr>
        <tr>  
          <td>Fee Category Name</td>
          <td>:</td>
          <% unless @category.nil? %>
            <td><%= @category.name %></td>
          <%else%>
            <td>-</td>
          <%end%>
        </tr>
        <tr>
          <td>Student Category</td>
          <td>:</td>
          <% unless @student.category.nil? %>
            <td><%= @student.category.name %></td>
          <%else%>
            <td><%= @student.category.name %></td>
          <%end%>  
        </tr>
        <tr>
          <td>Fee Collection Name</td>
          <td>:</td>
          <td><%= @collection.name %></td>
        </tr>
      </table>
      <br/><br/>
      <table cellpadding="5" cellspacing="5" width="700">
        <%total=0%>
        <%discount=0%>
        <%fines=0%>
        <tr bgcolor="99CCFF">
          <th>Sr.No.</th>
          <th>Particular</th>
          <th>Amount</th>
        </tr>
        
           <% unless @particulars.nil?%>
          <% @particulars.each_with_index do |p,i|%>
            <tr>
            <td class="col-3"><%= i+1%></td>
            <td class="col-3"><%= p.name%></td>
            <td class="col-3"><%= amt = p.amount%></td>
            </tr>
          <%total+=amt%>
          <%end%>
      <%else%>
      <h5>No fee collection particulars found</h5>
      <%end%>
      </table>
      <br/><br/>
      <table cellpadding="5" cellspacing="5" width="700">
        <% unless @discounts.nil?%>
          <tr bgcolor="99CCFF">
            <th>Sr.No.</th>
            <th>Discount Type</th>
            <th>Discount</th>
          </tr>
          <tr>
            <% @discounts.each_with_index do |d,i|%>
            <tr>
            <td class="col-3"><%= i+1%></td>
            <td class="col-3"><%= d.name+"("+d.discount.to_s+"%)"%></td>
            <td class="col-3"><%= dis = d.collection_discount(total)%></td>
            </tr>
            <%discount+=dis%>
          <%end%>
          </tr>
        <%else%>
          <h5>No fee collection discount found</h5>
        <%end%>
      </table>
      <br/><br/>
      <table cellpadding="5" cellspacing="5" width="700">
        <tr>
          <td align="right"> Total Discount : <%= discount%></td>
        </tr>
        <tr>
          <td align="right"> Total Fess : <%= total_fee=total-discount%></td>
        </tr>
      </table>
      <br/><br/>
      <table cellpadding="5" cellspacing="5" width="700">
        
          <tr bgcolor="99CCFF">
            <th>Sr.No.</th>
            <th>Fine Type</th>
            <th>Fine Amount</th>
          </tr>
          <%unless@fines.empty?%>
          <tr>
            <% @fines.each_with_index do |fine,i|%>
              <tr>
                <td><%= i+1 %></td>
                <td><%= "Fine on "+fine.fine_date.to_date.to_s%></td>
                <td align="right"><%= fine.fine %></td>
              </tr>
              <%fines+=fine.fine%>
            <%end%>
          </tr>
        <%else%>
          <tr><th colspan="3"><center>No fines available<center></th></tr>
        <%end%>
        <tr><td colspan="3"></td></tr>
      <tr><td colspan="3" align="right">Payment done:&nbsp;<%= paid=@fee.payment %></td></tr>
      <tr><td colspan="3" align="right">Amount to pay:&nbsp;<%=pay_amount=total_fee+fines-paid%></td></tr>
      </table>
    </div>
  </body>
</html>