<div id="content-header">
  <h1>Transactions</h1>
  <h3>Transactions View</h3>
    <div id="app-back-button">
  <%= link_to image_tag("buttons/back.png",:border => 0), :back %>
  </div>
  <div><%= image_tag("underline.jpg",width: "100%")%></div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to 'Pdf Report',finance_finance_transaction_report_path(start_date:@start_date,end_date:@end_date,format:"pdf")%></li>
  </ul>
</div>
<div id="page-yield">
<h5>List of Transactions</h5>
<% unless @transactions.nil? %>
<%total_expense=0%><%total_income=0%>
<table align="center" class="table table-hover table-bordered" style="width:90%">
	<tr class="tr-head">
		<th>Sl no.</th>
		<th>Particulars</th>
		<th>Expenses (Rs.)</th>
		<th>Incomes (Rs.)</th>
	</tr>
	<% @transactions.each_with_index do |t,i|%>
	<% category=t.finance_transaction_category%>
	<tr>
		<td><%= i+1 %></td>
		<td><%= t.title%></td>
		<td><%= t.amount unless category.is_income? %></td>
		<td><%= t.amount if category.is_income? %></td>
	</tr>
		<% total_expense+=t.amount unless category.is_income? %>
		<% total_income+=t.amount if category.is_income? %>
	<%end%>
	<tr><td colspan="4"></td></tr>
	<tr>
		<td></td>
		<td><b>Grand Total</b></td>
		<td><b><%= total_expense %></b></td>
		<td><b><%= total_income %></b></td>
	</tr>
</table>
<%else%>
<h4>No Transactions for the given period</h4>
<%end%>
</div>
