<div id="mymodal" class="modal fade"></div>

<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li>Categories</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to 'Create Finance Category', finance_new_transaction_category_path, remote:true, class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>

<div id="categories">
  <%= render'transaction_categories'%>
</div>
