<div id="modal" class="modal fade"></div>
<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',home_dashboard_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Asset liability management',finance_asset_liability_path %></li>
    <li><%= link_to 'Asset',finance_asset_path %></li>
    <li>Asset view</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>

<div id="assets"><%= render 'asset_details'%></div>

