<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Employee Payslip',payslip_finance_index_path %></li>
    <li><%= link_to 'Payslip details',view_monthly_payslip_finance_index_path %></li>
    <li>Employee payslip</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right"><%= link_to 'Pdf Report',employee_payslip_finance_index_path(id:@employee.id,date:@date,format:"pdf"),class: "btn btn-primary-link btn-xs"%>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2><%=  @employee.first_name+" "+@employee.last_name%></h2>
      </div>

      <div class="box-content">
        <div id="page-yield">
  <div id="box" align="center">
    <table align="center" class="table table-striped" style="width:90%">
      <tr class="tr-head">
        <th colspan="2"><%= t('payslip_generated_on') %> <%= @salary.salary_date%><span class="themed_text"> (<%= t('status') %>: <%=@salary.is_approved? ? "Approved" : "Pending"%>)</span></th>
      </tr> 
      <tr><td colspan="2"></td></tr>
      <tr class="tr-head"><th colspan="2"><%= t('earnings') %></th></tr>
        <% @structures.each do |mp| %>
          <% unless mp.payroll_category.blank? %>
            <% unless mp.payroll_category.is_deduction == true %>
      <tr>
        <td class="col-3"><%= mp.payroll_category.name  %></td>
        <td><%="%.2f" %mp.amount.to_f %><%= " Rs"%></td>
      </tr>
            <% end %>
          <% end %>
        <% end %>
        <% unless @individual_salary.nil? %>
        <% @individual_salary.each do |s| %>
          <% unless s.is_deduction == true %>
          <tr>
            <td class="col-3"><%= s.name  %></td>
            <td><%="%.2f" %(s.amount.to_f) %><%= " Rs"%></td>
          </tr>
            <% end %>
          <% end %>
        <% end %>
      <tr><td colspan="2"></td></tr>
      <tr class="tr-head"><th colspan="2"><%= t('deductions') %></th></tr>
        <% @structures.each do |mp| %>
          <% unless mp.payroll_category.blank? %>
            <% unless mp.payroll_category.is_deduction == false %>
      <tr>
        <td class="col-3"><%= mp.payroll_category.name  %></td>
        <td><%="%.2f" %mp.amount.to_f %><%= " Rs"%></td>
      </tr>
            <% end %>
          <% end %>
        <% end %>
        <% unless @individual_salary.nil? %>
        <% @individual_salary.each do |s| %>
          <% unless s.is_deduction == false %>
      <tr>
        <td class="col-3"><%= s.name  %></td>
        <td><%="%.2f" %(s.amount.to_f) %><%= " Rs"%></td>
      </tr>
            <% end %>
          <% end %>
        <% end %>
      <tr><td colspan="2"></td></tr>
      <tr class="tr-head"><th colspan="2"><%= t('total') %></th></tr>
      <tr>
        <td class="col-3">Net Salary</td>
        <td class="col-3"><%="%.2f" %(@salary.amount.to_f) %><%= " Rs"%></td>
      </tr>
      <tr>
        <td class="col-3">Remark</td>
        <td class="col-3"><%=@salary.is_approved? ? "Approved" : "Pending"%></td>
      </tr>
      <tr><td colspan="2"></td></tr>
    </table>
</div>
      </div>
    </div>
  </div>
</div></div>