<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Finance',finance_index_path %></li>
    <li><%= link_to 'Employee Payslip',payslip_finance_index_path %></li>
    <li>View payslip</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <%= form_for :payslip,url:{action:"view_payslip"},remote:true do |f|%>
    <div class="form-group">
      <%= t('Select Department') %>
      <%= f.select :department, @departments.map {|d| [d.name,d.id]},{prompt:true},class: "form-control"%>
    </div>
    <div class="form-group">
      <%= t('Select Month') %>
      <%= f.select :date, @salary_months.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},{prompt:true},class: "form-control"%>
    </div>
    <%= f.submit "View",class: "btn btn-default"%>
    <%end%>
  </div>
</div>
<div id="payslip"></div>