<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Educulture</title>
  <% if user_signed_in? %>
	<%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track' => true,debug:false%>
  <%else%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true,debug:false%>
  <%end%>
  <%= javascript_include_tag 'vendor', media: 'all', 'data-turbolinks-track' => true%>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if user_signed_in? %>
  	<%= render 'layouts/index'%>
  <%else%>
    <%= render 'layouts/landing_pages'%>
  <%end%>
</body>
</html>
