<div id="calendar-legend">
  <div id="legend-entry">
    <div id="legend-symbol"> <div style='width:12px;height:12px;background:#000000; -moz-border-radius:2px; -webkit-border-radius:2px; margin:4px 3px 3px 3px; float:left;'></div></div>
    <div id="legend-text">Events</div>
  </div>
  <div id="legend-entry">
    <div id="legend-symbol"> <div style='width:12px;height:12px;background:#0C6C92; -moz-border-radius:2px; -webkit-border-radius:2px; margin:4px 3px 3px 3px; float:left;'></div></div>
    <div id="legend-text">Examinations</div>
  </div>
  <div id="legend-entry">
    <div id="legend-symbol"> <div style='width:12px;height:12px;background:#00b400; -moz-border-radius:2px; -webkit-border-radius:2px; margin:4px 3px 3px 3px; float:left;'></div></div>
    <div id="legend-text">Holidays</div>
  </div>
  <div id="legend-entry">
    <div id="legend-symbol"> <div style='width:12px;height:12px;background:#b40000; -moz-border-radius:2px; -webkit-border-radius:2px; margin:4px 3px 3px 3px; float:left;'></div></div>
    <div id="legend-text">Dues</div>
  </div>
</div>
<br/>
<div id="head-month">
  <div class="header">
    <div class="prev">
    <%= link_to "◄",
        
        :url=>{:controller=>"calendar", :action=>"new_calendar"},
        :with   => "'new_month=#{@show_month.month-1}'+ '&passed_date=#{@show_month}'"%>
    </div>is_common
    <div class="month">
      <%= @show_month.strftime('%B %Y') %>
    </div>
    <div class="next">
      <%= link_to "►",
        
        :url=>{:controller=>"calendar", :action=>"new_calendar"},
        :with   => "'new_month=#{@show_month.month+1}'+ '&passed_date=#{@show_month}'"%>
    </div>
    <div class="extender"></div>
  </div>
</div>


<table id="calendar-table" align="center" width="100%">
  <tbody>
    <tr class="week">
      <% @days_of_week= ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"] %>
      <% @days_of_week.each do |d| %>
        <td><span><%= d %></span></td>
      <% end %>
    </tr>
    <tr class="blank"></tr>
    <% (1..6).each do |r|%>
      <tr class="day">
        <% (1..7).each do |c|%>
          <td>
            <% dt = c - @start_date_day + (r-1)*7 %>
            <% unless (r == 1 and c <= @start_date_day) %>
              <% unless dt > @last_day.day %>
                  <div class="link"><%= link_to 'Add',new_event_path(Date.parse("#{@show_month.year}-#{@show_month.month}-#{dt}"))%>
                  <span><%= dt  %></span></div>

                <% date = "#{@show_month.year}-#{@show_month.month}-#{dt}".to_date
                first_day = date.beginning_of_month
                last_day = date.end_of_month
              %>
                
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

